<template>
        <div class="container-fluid">
        
        
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"> <Loader/> </div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">सेवा केन्द्र काे सूची </h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link :to="{name:'Servicecenteradd'}" class="btn btn-success">नयाँ थप्नुहोस् </router-link>
                                </div>
                            </div>
                        </div>
                        <!-- title -->
                    </div>
                    <div class="table-responsive">
                        <table class="table v-middle">
                            <thead>
                                <tr class="bg-light">
                                    <th class="border-top-0">नाम</th>
                                    <th>इ - मेल </th>
                                    <th>सम्पर्क नम्बर</th>
                                    <th>स्थानीय अधिकृत</th>
                                    <th>अद्यावधिक मिति</th>
                                    <th class="border-top-0">कार्य</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr v-for="branch in branchLists" :key="branch.id">
                                    <td>{{branch.name}}</td>
                                     <td>{{branch.email_address}}</td>
                                      <td>{{branch.contact_number}}</td>
                                       <td>{{branch.officer_name}}</td>
                                     <td>{{branch.updated_at}}</td>
                                    <td>
                                    <router-link class="btn btn-info btn-xs" :to="{name: 'Servicecenterdetail',params:{id:branch.id}}">Detail </router-link> | 
                                    <router-link class="btn btn-primary btn-xs" :to="{ name:'Servicecenteredit', params:{ id: branch.id }}">अद्यावधिक </router-link> |
                                     <a href="JavaScript:void(0)" @click="deletecategory(branch.id)" class="btn btn-danger btn-xs">मेट्नुहोस्</a>
                                    </td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
   
    </div>

</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"
export default {
  name: 'Servicecenterlist',
  data () {
       return {
            branchLists:null,
            loading:false,
            id : 0
       }
  },
  components:{
      Loader
  },
  mounted(){ 
      this.branchList();
  },
  methods:{
      branchList(){
        this.loading = true;
          axios.get("servicecenter").then(response=>{
            
              if(response.data.code == 200 && response.data.status==true){
               
                this.branchLists = response.data.data;
                 this.loading =false;
               }else{
                 
                 this.loading =false;
               }  
            })

           
      },

      deletecategory(id){
           var x = confirm("Are you sure you want to delete?");
            if (x){
                this.loading =true;
                axios.delete("servicecenter/"+id).then(
                    response=>{
                        if(response.data.code==200 && response.data.status==true){
                            this.branchList();
                            this.loading =false;
                        }else{
                            this.loading =false;
                        }
                    }
                )
            }
      }
  }
  
}
</script>