<template>

            <div class="container-fluid">
         <form class="form-material"  id="serviceform" method="post"
            @submit.prevent="addForm">
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title"> नयाँ सेवा केन्द्र  </h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link :to="{name:'Servicecenter'}"  class="btn btn-success">सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">

                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">  
                            <div class="row">
                               
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">नाम *</label>
                                        <input type="text" required v-model="name" class="form-control form__input" name="name"/>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>इ - मेल ठेगाना *</label>
                                        <input type="email" required v-model="email_address" class="form-control" name="email"/>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>सम्पर्क नम्बर *</label>
                                        <input type="text" required v-model="contact_number" class="form-control" name="contactnumber"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>जिल्ला *</label>
                                        <select required v-model="district_id" @change="changeItem($event)" class="form-control" name="district">
                                            <option selected v-bind:value="0"> जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>स्थानीय तह *</label>
                                        <select required v-model="municipility_id" class="form-control" name="locallevel">
                                            <option selected :value="0">स्थानीय तह छान्नुहोस् </option>
                                            <option v-for="local in locallevelList" :key="local.id" v-bind:value="local.id">{{local.name}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>वार्ड नं *</label>
                                        <input required type="text" v-model="woda_id" class="form-control" name="wardno"/>
                                    </div>
                                </div>

                               

                                 <div class="col-md-8 ">
                                    <div class="form-group">  
                                        <label>सडक ठेगाना *</label>
                                        <input required type="text" v-model="street_address" class="form-control" name="street"/>
                                    </div>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>हुलाक कोड</label>
                                        <input type="text" v-model="postal_code" class="form-control" name="postal"/>
                                    </div>
                                </div>

                            
                                

       
                                <div class="col-sm-6 ">
                                <div class="form-group">
                                    <br>
                                    <button type="submit"  class="btn btn-success">पेश गर्नुहोस्   </button>
                                </div>
                            </div>

                            </div>   
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

               

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                           <h6>स्थानीय प्रशासक (अधिकारी) काे विवरण</h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                           
                            <div class="col-md-12 ">
                                    <div class="form-group">  
                                        <label> नाम,थर</label>
                                        <input type="text" v-model="officer_name" class="form-control" name="office_name"/>
                                    </div>
                                </div>

                                <div class="col-md-12 ">
                                    <div class="form-group">  
                                        <label>सम्पर्क नम्बर </label>
                                        <input type="text" v-model="officer_phone" class="form-control" name="office_contact"/>
                                    </div>
                                </div>

                                <div class="col-md-12 ">
                                    <div class="form-group">  
                                        <label>पद </label>
                                        <input type="text" v-model="position" class="form-control" name="position"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                 </div>

                  
                  
                
            </div>
        </div>

        </form>

    </div>

</template>






<script>
import axios from 'axios'
import Loader from "../../Loader"

export default {
    name:"Servicecenteradd",
     data(){
        return {
            name:null,
            email_address:null,
            contact_number:null,
            district_id:0,
            municipility_id:0,
            woda_id:"",
            street_address:null,
            postal_code:null,
            user_id:null,

            districtList:{},
            locallevelList:{},

            loading:false
        }
    },
    components:{
        Loader    
    },
    mounted(){
         this.getDistrict();
    },
    methods:{
        addForm(){
            this.loading=true;
            axios.post("servicecenter",{
                name:this.name,
                email_address:this.email_address,
                contact_number:this.contact_number,
                district_id:this.district_id,
                municipility_id:this.municipility_id,
                woda_id:this.woda_id,
                street_address:this.street_address,
                postal_code:this.postal_code,
                user_id:this.user_id,
                officer_name :this.officer_name,
                officer_phone : this.officer_phone,
                position : this.position
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){

                        this.loading=false;
                        this.$router.push({name:"Servicecenter"});
                    }else{
                        this.loading=false;
                    }
                    
                     this.loading=false;
                }
            )
        },
          getDistrict(){
            this.loading=true;
            axios.get("district").then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                         this.districtList = response.data.data;
                         this.loading=false;
                    }
                   
                }
            )
        },
        getLocalLevel(){
            this.loading=true;
            axios.get("getLocalByDistrict/"+this.districtId).then(
                response=>{
                    
                    if(response.data.code==200 && response.data.status==true){
                        this.locallevelList = response.data.data;
                        this.loading=false;
                    }
                }
            )
        },
        changeItem(event) {
            this.districtId = event.target.value;
            this.getLocalLevel();
        }
    }
}
</script>