<template>
<div>
   <Navbar></Navbar>
   <Sidenavbar></Sidenavbar>
         <div class="page-wrapper">
   <div class="container-fluid">
       
        
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                     <div v-if="loading"> <Loader></Loader> </div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">नयाँ नागरिकता</h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link to="/newcitizenship-add" class="btn btn-success">नयाँ नागरिकता</router-link>
                                </div>
                            </div>
                        </div>
                        <!-- title -->
                    </div>
                    <div class="table-responsive">
                        <table class="table v-middle">
                            <thead>
                                <tr class="bg-light">
                                    <th class="border-top-0">नाम</th>
                                     <th class="border-top-0">जन्म मिति</th>
                                    <th class="border-top-0">बाबुको नाम,थर</th>
                                    <th>प्राकर </th>
                                    <th>लिङ्ग</th>
                                    <th>स्थिति </th>
                                    <th colspan="2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr v-for="citizenship in citizenshipList" :key="citizenship.id">
                                    <td>{{citizenship.fname_nep }}  <span v-if="citizenship.mname_nep !== 'null'">{{ citizenship.mname_nep }}</span>  {{ citizenship.lname_nep}}</td>
                                   <td>{{citizenship.dobin_nep}}</td>
                                   <td>{{citizenship.father_f_name}}</td>
                                   <td>
                                       <span v-if="citizenship.type==1">वंशज</span>
                                       <span v-if="citizenship.type==2">अङ्गिकृत</span>
                                       <span v-if="citizenship.type==3">प्रतिलिपि</span>
                                   </td>
                                   <td>
                                       <span v-if="citizenship.gender==0">पुरूष</span>
                                       <span v-if="citizenship.gender==1">महिला</span>
                                   </td>

                                   <td>
                                       <span class="badge badge-primary" v-if="citizenship.status=='pending'">{{citizenship.status}}</span>
                                       <span class="badge badge-success" v-if="citizenship.status=='verified'">{{citizenship.status}}</span>
                                       <span class="badge badge-danger" v-if="citizenship.status=='rejected'">{{citizenship.status}}</span>
                                   </td>

                                    <td>
                                        <router-link class="btn btn-info btn-xs" :to="'/fileupload/'+citizenship.id+'/Newcitizenshiplist'">फायल  </router-link>  |
                                    <router-link class="btn btn-primary btn-xs" :to="'/newcitizenship/edit/'+citizenship.id">अद्यावधिक </router-link> |
                                     <a href="JavaScript:void(0)" @click="deleteCitizenship(citizenship.id)" class="btn btn-danger btn-xs">मेट्नुहोस्</a>
                                    </td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
   </div>
    </div>
</div>
</template>

<script>
import axios from 'axios'
import Loader from "../Loader"
import Navbar from '@/components/Navbar.vue'
import Sidenavbar from '@/components/Sidenavbar.vue'
export default {
  name: 'Newcitizenshiplist',
  data () {
       return {
            citizenshipList:null,
            loading:false,
            id : 0
       }
  },
  components:{
      Loader,
      Navbar,
      Sidenavbar
  },
  mounted(){
      
      this.getAllCitizenship();
  },
  methods:{
      getAllCitizenship(){
        this.loading = true;
          axios.get("new-citizenship").then(response=>{
           // console.log(response);
              if(response.data.code == 200 && response.data.status==true){
               
                this.citizenshipList = response.data.data;
                this.loading=false;
               }else{
                 this.successmsg = false;
               }  
            })

           
      },

      deleteCitizenship(id){
           var x = confirm("Are you sure you want to delete?");
            if (x){
                this.loading=true;
                axios.delete("new-citizenship/"+id).then(
                    response=>{
                        if(response.data.code==200 && response.data.status==true){
                            this.getAllCitizenship()
                            this.loading=false;
                        }else{
                            this.getAllCitizenship()
                            this.loading=false;
                        }

                        
                    }
                )
            }
      }
  }
  
}
</script>