<template>
  <div class="Service">
     <Navbar></Navbar>
      <Sidenavbar></Sidenavbar>

       
  <div class="page-wrapper">
     
            <div class="container-fluid">
         <form class="form-material"  id="serviceform" method="post"
            @submit.prevent="newcitisenshipForm">
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title"> नयाँ नागरिकता (अद्यावधिक)</h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link to="/newcitizenship" class="btn btn-success">नयाँ नागरिकता सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">

                <div class="card">
                      <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body"> 
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">  
                                        <select required @change="citizenshipType($event)"   class="form-control" v-model="types_citizenship" name="types_citizenship">
                                            <option selected :value="0">नागरिकाता को प्राकर रोजुनहोस  </option>
                                            <option  :value="1">वंशज  </option>
                                            <option  :value="2">अङ्गिकृत  </option>
                                            <option  :value="3">प्रतिलिपि  </option>
                                        </select>
                                </div>
                                </div>
                        </div>
                    </div>
                 </div>

                <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">  
                            <div class="row">
                                <div class="col-md-12">
                                   
                                    <h6 class="mb-3">नाम, थर</h6>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">पहिलो नाम *</label>
                                        <input type="text" required v-model="fname_nep" class="form-control form__input" name="fname_nep"/>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बीचको नाम</label>
                                        <input type="text"  v-model="mname_nep" class="form-control" name="mname_nep"/>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>थर *</label>
                                        <input type="text" required v-model="lname_nep" class="form-control" name="lname_nep"/>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>पहिलो नाम  (English) *</label>
                                        <input type="text" required v-model="fname_eng" class="form-control" name="fname_eng"/>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बीचको नाम (English)</label>
                                        <input type="text" v-model="mname_eng" class="form-control" name="mname_eng"/>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>थर (English) *</label>
                                        <input type="text" required v-model="lname_eng" class="form-control" name="lname_eng"/>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>लिङ्ग *</label>
                                        <select v-model="gender" required class="form-control" name="gender">
                                            <option selected value="0">पुरूष </option>
                                            <option value="1">महिला </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>जन्म स्थान *</label>
                                        <input required type="text" v-model="birth_place" class="form-control" name="birth_place"/>
                                    </div>
                                </div>

                            
                                <div class="cleafix"></div>
                                     <hr>
                                <div class="col-md-12 mt-3">
                                    <h6>स्थायी बासस्थान * </h6>
                                </div>
                                

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>जिल्ला *</label>
                                        <select required v-model="addr_district" @change="changeItem($event)" class="form-control" name="addr_district">
                                            <option selected v-bind:value="0">तपाईको जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>स्थानीय तह * </label>
                                        <select required v-model="addr_municipility" class="form-control" name="addr_municipility">
                                            <option selected :value="0">स्थानीय तह छान्नुहोस् </option>
                                            <option v-for="local in locallevelList" :key="local.id" v-bind:value="local.id">{{local.name}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>वार्ड नं </label>
                                        <input type="text" required v-model="addr_wodano" class="form-control" name="addr_wodano"/>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>जन्म मिति (BS) *</label>
                                        <input type="text" required v-model="dobin_nep"  id="birthbs" class="form-control" name="dobin_nep"/>
                                    </div>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>जन्म मिति (AD) *</label>
                                        <input type="text" required v-model="dobin_eng" id="birthad" class="form-control" name="dobin_eng"/>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <h6>बाबुको नाम,थर, ठेगाना , नगरिकता</h6>
                                </div>

                                  <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बाबुको नाम,थर *</label>
                                        <input type="text" required v-model="father_f_name" class="form-control" name="father_f_name"/>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>नगरिकता *</label>
                                        <input type="text" required v-model="father_citizenship_id" class="form-control" name="father_citizenship_id"/>
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>ठेगाना *</label>
                                        <input type="text" required v-model="father_address" class="form-control" name="father_address"/>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>नगरिकता जारी  जिल्ला * </label>
                                        <select v-model="father_citi_issue_district" required  class="form-control" name="addr_district">
                                            <option selected v-bind:value="'null'">जारी  जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>नगरिकता जारी मिति * </label>
                                        <input type="text" required v-model="father_citi_issue" class="form-control nepaliDatePicker" placeholder="YYYY-MM-DD"/>
                                    </div>
                                </div>


                                <div class="col-md-12 mt-3">
                                    <h6>आमाकाे नाम,थर, ठेगाना , नगरिकता</h6>
                                </div>

                                  <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>आमाकाे नाम,थर</label>
                                        <input type="text" v-model="mother_name" class="form-control" name="mother_name"/>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>नगरिकता</label>
                                        <input type="text" v-model="mother_citizenship_id" class="form-control" name="mother_citizenship_id"/>
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>ठेगाना</label>
                                        <input type="text" v-model="mother_address" class="form-control" name="mother_address"/>
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>नगरिकता जारी  जिल्ला  </label>
                                        <select v-model="mother_citi_issue_district"   class="form-control" name="addr_district">
                                            <option selected v-bind:value="'null'">जारी  जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>नगरिकता जारी मिति  </label>
                                        <input type="text"  v-model="mother_citi_issue" class="form-control nepaliDatePicker" placeholder="YYYY-MM-DD"/>
                                    </div>
                                </div>

                                 <div class="col-md-12 mt-3">
                                    <h6>पति / पत्निको नाम थर</h6>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>पति / पत्निको नाम,थर</label>
                                        <input type="text" v-model="husband_or_wife_name" class="form-control" name="husband_or_wife_name"/>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>नगरिकता</label>
                                        <input type="text" v-model="husband_or_wife_citizeship" class="form-control" name="husband_or_wife_citizeship"/>
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>ठेगाना</label>
                                        <input type="text" v-model="husband_or_wife_address" class="form-control" name="husband_or_wife_address"/>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>बिबाह गरेको मिति</label>
                                        <input type="text" v-model="marriage_date" placeholder="YYYY-MM-DD" class="form-control nepaliDatePicker"/>
                                    </div>
                                </div>

                                 <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>बिबाह दर्ता जारी मिति</label>
                                        <input type="text" v-model="marriage_issue_date" placeholder="YYYY-MM-DD" class="nepaliDatePicker form-control" />
                                    </div>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <h6>सनाखत गर्नेको विवरण</h6>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>सनाखत गर्ने काे नाम,थर *</label>
                                        <input type="text" required v-model="proof_name" class="form-control" name="husband_or_wife_name"/>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>सनाखत गर्ने काे नगरिकता *</label>
                                        <input type="text" required v-model="proof_citizen_id" class="form-control" name="husband_or_wife_citizeship"/>
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>सनाखत गर्ने काे नाता *</label>
                                        <input type="text" required v-model="proof_relation" class="form-control" name="husband_or_wife_address"/>
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>नगरिकता जारी  जिल्ला *  </label>
                                        <select v-model="proof_citi_issue_district" required  class="form-control" name="addr_district">
                                            <option selected v-bind:value="'null'">जारी  जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div v-if="this.citizen_type==1" class="col-md-12">
                                    <div class="row">
                                         <div class="col-md-12">
                                            <h6>बंशजकाे नागरिकताकाे हकमा</h6>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>संरक्षकको नाम,थर</label>
                                                <input type="text" v-model="protector_name" class="form-control" name="protector_name"/>
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>नगरिकता</label>
                                                <input type="text" v-model="protector_citizeship" class="form-control" name="protector_citizeship"/>
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>ठेगाना</label>
                                                <input type="text" v-model="protector_address" class="form-control" name="protector_address"/>
                                            </div>
                                        </div>


                                             <br>

                                         <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>जन्म दर्ता नं</label>
                                                <input type="text" v-model="birth_id_no" class="form-control" name="protector_address"/>
                                            </div>
                                        </div>

                                         <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>जन्म दर्ता जारी मिति</label>
                                                <input type="text" v-model="birth_issue_date" placeholder="YYYY-MM-DD" class="form-control nepaliDatePicker" name="protector_address"/>
                                            </div>
                                        </div>

                                         <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>नाम थर </label>
                                                <input type="text" v-model="certificate_name" class="form-control" name="protector_address"/>
                                                <small>शैक्षीक प्रमाण पत्र अनुसारकाे </small>
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>जन्म मिति </label>
                                                <input type="text" v-model="certificate_dob" placeholder="YYYY-MM-DD" class="form-control" name="protector_address"/>
                                                <small>शैक्षीक प्रमाण पत्र अनुसारकाे </small>
                                            </div>
                                        </div>


                                         <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>बसाँइसराई दर्ता नं </label>
                                                <input type="text" v-model="migration_issue_number" class="form-control" name="protector_address"/>
                                                <small>बसाँइसरेकाे अवस्थामा </small>
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>बसाँइसराई दर्ता नं जारी मिति </label>
                                                <input type="text" v-model="migration_issue_date" class="form-control" name="protector_address"/>
                                                <small>बसाँइसरेकाे अवस्थामा</small>
                                            </div>
                                        </div>


                                    </div>
                               
                                </div>

                                <div v-if="this.citizen_type==2"  class="col-md-12">
                                     <div class="row">
                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>पुरा गरेको उमेर</label>
                                                <input type="text" v-model="completed_age" class="form-control" name="completed_age"/>
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>धर्म</label>
                                                <input type="text" v-model="religion" class="form-control" name="religion"/>
                                            </div>
                                        </div>


                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>हुलाक रसीदको नं.</label>
                                                <input type="text" v-model="postal_ticket_no" class="form-control" name="protector_address"/>
                                            </div>
                                        </div>

                                         <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>परीचय पत्रको नं.</label>
                                                <input type="text" v-model="forigen_id_no" class="form-control" name="protector_address"/>
                                                <span>बीदेशी नागरीक भएको परीचय पत्रको नं. (आधार कार्ड)</span>
                                            </div>
                                        </div>

                                         <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label> अवधी (बर्ष / महीना)</label>
                                                <input type="text" v-model="lived_date" class="form-control" name="protector_address"/>
                                                <small>नेपालमा बसोबास गरेको अवधी </small>
                                            </div>
                                        </div>

                                        

                                    </div>
                                </div>

                                <div v-if="this.citizen_type==3" class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>ना. प्र. नं</label>
                                                <input type="text" v-model="citizenship_no" class="form-control" name="citizenship_no"/>
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>ना. प्र. नं जारी मिति</label>
                                                <input type="text" v-model="citizenship_grant_date" class="form-control nepaliDatePicker" name="citizenship_grant_date"/>
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>किसिम</label>
                                                <input type="text" v-model="citizenship_type" class="form-control" name="citizenship_type"/>
                                            </div>
                                        </div>


                                         <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>बसाँइसराई दर्ता नं </label>
                                                <input type="text" v-model="migration_issue_number" class="form-control" name="protector_address"/>
                                                <small>बसाँइसरेकाे अवस्थामा </small>
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>बसाँइसराई दर्ता नं जारी मिति </label>
                                                <input type="text" v-model="migration_issue_date" class="form-control nepaliDatePicker" name="protector_address"/>
                                                <small>बसाँइसरेकाे अवस्थामा</small>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>सम्पर्क नम्बर *</label>
                                        <input type="text" v-model="contact_number" required="" class="form-control" name="postal" autocomplete="off">
                                    </div>
                                </div>
       
                                <div class="col-sm-12 ">
                                <div class="form-group">
                                    <button type="submit"  class="btn btn-success">पेश गर्नुहोस्  </button>
                                </div>
                            </div>

                            </div>   
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

                 


                 <div v-if="this.citizen_type==1" class="card">
                     <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                           <h6>बंशजको नाताले नयाँ नागरिकता </h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                           
                            <ul>
                                <li>जन्म दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                <li>शैक्षिक प्रमाणपत्रको प्रतिलिपी (प्राप्त गरेको भएमा)</li>
                                <li>बसाई सराई गरी आएको भए बसाई सराई दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                <b>नोटः नागिरकता प्रमाणापत्र नलिँदै विवाह भएकी नेपाली महिलाले नागरिकताको प्रमाणपत्र लिनको लागि उल्लेखित कागजातहरूको अतिरिक्त निम्न कागजातहरू समेत समावेश गर्नु पर्नेछः</b>
                                <li>विवाह दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                <li>पतिको नागरिकताको प्रमाणपत्रको प्रतिलिपि</li>
                                <li>सनाखत गर्ने प्रयोजनार्थ पति उपस्थित हुन नसक्ने भएमा ससुरा वा सासु वा जेठाजु वा देवर मध्ये पतिसँग नाता खुलेको एकजनाको नागरिकताको प्रतिलिपि</li>
                                <li>माईती पट्टिको बाबु वा दाजु वा भाइ वा पतिको नाम उल्लेख भएको आमाको नागरिकताको प्रतिलिपी</li>
                                <li>बाबुको नागरीकताको प्रतीलीपी</li>
                                <li>अनुसुची (१) वडा कार्यलयको सीफारीस पत्र</li>
                                <li>सनाखत गर्ने बाबु बाहेक तीन पुस्ता भित्रको व्यत्ति भए निजको  नागरिकता  पनि अपलोड गर्ने </li>
                                <li>किटानि सिफारिस </li>
                                <li>जन्म,बिवाह प्रमाणित </li>
                                <li>प्रहरि तथा  अन्य मुचुल्का </li>
                                <li>फरक नाम थर भयमा एकै व्यक्ति  सिफारिश </li>
                            </ul>

                        </div>
                    </div>
                 </div>

                  <div v-if="this.citizen_type==2" class="card">
                      <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                           <h6>अङ्गिकृत नागिकता  </h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                           
                            <ul>
                                <li>विवाह दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                <li>विदेशी  नागरिकता त्याग्ने कारवाही चलाएको निवेदन र सम्बन्धित निकाय District Magistrate Office of INDIA,गृह मन्त्रालय सिंहदरबार, काठमाण्डौ, भारतीय राजदुतवास लैनचौर काठमाण्डौ, जिल्ला प्रशासन कार्यालय,इलाम) मा  रजिष्ट्रि गरी पठाएको हुलाक रसिद</li>
                                <li>पतिको नागरिकताको प्रमाणपत्रको प्रतिलिपि</li>
                                <li>वैवाहिक अङ्गिकृत नागरिकता प्राप्त गर्नु अगावै पतिको मृत्यु भईसकेको अवस्थामा पतिको मृत्यु दर्ता प्रमाणपत्र </li>
                                <li>पतिसँग नाता खुल्ने तीन पुस्ता भित्रको सनाखत गर्ने नातेदारको नागरिकताको प्रतिलिपि </li>
                                <li>निजको जन्मस्थान र जन्ममिति खुल्ने आधारकार्ड वा सो देशको आधिकारीक परिचयपत्रको प्रतिलिपि</li>
                                <li>अनुसुची (७) वडा कार्यलयको सीफारीस पत्र</li>
                                <li>सनाखत गर्ने बाबु बाहेक तीन पुस्ता भित्रको व्यत्ति भए निजको  नागरिकता  पनि अपलोड गर्ने </li>
                                <li>किटानि सिफारिस </li>
                                <li>जन्म,बिवाह प्रमाणित </li>
                                <li>प्रहरि तथा  अन्य मुचुल्का </li>
                                <li>फरक नाम थर भयमा एकै व्यक्ति  सिफारिश </li>
                            </ul>
                                
                        </div>
                    </div>
                 </div>

                    <div v-if="this.citizen_type==3" class="card">
                        <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                           <h6>नागरिकताको प्रमाण–पत्रको प्रतिलिपि </h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                           
                          <ul>
                            <li>वडा कार्यालयको सिफारिस पत्र</li>
                            <li>झुत्रो भएको नागरिकता वा फोटोकपी</li>
                            <li>नागरिकता वा फोटोकपी नभएमा निजको परिचय खुल्ने अन्य कुनै सरकारी कागजात</li>
                            <li>पतिको नामथर, वतन हटाई माईती तर्फको थर र वतन कायम गरी प्रतिलिपी नागरिकता लिनको लागि अदालतको सम्बन्ध विच्छेदको फैसला र सम्बन्धित स्थानीय तहको सम्बन्ध विच्छेद दर्ता प्रमाणपत्र साथै सनाखत गर्ने प्रयोजनार्थ बाबु वा आमा वा दाजु वा भाइको नागरिकताको प्रतिलिपि</li>
                            <li>बसाँई सरेर आएको भए बसाँइसरेको प्रमाण पत्र</li>
                            <li>सनाखत गर्ने बाबु बाहेक तीन पुस्ता भित्रको व्यत्ति भए निजको  नागरिकता  पनि अपलोड गर्ने </li>
                            <li>किटानि सिफारिस </li>
                            <li>जन्म,बिवाह प्रमाणित </li>
                            <li>प्रहरि तथा  अन्य मुचुल्का </li>
                            <li>फरक नाम थर भयमा एकै व्यक्ति  सिफारिश </li>
                        </ul> 
                        </div>
                    </div>
                 </div>
                
            </div>
        </div>

        </form>

    </div>

        </div>
  </div>
</template>

<script>
//import axios from 'axios'
import Navbar from '@/components/Navbar.vue'
import Sidenavbar from '@/components/Sidenavbar.vue'
import axios from 'axios'
import Loader from '../Loader.vue'
var $ = window.jQuery
//import NepaliFunctions from "../../../public/dist/js/nepali.datepicker.v3.4.min"
export default {
    name: 'Newcitizenshipupdate',
    components:{
        Navbar,
        Sidenavbar,
        Loader
    },
    data(){
        return {
            districtList:null,
            locallevelList:null,
            districtId:null,
            citizen_type:1,
            id:null,
            types_citizenship:0,
            // vue form 
            fname_eng:null,
            fname_nep:null,
            mname_eng:null,
            mname_nep:null,
            lname_eng:null,
            lname_nep:null,
            father_f_name:null,
            father_m_name:null,
            father_l_name:null,
            father_address:null,
            father_citizenship_id:null,
            dobin_eng:null,
            dobin_nep:null,
            gender:0,
            dob_district:null,
            dob_municpality:null,
            dob_wardno:null,
            addr_district:null,
            addr_municipility:null,
            addr_wodano:null,
            mother_name:null,
            mother_address:null,
            mother_citizenship_id:null,
            husband_or_wife_name:null,
            husband_or_wife_address:null,
            husband_or_wife_citizeship:null,
            protector_name:null,
            protector_address:null,
            protector_citizeship:null,
            birth_place:null,
            contact_number:null,

            birth_id_no:null,
            birth_issue_date:null,
            certificate_name:null,
            certificate_dob:null,
            migration_issue_date:null,
            migration_issue_number:null,
            postal_ticket_no:this.null,
            forigen_id_no:null,
            lived_date:null,

            proof_name:null,
            proof_citizen_id:null,
            proof_relation:null,

            father_citi_issue:null,
            mother_citi_issue:null,
            marriage_date:null,
            marriage_issue_date:null,
            father_citi_issue_district:null,
            mother_citi_issue_district:null,
            proof_citi_issue_district:null,

            loading:false
        }
    },
    mounted(){
         this.loading=true;
        this.id = this.$route.params.id;
        this.getcitizenshipById();
        this.getDistrict();
        this.loading=false;

     
        var mainInput = $(".nepaliDatePicker");
        mainInput.nepaliDatePicker({
            unicodeDate:true,
            ndpYear: true,
            ndpMonth: true,
            ndpYearCount: 20
        });
        

        // $("#birthbs").change(function(){
        
        // if($("#birthbs").val() !== 'null'){
        //     var bsParsevalue = $("#birthbs").val();
        // }else{
        //     var bsParsevalue = NepaliFunctions.GetCurrentBsDate();
        // }
        // let bsdateValue = NepaliFunctions.ParseDate(bsParsevalue).parsedDate ;
        // let convertDate = NepaliFunctions.BS2AD(bsdateValue);
        // let adDateValue = NepaliFunctions.ConvertDateFormat(
        //     {
        //     year:convertDate.year,
        //     month:convertDate.month,
        //     day:convertDate.day
        //     },
        //     "YYYY-MM-DD"
        // ) ;
        // $("#birthad").val(adDateValue)
        //     });
        
        
    },
    methods:{

         newcitisenshipForm(){
             this.loading=true;
            axios.patch("new-citizenship/"+this.id,{
                fname_eng:this.fname_eng,
                fname_nep:this.fname_nep,
                mname_eng:this.mname_eng,
                mname_nep:this.mname_nep,
                lname_eng:this.lname_eng,
                lname_nep:this.lname_nep,
                father_f_name:this.father_f_name,
                father_m_name:null,
                father_l_name:null,
                father_address:this.father_address,
                father_citizenship_id:this.father_citizenship_id,
                dobin_eng:this.dobin_eng,
                dobin_nep:this.dobin_nep,
                gender:this.gender,
                dob_district:null,
                dob_municpality:null,
                dob_wardno:null,
                addr_district:this.addr_district,
                addr_municipility:this.addr_municipility,
                addr_wodano:this.addr_wodano,
                mother_name:this.mother_name,
                mother_address:this.mother_address,
                mother_citizenship_id:this.mother_citizenship_id,
                husband_or_wife_name:this.husband_or_wife_name,
                husband_or_wife_address:this.husband_or_wife_address,
                husband_or_wife_citizeship:this.husband_or_wife_citizeship,
                protector_name:this.protector_name,
                protector_address:this.protector_address,
                protector_citizeship:this.protector_citizeship,
                type:this.types_citizenship,
                birth_place:this.birth_place,
                contact_number:this.contact_number,
                birth_id_no:this.birth_id_no,
                birth_issue_date:this.birth_issue_date,
                certificate_name:this.certificate_name,
                certificate_dob:this.certificate_dob,
                migration_issue_date:this.migration_issue_date,
                migration_issue_number:this.migration_issue_number,
                postal_ticket_no:this.postal_ticket_no,
                forigen_id_no:this.forigen_id_no,
                lived_date:this.lived_date,
                proof_name:this.proof_name,
                proof_citizen_id:this.proof_citizen_id,
                proof_relation:this.proof_relation,

                father_citi_issue:this.father_citi_issue,
                mother_citi_issue:this.mother_citi_issue,
                marriage_date:this.marriage_date,
                marriage_issue_date:this.marriage_issue_date,
                father_citi_issue_district:this.father_citi_issue_district,
                mother_citi_issue_district:this.mother_citi_issue_district,
                proof_citi_issue_district:this.proof_citi_issue_district,
            }).then(
                response=>{
                    
                    if(response.data.code==200 && response.data.status==true){
                        this.loading=false;
                        this.$router.push({path: '/fileupload/'+response.data.data.id+"/Newcitizenshiplist"})
                        
                    }else{
                        this.loading=false;
                        this.$router.push({path: '/newcitizenship?error'})
                    }
                }
            ).catch(error=>{
                console.log(error);
                this.$router.push({path: '/newcitizenship?error'});
                this.loading= false;
            })
        },

        getcitizenshipById(){
            this.loading=true;
            axios.get("new-citizenship/"+this.id).then(
                response=>{
                   
                    if(response.data.code==200 && response.data.status==true){
                       
                        this.fname_eng=response.data.data.fname_eng,
                        this.fname_nep=response.data.data.fname_nep,
                        this.mname_eng=response.data.data.mname_eng,
                        this.mname_nep=response.data.data.mname_nep,
                        this.lname_eng=response.data.data.lname_eng,
                        this.lname_nep=response.data.data.lname_nep,
                        this.father_f_name=response.data.data.father_f_name,
                        this.father_m_name=null,
                        this.father_l_name=null,
                        this.father_address=response.data.data.father_address,
                        this.father_citizenship_id=response.data.data.father_citizenship_id,
                        this.dobin_eng=response.data.data.dobin_eng,
                        this.dobin_nep=response.data.data.dobin_nep,
                        this.gender=response.data.data.gender,
                        this.dob_district=null,
                        this.dob_municpality=null,
                        this.dob_wardno=null,
                        this.addr_district=response.data.data.addr_district,
                        this.addr_municipility=response.data.data.addr_municipility,
                        this.addr_wodano=response.data.data.addr_wodano,
                        this.mother_name=response.data.data.mother_name,
                        this.mother_address=response.data.data.mother_address,
                        this.mother_citizenship_id=response.data.data.mother_citizenship_id,
                        this.husband_or_wife_name=response.data.data.husband_or_wife_name,
                        this.husband_or_wife_address=response.data.data.husband_or_wife_address,
                        this.husband_or_wife_citizeship=response.data.data.husband_or_wife_citizeship,
                        this.protector_name=response.data.data.protector_name,
                        this.protector_address=response.data.data.protector_address,
                        this.protector_citizeship=response.data.data.protector_citizeship,
                        this.birth_place = response.data.data.birth_place,
                        this.types_citizenship = response.data.data.type,
                        this.contact_number = response.data.data.contact_number,

                        this.birth_id_no= response.data.data.birth_id_no,
                        this.birth_issue_date= response.data.data.birth_issue_date,
                        this.certificate_name= response.data.data.certificate_name,
                        this.certificate_dob= response.data.data.certificate_dob,
                        this.migration_issue_date= response.data.data.migration_issue_date,
                        this.migration_issue_number= response.data.data.migration_issue_number,
                        this.postal_ticket_no= response.data.data.postal_ticket_no,
                        this.forigen_id_no= response.data.data.forigen_id_no,
                        this.lived_date= response.data.data.lived_date,
                        this.proof_name=response.data.data.proof_name,
                        this.proof_citizen_id=response.data.data.proof_citizen_id,
                        this.proof_relation=response.data.data.proof_relation,

                        this.father_citi_issue=response.data.data.father_citi_issue,
                        this.mother_citi_issue=response.data.data.mother_citi_issue,
                        this.marriage_date=response.data.data.marriage_date,
                        this.marriage_issue_date=response.data.data.marriage_issue_date,
                        this.father_citi_issue_district=response.data.data.father_citi_issue_district,
                        this.mother_citi_issue_district=response.data.data.mother_citi_issue_district,
                        this.proof_citi_issue_district=response.data.data.proof_citi_issue_district,
                        
                        // get cuttent district locallevel
                        this.getLocalLevel(this.addr_district);
                        this.loading=false;
                    }else{
                        this.$router.push({path: '/newcitizenship?error'});
                        this.loading=false;
                    }
                }
            )
        },
        getDistrict(){
            this.loading=true;
            axios.get("district").then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                         this.districtList = response.data.data;
                         this.loading=false;
                    }
                    this.loading=false;
                   
                }
            )
        },
        getLocalLevel(id){
            this.loading=true;
            axios.get("getLocalByDistrict/"+id).then(
                response=>{
                    
                    if(response.data.code==200 && response.data.status==true){
                        this.locallevelList = response.data.data;
                        this.loading=false;
                    }
                    this.loading=false;
                }
            )
        },
        changeItem(event) {
            this.districtId = event.target.value;
            this.getLocalLevel(this.districtId);
        },
        citizenshipType(event){
            this.citizen_type = event.target.value;
        }
       
    }
}
</script>