<template>
  <div class="Service">
     <Navbar></Navbar>
      <Sidenavbar></Sidenavbar>

        <div class="page-wrapper">
            
            <div class="container-fluid">
         <form class="form-material"  id="serviceform" method="post"
            @submit.prevent="newcitisenshipForm">
        <div class="row">
            <!-- column -->
            <div class="col-12">

                

                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title"> 

                                <span v-if="this.citizen_type==1">बंशजको नाताले </span>   
                                 <span v-if="this.citizen_type==2">अङ्गिकृत </span>    
                                  <span v-if="this.citizen_type==3">प्रतिलिपि</span>     
                                नयाँ नागरिकता</h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link to="/newcitizenship" class="btn btn-success">नयाँ नागरिकता सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">
                <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body"> 
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">  
                                        <select @change="citizenshipType($event)" required   class="form-control" v-model="types_citizenship" name="types_citizenship">
                                            <option selected :value="0">नागरिकाता को प्राकर रोजुनहोस  </option>
                                            <option  :value="1">वंशज  </option>
                                            <option  :value="2">अङ्गिकृत   </option>
                                            <option  :value="3">प्रतिलिपि  </option>
                                        </select>
                                </div>
                                </div>
                        </div>
                    </div>
                 </div>
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">  
                            <div class="row">
                                <div class="col-md-12">
                                   
                                    <h6 class="mb-3">नाम, थर</h6>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">पहिलो नाम *</label>
                                        <input type="text" required v-model="fname_nep" class="form-control form__input" />
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बीचको नाम</label>
                                        <input type="text" v-model="mname_nep" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>थर *</label>
                                        <input type="text" required v-model="lname_nep" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>पहिलो नाम  (English) *</label>
                                        <input type="text" required v-model="fname_eng" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बीचको नाम (English)</label>
                                        <input type="text"  v-model="mname_eng" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>थर (English) *</label>
                                        <input type="text" required v-model="lname_eng" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>लिङ्ग * </label>
                                        <select v-model="gender" required class="form-control" >
                                            <option selected value="0">पुरूष </option>
                                            <option value="1">महिला </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>जन्म स्थान * </label>
                                        <input type="text" required v-model="birth_place" class="form-control" />
                                    </div>
                                </div>

                            
                                <div class="cleafix"></div>
                                     <hr>
                                <div class="col-md-12 mt-3">
                                    <h6>स्थायी बासस्थान</h6>
                                </div>
                                

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>जिल्ला</label>
                                        <select v-model="addr_district" required @change="changeItem($event)" class="form-control">
                                            <option selected v-bind:value="0">तपाईको जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>स्थानीय तह</label>
                                        <select v-model="addr_municipility" required class="form-control">
                                            <option selected :value="0">स्थानीय तह छान्नुहोस् </option>
                                            <option v-for="local in locallevelList" :key="local.id" v-bind:value="local.id">{{local.name}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>वार्ड नं * </label>
                                        <input type="text" required v-model="addr_wodano" class="form-control"/>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                               
                                <br>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>जन्म मिति (BS) * </label>
                                        <input type="text" id="birthbs" required v-model="dobin_nep" class="form-control" placeholder="YYYY-MM-DD" />
                                    </div>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>जन्म मिति (AD) * </label>
                                        <input type="text" id="birthad" v-model="dobin_eng" class="form-control" placeholder="YYYY-MM-DD" />
                                    </div>
                                </div>

                                
                                <div class="col-md-12 mt-3">
                                    <h6>बाबुको नाम,थर, ठेगाना , नगरिकता</h6>
                                </div>

                                  <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बाबुको नाम,थर * </label>
                                        <input type="text" required v-model="father_f_name" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>नगरिकता * </label>
                                        <input type="text" required v-model="father_citizenship_id" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>ठेगाना *</label>
                                        <input type="text" required v-model="father_address" class="form-control" />
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>नगरिकता जारी  जिल्ला * </label>
                                        <select v-model="father_citi_issue_district" required  class="form-control">
                                            <option selected v-bind:value="'null'">जारी  जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>नगरिकता जारी मिति * </label>
                                        <input type="text"  required v-model="father_citi_issue" class="form-control nepaliDatePicker" placeholder="YYYY-MM-DD"/>
                                    </div>
                                </div>


                                <div class="col-md-12 mt-3">
                                    <h6>आमाकाे नाम,थर, ठेगाना , नगरिकता</h6>
                                </div>

                                  <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>आमाकाे नाम,थर</label>
                                        <input type="text" v-model="mother_name" class="form-control"/>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>नगरिकता</label>
                                        <input type="text" v-model="mother_citizenship_id" class="form-control"/>
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>ठेगाना</label>
                                        <input type="text" v-model="mother_address" class="form-control"/>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>नगरिकता जारी  जिल्ला  </label>
                                        <select v-model="mother_citi_issue_district"   class="form-control" >
                                            <option selected v-bind:value="'null'">जारी  जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>नगरिकता जारी मिति  </label>
                                        <input type="text"  v-model="mother_citi_issue" class="form-control nepaliDatePicker" placeholder="YYYY-MM-DD"/>
                                    </div>
                                </div>


                                 <div class="col-md-12 mt-3">
                                    <h6>पति / पत्निको नाम थर</h6>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>पति / पत्निको नाम,थर</label>
                                        <input type="text" v-model="husband_or_wife_name" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>नगरिकता</label>
                                        <input type="text" v-model="husband_or_wife_citizeship" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>ठेगाना</label>
                                        <input type="text" v-model="husband_or_wife_address" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>बिबाह गरेको मिति</label>
                                        <input type="text" v-model="marriage_date" placeholder="YYYY-MM-DD" class="form-control nepaliDatePicker"/>
                                    </div>
                                </div>

                                 <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>बिबाह दर्ता जारी मिति</label>
                                        <input type="text" v-model="marriage_issue_date" placeholder="YYYY-MM-DD" class="form-control nepaliDatePicker" />
                                    </div>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <h6>सनाखत गर्नेको विवरण</h6>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>सनाखत गर्ने काे नाम,थर *</label>
                                        <input type="text" required v-model="proof_name" class="form-control"/>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>सनाखत गर्ने काे नगरिकता *</label>
                                        <input type="text" required v-model="proof_citizen_id" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>सनाखत गर्ने काे नाता *</label>
                                        <input type="text" required v-model="proof_relation" class="form-control" />
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>नगरिकता जारी  जिल्ला *  </label>
                                        <select v-model="proof_citi_issue_district" required  class="form-control" >
                                            <option selected v-bind:value="'null'">जारी  जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div v-if="this.citizen_type==1" class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6>बंशजकाे नागरिकताकाे हकमा</h6>
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>संरक्षकको नाम,थर</label>
                                                <input type="text"  v-model="protector_name" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>नगरिकता</label>
                                                <input type="text" v-model="protector_citizeship" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>ठेगाना</label>
                                                <input type="text" v-model="protector_address" class="form-control" />
                                            </div>
                                        </div>

                                        
                                        <br>

                                         <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>जन्म दर्ता नं</label>
                                                <input type="text" v-model="birth_id_no" class="form-control" />
                                            </div>
                                        </div>

                                         <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>जन्म दर्ता जारी मिति</label>
                                                <input type="text" v-model="birth_issue_date" placeholder="YYYY-MM-DD" class="nepaliDatePicker form-control" />
                                            </div>
                                        </div>

                                         <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>नाम थर </label>
                                                <input type="text" v-model="certificate_name" class="form-control" />
                                                <small>शैक्षीक प्रमाण पत्र अनुसारकाे </small>
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>जन्म मिति </label>
                                                <input type="text" v-model="certificate_dob" class="form-control nepaliDatePicker" placeholder="YYYY-MM-DD"/>
                                                <small>शैक्षीक प्रमाण पत्र अनुसारकाे </small>
                                            </div>
                                        </div>


                                         <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>बसाँइसराई दर्ता नं </label>
                                                <input type="text" v-model="migration_issue_number" class="form-control" />
                                                <small>बसाँइसरेकाे अवस्थामा </small>
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>बसाँइसराई दर्ता नं जारी मिति </label>
                                                <input type="text" v-model="migration_issue_date" class="form-control nepaliDatePicker"/>
                                                <small>बसाँइसरेकाे अवस्थामा</small>
                                            </div>
                                        </div>



                                    </div>
                               
                                </div>

                                <div v-if="this.citizen_type==2"  class="col-md-12">
                                     <div class="row">
                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>पुरा गरेको उमेर</label>
                                                <input type="text" required v-model="completed_age" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>धर्म</label>
                                                <input type="text" required v-model="religion" class="form-control" />
                                            </div>
                                        </div>


                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>हुलाक रसीदको नं.</label>
                                                <input type="text"  v-model="postal_ticket_no" class="form-control" />
                                            </div>
                                        </div>

                                         <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>परीचय पत्रको नं.</label>
                                                <input type="text" v-model="forigen_id_no" class="form-control"/>
                                                <small>बीदेशी नागरीक भएको परीचय पत्रको नं. (आधार कार्ड)</small>
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label> अवधी (बर्ष / महीना)</label>
                                                <input type="text" v-model="lived_date" class="form-control" />
                                                <small>नेपालमा बसोबास गरेको अवधी </small>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div v-if="this.citizen_type==3" class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>ना. प्र. नं</label>
                                                <input type="text" required v-model="citizenship_no" class="form-control"/>
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>ना. प्र. नं जारी मिति </label>
                                                <input type="text" required  v-model="citizenship_grant_date" class="form-control nepaliDatePicker" />
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>किसिम</label>
                                                <input type="text" required v-model="citizenship_type" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>बसाँइसराई दर्ता नं </label>
                                                <input type="text" v-model="migration_issue_number" class="form-control" />
                                                <small>बसाँइसरेकाे अवस्थामा </small>
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div class="form-group">  
                                                <label>बसाँइसराई दर्ता नं जारी मिति </label>
                                                <input type="text" v-model="migration_issue_date" class="form-control nepaliDatePicker" />
                                                <small>बसाँइसरेकाे अवस्थामा</small>
                                            </div>
                                        </div>
                                        
                                    </div>

                                </div>


                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>सम्पर्क नम्बर *</label>
                                        <input type="text" v-model="contact_number" required="" class="form-control"  autocomplete="off">
                                    </div>
                                </div>


                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <br>
                                <button type="submit"  class="btn btn-success"> कागजपत्र अपलोड गर्नुहोस  </button>
                                </div>
                            </div>
                            
                            </div>   
                    </div>
                  
                </div>

                
                
            </div>

            <div class="col-4">

                 


                 <div v-if="this.citizen_type==1" class="card">
                     <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                           <h6>बंशजको नाताले नयाँ नागरिकता </h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                           
                            <ul>
                                <li>जन्म दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                <li>शैक्षिक प्रमाणपत्रको प्रतिलिपी (प्राप्त गरेको भएमा)</li>
                                <li>बसाई सराई गरी आएको भए बसाई सराई दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                <b>नोटः नागिरकता प्रमाणापत्र नलिँदै विवाह भएकी नेपाली महिलाले नागरिकताको प्रमाणपत्र लिनको लागि उल्लेखित कागजातहरूको अतिरिक्त निम्न कागजातहरू समेत समावेश गर्नु पर्नेछः</b>
                                <li>विवाह दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                <li>पतिको नागरिकताको प्रमाणपत्रको प्रतिलिपि</li>
                                <li>सनाखत गर्ने प्रयोजनार्थ पति उपस्थित हुन नसक्ने भएमा ससुरा वा सासु वा जेठाजु वा देवर मध्ये पतिसँग नाता खुलेको एकजनाको नागरिकताको प्रतिलिपि</li>
                                <li>माईती पट्टिको बाबु वा दाजु वा भाइ वा पतिको नाम उल्लेख भएको आमाको नागरिकताको प्रतिलिपी</li>
                                 <li>बाबुको नागरीकताको प्रतीलीपी</li>
                                <li>अनुसुची (१) वडा कार्यलयको सीफारीस पत्र</li>
                                <li>सनाखत गर्ने बाबु बाहेक तीन पुस्ता भित्रको व्यत्ति भए निजको  नागरिकता  पनि अपलोड गर्ने </li>
                                <li>किटानि सिफारिस </li>
                                <li>जन्म,बिवाह प्रमाणित </li>
                                <li>प्रहरि तथा  अन्य मुचुल्का </li>
                                <li>फरक नाम थर भयमा एकै व्यक्ति  सिफारिश </li>
                            </ul>

                        </div>
                    </div>
                 </div>

                  <div v-if="this.citizen_type==2" class="card">
                      <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                           <h6>अङ्गिकृत नागिकता  </h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                           
                            <ul>
                                <li>विवाह दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                <li>विदेशी  नागरिकता त्याग्ने कारवाही चलाएको निवेदन र सम्बन्धित निकाय District Magistrate Office of INDIA,गृह मन्त्रालय सिंहदरबार, काठमाण्डौ, भारतीय राजदुतवास लैनचौर काठमाण्डौ, जिल्ला प्रशासन कार्यालय,इलाम) मा  रजिष्ट्रि गरी पठाएको हुलाक रसिद</li>
                                <li>पतिको नागरिकताको प्रमाणपत्रको प्रतिलिपि</li>
                                <li>वैवाहिक अङ्गिकृत नागरिकता प्राप्त गर्नु अगावै पतिको मृत्यु भईसकेको अवस्थामा पतिको मृत्यु दर्ता प्रमाणपत्र </li>
                                <li>पतिसँग नाता खुल्ने तीन पुस्ता भित्रको सनाखत गर्ने नातेदारको नागरिकताको प्रतिलिपि </li>
                                <li>निजको जन्मस्थान र जन्ममिति खुल्ने आधारकार्ड वा सो देशको आधिकारीक परिचयपत्रको प्रतिलिपि</li>
                                <li>अनुसुची (७) वडा कार्यलयको सीफारीस पत्र</li>
                                <li>सनाखत गर्ने बाबु बाहेक तीन पुस्ता भित्रको व्यत्ति भए निजको  नागरिकता  पनि अपलोड गर्ने </li>
                                <li>किटानि सिफारिस </li>
                                <li>जन्म,बिवाह प्रमाणित </li>
                                <li>प्रहरि तथा  अन्य मुचुल्का </li>
                                <li>फरक नाम थर भयमा एकै व्यक्ति  सिफारिश </li>
                            </ul>
                                
                        </div>
                    </div>
                 </div>

                    <div v-if="this.citizen_type==3" class="card">
                        <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                           <h6>नागरिकताको प्रमाण–पत्रको प्रतिलिपि </h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                           
                          <ul>
                            <li>वडा कार्यालयको सिफारिस पत्र</li>
                            <li>झुत्रो भएको नागरिकता वा फोटोकपी</li>
                            <li>नागरिकता वा फोटोकपी नभएमा निजको परिचय खुल्ने अन्य कुनै सरकारी कागजात</li>
                            <li>पतिको नामथर, वतन हटाई माईती तर्फको थर र वतन कायम गरी प्रतिलिपी नागरिकता लिनको लागि अदालतको सम्बन्ध विच्छेदको फैसला र सम्बन्धित स्थानीय तहको सम्बन्ध विच्छेद दर्ता प्रमाणपत्र साथै सनाखत गर्ने प्रयोजनार्थ बाबु वा आमा वा दाजु वा भाइको नागरिकताको प्रतिलिपि</li>
                            <li>बसाँई सरेर आएको भए बसाँइसरेको प्रमाण पत्र</li>
                            <li>सनाखत गर्ने बाबु बाहेक तीन पुस्ता भित्रको व्यत्ति भए निजको  नागरिकता  पनि अपलोड गर्ने </li>
                            <li>किटानि सिफारिस </li>
                            <li>जन्म,बिवाह प्रमाणित </li>
                            <li>प्रहरि तथा  अन्य मुचुल्का </li>
                            <li>फरक नाम थर भयमा एकै व्यक्ति  सिफारिश </li>
                        </ul> 
                        </div>
                    </div>
                 </div>
                
            </div>
        </div>

        </form>

    </div>

        </div>

  </div>
</template>

<script>
//import axios from 'axios'

import Navbar from '@/components/Navbar.vue'
import Sidenavbar from '@/components/Sidenavbar.vue'
import axios from 'axios'
import Loader from "../Loader"
export default {
    name: 'Newcitizenshipadd',
    components:{
        Navbar,
        Sidenavbar,
        Loader
    },
    mounted() {
        this.getDistrict();        
    },
    data(){
        return {
            districtList:null,
            locallevelList:null,
            districtId:null,
            citizen_type:this.$route.query.type,
             types_citizenship:this.$route.query.type,
            // vue form 
            fname_eng:null,
            fname_nep:null,
            mname_eng:null,
            mname_nep:null,
            lname_eng:null,
            lname_nep:null,
            father_f_name:null,
            father_m_name:null,
            father_l_name:null,
            father_address:null,
            father_citizenship_id:null,
            dobin_eng:null,
            dobin_nep:null,
            gender:0,
            dob_district:null,
            dob_municpality:null,
            dob_wardno:null,
            addr_district:0,
            addr_municipility:0,
            addr_wodano:null,
            mother_name:null,
            mother_address:null,
            mother_citizenship_id:null,
            husband_or_wife_name:null,
            husband_or_wife_address:null,
            husband_or_wife_citizeship:null,
            protector_name:null,
            protector_address:null,
            protector_citizeship:null,
           
            birth_place:null,
            contact_number:null,

            birth_id_no:null,
            birth_issue_date:null,
            certificate_name:null,
            certificate_dob:null,
            migration_issue_date:null,
            migration_issue_number:null,
            postal_ticket_no:this.null,
            forigen_id_no:null,
            lived_date:null,

            proof_name:null,
            proof_citizen_id:null,
            proof_relation:null,
            
            father_citi_issue:null,
            mother_citi_issue:null,
            marriage_date:null,
            marriage_issue_date:null,
            father_citi_issue_district:null,
            mother_citi_issue_district:null,
            proof_citi_issue_district:null,
            

            loading:false
        }
    },
    watch:{
        '$route.query.type': function (type) {
            this.types_citizenship = type;
            this.citizen_type = type;
        }
    },
    methods:{
        newcitisenshipForm(){
            this.loading=true;
            axios.post("new-citizenship",{
                fname_eng:this.fname_eng,
                fname_nep:this.fname_nep,
                mname_eng:this.mname_eng,
                mname_nep:this.mname_nep,
                lname_eng:this.lname_eng,
                lname_nep:this.lname_nep,
                father_f_name:this.father_f_name,
                father_m_name:null,
                father_l_name:null,
                father_address:this.father_address,
                father_citizenship_id:this.father_citizenship_id,
                dobin_eng:this.dobin_eng,
                dobin_nep:this.dobin_nep,
                gender:this.gender,
                dob_district:null,
                dob_municpality:null,
                dob_wardno:null,
                addr_district:this.addr_district,
                addr_municipility:this.addr_municipility,
                addr_wodano:this.addr_wodano,
                mother_name:this.mother_name,
                mother_address:this.mother_address,
                mother_citizenship_id:this.mother_citizenship_id,
                husband_or_wife_name:this.husband_or_wife_name,
                husband_or_wife_address:this.husband_or_wife_address,
                husband_or_wife_citizeship:this.husband_or_wife_citizeship,
                protector_name:this.protector_name,
                protector_address:this.protector_address,
                protector_citizeship:this.protector_citizeship,
                type:this.types_citizenship,
                birth_place:this.birth_place,
                contact_number:this.contact_number,
                birth_id_no:this.birth_id_no,
                birth_issue_date:this.birth_issue_date,
                certificate_name:this.certificate_name,
                certificate_dob:this.certificate_dob,
                migration_issue_date:this.migration_issue_date,
                migration_issue_number:this.migration_issue_number,
                postal_ticket_no:this.postal_ticket_no,
                forigen_id_no:this.forigen_id_no,
                lived_date:this.lived_date,
                proof_name:this.proof_name,
                proof_citizen_id:this.proof_citizen_id,
                proof_relation:this.proof_relation,
                father_citi_issue:this.father_citi_issue,
                mother_citi_issue:this.mother_citi_issue,
                marriage_date:this.marriage_date,
                marriage_issue_date:this.marriage_issue_date,
                father_citi_issue_district:this.father_citi_issue_district,
                mother_citi_issue_district:this.mother_citi_issue_district,
                proof_citi_issue_district:this.proof_citi_issue_district,
            }).then(
                response=>{
                    
                    if(response.data.code==200 && response.data.status==true){
                        this.loading=false;
                        this.$router.push({path: '/fileupload/'+response.data.data.id+"/Newcitizenshiplist"})
                    }else{
                        this.loading=false;
                        this.$router.push({path: '/newcitizenship?error'})
                    }
                }
            )
        },

        getDistrict(){
            this.loading=true;
            axios.get("district").then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                         this.districtList = response.data.data;
                         this.loading=false;
                    }
                   
                }
            )
        },
        getLocalLevel(){
            this.loading=true;
            axios.get("getLocalByDistrict/"+this.districtId).then(
                response=>{
                    
                    if(response.data.code==200 && response.data.status==true){
                        this.locallevelList = response.data.data;
                        this.loading=false;
                    }
                }
            )
        },
        changeItem(event) {
            this.districtId = event.target.value;
            this.getLocalLevel();
        },
        citizenshipType(event){
            this.loading=true;
            this.citizen_type = event.target.value;
            this.loading=false;
        }


    }
}
</script>