<template>

            <div class="container-fluid">
       
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">इलाका </h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link :to="{name:'Branch'}" class="btn btn-success"> सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-header">
                        <h5>इलाका  विवरण </h5>
                    </div>
                    <div class="card-body"> 
                        <div class="row">
                               
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">नाम</label>
                                        <p>{{branchData.name}}</p>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>इ - मेल ठेगाना </label>
                                        <p>{{branchData.email_address}}</p>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>सम्पर्क नम्बर *</label>
                                        <p>{{branchData.contact_number}}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>जिल्ला </label>
                                         <p>{{addr_district}}</p>
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>स्थानीय तह </label>
                                        <p>{{addr_municipility}}</p>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>वार्ड नं </label>
                                        <p>{{branchData.woda_id}}</p>
                                    </div>
                                </div>

                               

                                 <div class="col-md-8 ">
                                    <div class="form-group">  
                                        <label>सडक ठेगाना </label>
                                       <p>{{branchData.street_address}}</p>
                                    </div>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>हुलाक कोड</label>
                                        <p>{{branchData.postal_code}}</p>
                                    </div>
                                </div>

                            </div>   
                    </div>
                  
                </div>


                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-header">
                        <h5>प्रयोगकर्ता विवरण </h5>
                    </div>
                    <div class="card-body"> 
                       
                      <div class="row">
                            <div class="col-md-6  userloginDetail">
                                <div class="row">
                                   
                                    <div class="col-md-12">
                                        <label>ईमेल ठेगाना (लगइन प्रयोगकर्ता नाम)</label>
                                        <p>{{userData.email}}</p>
                                    </div>

                                    <div class="col-md-12">
                                        <label>प्रमाणीकरण </label>
                                        <p>{{userData.email_verified_at}}</p>
                                    </div>

                                    <div class="col-md-12 passwordbox">
                                        <label>पासवर्ड</label>
                                        <p @click="showPassBox()"><span class="badge badge-success btn-xs"> 
                                            पासवर्ड परिवर्तन गर्न यहाँ क्लिक गर्नुहोस्
                                        </span></p>
                                    </div>

                                    <div class="col-md-12">
                                        <label>जारी मिति</label>
                                        <p>{{userData.created_at}}</p>
                                    </div>

                                    <div class="col-md-12">
                                        <label>अद्यावधिक मिति</label>
                                        <p>{{userData.updated_at}}</p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <form v-if="changePasssBox" @submit.prevent="changePass">
                                <div class="row">
                                <div v-if="loadingPass"><Loader></Loader></div>

                                    
                                    <div class="col-md-12">
                                        <div v-if="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                                            <strong>सफल </strong> <p> पासवर्ड सफलतापूर्वक बदलिएको छ </p>
                                        </div>
                                        <div v-if="validaitonErr" class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <strong>त्रुटी </strong> <p> पासवर्ड र सुनिश्चित पासवर्ड मेल खाएन कृपया फेरि प्रयास गर्नुहोस्</p>
                                        </div>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label>नया पासवर्ड</label>
                                        <input required type="password" class="form-control" name="password" v-model="newPassword"/>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label>पासवर्ड सुनिश्चित गर्नुहोस</label>
                                        <input required type="password" class="form-control" name="cpassword" v-model="confirmPassword"/>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <button type="submit" class="btn btn-success btm-sm">पासवर्ड परिवर्तन गर्नुहोस्</button>
                                    </div>
                                </div>
                                </form>
                            </div>


                      </div>
                       
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                         <h6>स्थानीय प्रशासक (अधिकारी) काे विवरण</h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">  
                                    <label>नाम,थर</label>
                                    <p>{{branchData.officer_name}}</p>
                                </div>
                            </div>

                            <div class="col-md-12 ">
                                <div class="form-group">  
                                    <label>सम्पर्क नम्बर</label>
                                    <p>{{branchData.officer_phone}}</p>
                                </div>
                            </div>

                            <div class="col-md-12 ">
                                <div class="form-group">  
                                    <label>पद</label>
                                    <p>{{branchData.position}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                
            </div>
        </div>

       

    </div>


</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"

export default {
    name: 'Branchdetail',
    components:{
        Loader
    },
   
    data(){
        return {
            branchData:{},
            id:null,
            loading:false,
            loadingPass:false,

            addr_district:null,
            addr_municipility:null,

            changePasssBox:false,
            userData:{},

            userId:null,
            confirmPassword:null,
            Password:null,
            validaitonError:null,
            validaitonErr:false,
            successMessage:false
        }
    },
     mounted(){
        this.id = this.$route.params.id;
        this.getById(this.id);
    },
    methods: {
        showPassBox(){
            this.changePasssBox=true;
        },
        getById(id){
            this.loading=true;
            axios.get("branch/"+id).then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                        this.branchData = response.data.data;
                        this.getDistrict(response.data.data.district_id);
                        this.getlocalLevel(response.data.data.municipility_id);
                        this.getuserById(response.data.data.user_id);
                        this.loading=false;
                    }else{
                        this.loading=false;
                    }
                }
            )
        },
        getDistrict(id){
             this.loading=true;
            axios.get("district/"+id).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.addr_district= response.data.data.name_nep;
                         this.loading=false;
                    }else{
                         this.loading=false;
                    }
                }
            )
        },
        getlocalLevel(id){
              this.loading=true;
            axios.get("local-level/"+id).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.addr_municipility= response.data.data.name;
                         this.loading=false;
                    }else{
                         this.loading=false;
                    }
                }
            )
        },
        getuserById(userid){
             this.loading=true;
            axios.get("user/"+userid).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.userData = response.data.data;
                        this.userId = response.data.data.id;
                        this.loading=false;
                    }else{
                         this.loading=false;
                    }
                }
            )
        },
        changePass(){
            this.loadingPass = true;
            axios.post("chagepass/"+this.userId,{
                password:this.newPassword,
                c_password:this.confirmPassword
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.loadingPass=false;
                        this.successMessage = true;
                        this.validaitonErr = false;
                    }else {
                        this.loadingPass=false;
                    }
                }
            ).catch(
                error=>{
                    // Getting error reponse from server error.response.data
                    if(error.response.status == 411){
                        this.validaitonError = error.response.data.data.error;
                        this.loadingPass=false;
                        this.successMessage = false;
                        this.validaitonErr = true;
                    }else{
                         this.loadingPass=false;
                    }
                }
            )
        }
      

      

        

       

      
    }
   

}
</script>



<style scoped>
    label{
        font-weight:bold;
    }
    .userloginDetail{
        border-right:1px solid #dedede;
    }
    .passwordbox p{
        cursor: pointer;
    }
</style>