<template>
  <div class="Service">

        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">निवेदन, 
                                <span v-if="citizenshipData.type==1">अन्य  व्यहोरा </span>    
                                <span v-if="citizenshipData.type==2">आदिबासी जनजाति</span> 
                                <span v-if="citizenshipData.type==3">अल्पसंख्यक,दलित</span> 
                                प्रमाणित
                                </h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link to="/admin" class="btn btn-success"> सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">
                 <div  class="card">
                        <div v-if="loadingWoda"><Loader></Loader></div>
                          <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                         <h6>सम्बन्धित  सेवा केन्द्रकाे विवरण</h6>
                     </div>
                    <div class="card-body">
                      
                        <div class="row">
                            <div class="col-md-4">
                                {{userDetail.name}}<br>
                                <small>सेवा केन्द्र</small>
                                
                            </div>
                            <div class="col-md-4">
                                 {{userDetail.municipility}}<br>
                                <small>न.पा / गा.पा</small>
                                
                            </div>

                             <div class="col-md-4">
                                 {{userDetail.ilaka}}<br>
                                <small>इलाका</small>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-header">
                        <h5 class="float-left"> <span v-if="citizenshipData.type==1">अन्य  व्यहोरा </span>    
                                <span v-if="citizenshipData.type==2">आदिबासी जनजाति</span> 
                                <span v-if="citizenshipData.type==3">अल्पसंख्यक,दलित</span> प्रमाणित  निवेदक को बिबरण  </h5>
                        <span class="float-right">
                              <span class="badge badge-primary" v-if="citizenshipData.status=='pending'">{{citizenshipData.status}}</span>
                    <span class="badge badge-success" v-if="citizenshipData.status=='verified'">{{citizenshipData.status}}</span>
                    <span class="badge badge-danger" v-if="citizenshipData.status=='rejected'">{{citizenshipData.status}}</span>
                
                        </span>
                    </div>
                    <div class="card-body applicantDetail"> 
                       <div class="row">
                            <div class="col-md-8 ">
                                    <div class="form-group">  
                                        <label class="formlabel"> आवेदकको नाम </label>
                                        <p>{{citizenshipData.name}}</p>
                                    </div>
                                    
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">परिचय पत्र नं </label>
                                        
                                         <p>{{citizenshipData.citizenship_id}}</p>
                                    </div>
                                    
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">पति / पत्निको नाम,थर </label>
                                        
                                         <p>{{citizenshipData.husband_wife}}</p>
                                    </div>
                                    
                                </div>

                               


                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>जिल्ला  </label>
                                         <p>{{addr_district}}</p>
                                       
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>स्थानीय तह </label>
                                         <p>{{addr_municipility}}</p>
                                       
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>वार्ड नं </label>
                                         <p>{{citizenshipData.woda}}</p>
                                       
                                    </div>
                                </div>


                               

                                <div class="col-md-12">
                                    <hr>
                                </div>

                               <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बुवाको नाम  </label>
                                        <p>{{citizenshipData.father_name}}</p>
                                        
                                    </div>
                                    
                                </div>
                               
                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>आमाको नाम  </label>
                                        <p>{{citizenshipData.mother_name}}</p>
                                        
                                    </div>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>हजुरबुवाको नाम</label>
                                        <p>{{citizenshipData.grand_father_name}}</p>
                                        
                                    </div>
                                </div>
                               

                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>सम्पर्क नम्बर</label>
                                         <p>{{citizenshipData.contact_number}}</p>
                                        
                                    </div>
                                </div>
                       </div>
                    </div>
                  
                </div>

                <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-header">
                        <h5>फाईलहरू  </h5>
                    </div>
                    <div class="card-body"> 

                        <div v-for="file in fileList" :key="file.id" class="row">
                            <div class="col-md-8">
                                <span>{{file.file_name}}</span> <br>
                                <small v-if="! file.file_description">{{file.file_description}}</small>
                            </div>
                            <div class="col-md-4">
                                <router-link target="_blank" :to="{ name:'Showimage', params:{ querystring:file.file_path}}" traget="_blank"><img :src="'data:image/png;base64,'+file.file_path" class="fileuploadImage"/> </router-link>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                       
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

                <div v-if="citizenshipData.type == 3 || citizenshipData.type ==2" class="card">
                     <div v-if="loadingProof"><Loader></Loader></div>
                     <div class="card-header">
                         <h6>प्रमाणित फाईल</h6>
                     </div>
                    <div class="card-body">
                        
                        <div v-if="fileDetail.length > 0" class="col-md-12">
                            <button v-if="userType !=='user' && citizenshipData.status !=='verified'"  @click="deleteDocument(fileDetail[0].id)" class="btn btn-xs btn-danger filedelete">Delete</button>
                           <div align="center">
                               
                               <img :src="'data:image/png;base64,'+fileDetail[0].file_path" width="150" height="200"/>
                           </div>
                            
                        </div>

                        <div class="col-md-12">
                            <br>
                            <p>आदिबासी जनजाति अल्पसंख्यक र दलित को लागी </p> 
                        </div>

                        <div class="col-md-12" v-if="fileDetail.length==0">
                            
                             <form  method="post"  @submit.prevent="uploadFile()"> 
                                <div class="row">
                                    <div class="col-md-12 tex-center">
                                        <input  type="file" required id="file" ref="file" class="mt-4" name="file"/>
                                    </div>

                                    <div class="col-md-12">
                                        <br>
                                        <div class="form-group">
                                            <label>फाइल को नाम  </label>
                                            <input type="text" required v-model="file_name" class="form-control btn-block"/>
                                        </div>

                                        
                                        <div class="form-group">
                                            <button type="submit" name="submit" class="form-control btn-primary"> फाइल अपलोड गर्नुहोस  </button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
                 <div v-if="userType !=='user' && citizenshipData.status !=='verified'" class="card">
                     <div v-if="loadingPass"><Loader></Loader></div>
                     <div class="card-header">
                         <h6>कार्य</h6>
                     </div>
                    <div class="card-body">
                       <form  method="post" @submit.prevent="addForm">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>कार्य छनौट गर्नुहोस्</label>
                                    <select required class="form-control" v-model="status" name="types_citizenship">
                                         <option :value="0">कार्य छनौट गर्नुहोस्</option>
                                        <option value="verified">स्वीकृत </option>
                                        <option value="rejected">अस्वीकृत </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>कारण</label>
                                    <textarea v-model="description" class="form-control" rows="5"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-primary" type="submit">पेश गर्नुहोस् </button>
                                </div>
                            </div>
                        </form>
                    </div>
                 </div>

                   <div class="card">
                        <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                         <h6>ईतिहास</h6>
                     </div>
                    <div class="card-body">
                        <div class="row">
                            <table class="table">
                                <tr>
                                    <th>स्थिति</th>
                                    <th>मिति</th>
                                </tr>

                                  <tr v-for="history in historyList" :key="history.id">
                                    <td>{{history.status}}</td>
                                    <td>{{history.created_at}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                 </div>
                
            </div>
        </div>

       

    </div>


</template>

<script>
import axios from 'axios'
import Loader from '../../Loader.vue'
export default {
  components: { Loader },
    name: 'Proofview',
   
    data(){
        return {
            citizenshipData:{},
            id:null,
            addr_district:null,
            fileDetail:{},
            assetUrl:null,
            addr_municipility:null,
            loading:false,
            loadingPass:false,
            loadingProof:false,

            // history propoties
            status:0,
            description:null,
            type:"Prooflist",
            historyList:{},

            file:null,
            file_name:null,
            file_description:null,
            categoryId:0,
            actionType:"ProofReply",

            userDetail:{}
        }
    },
    mounted(){
        this.id = this.$route.params.id;
        this.citizenshipDtl(this.id);
        this.getFileById();
        this.assetUrl = process.env.VUE_APP_API_ASSETS,
        this.getByCatId();
        this.getReplyFileById();
    },
    methods: {  
        citizenshipDtl(id){
            this.loading=true;
            axios.get("proof/"+id).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.citizenshipData = response.data.data;
                        this.getDistrict(response.data.data.district_id);
                        this.getlocalLevel(response.data.data.local_level_id);
                        this.getUserDetail(response.data.data.user_id);
                         this.loading=false;
                    }else{
                        this.loading=false;
                    }
                }
            )
        },
        getDistrict(id){
             this.loading=true;
            axios.get("district/"+id).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.addr_district= response.data.data.name_nep;
                         this.loading=false;
                    }else{
                         this.loading=false;
                    }
                }
            )
        },

         getlocalLevel(id){
              this.loading=true;
            axios.get("local-level/"+id).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.addr_municipility= response.data.data.name;
                         this.loading=false;
                    }else{
                         this.loading=false;
                    }
                }
            )
        },
         getFileById(){
            this.loading = true;
            axios.post("filewithtype",{
                catid:this.id,
                type:this.type
            }).then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                        this.fileList = response.data.data;
                        this.loading=false;
                    }else{
                         this.loading=false;
                    }
                }
            ).catch(error=>{
                console.log(error);
                this.loading = false;
            })
        },
        addForm(){
            this.loadingPass=  true;
            axios.post("history",{
                status:this.status,
                description:this.description,
                type:this.type,
                category_id:this.id
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                      
                        this.status = 0;
                        this.description="";
                        this.loadingPass=  false;
                        this.getByCatId();
                    }else{
                         this.loadingPass=  false;
                    }
                }
            ).catch(
                error=>{
                    console.log('Erorr', error);
                     this.loadingPass=  false;
                }
            )
        },
        getByCatId(){
            this.loading = true;
            axios.post("historyBycatId",{
                catid:this.id,
                type:this.type
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status ==true){
                        this.historyList = response.data.data;
                        this.loading = false;
                    }else{
                        this.loading = false;
                    }
                }
            ).catch(
                error=>{
                    console.log('Error', error);
                     this.loading = false;
                }
            )
        },
        uploadFile(){
            this.loadingProof=true;
            this.file = this.$refs.file.files[0];
            let formData = new FormData();
            formData.append('file', this.file);
            formData.append("category_id",this.id);
            formData.append("file_name",this.file_name);
            formData.append("file_description",this.file_description);
            formData.append("type",this.actionType);

            axios.post('fileupload', formData,
            {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then( 
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                    //console.log(response.data);

                    this.getReplyFileById();

                    this.file_name = "";
                    this.file_description="";
                    this.loadingProof=false;
                    }else{
                        this.loadingProof  = false;
                        console.log("file error");
                    }
                }
            )
            
        },
        getReplyFileById(){
            this.loadingProof=true;
            axios.post("filewithtype",{
                catid:this.id,
                type:this.actionType
            }).then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                        this.fileDetail = response.data.data;
                        this.loadingProof=false;
                    }else{
                         this.loadingProof=false;
                    }
                }
            )
        },
        deleteDocument(id){
            
            var x = confirm("Are you sure you want to delete?");
            if (x){
                this.loadingProof=true;
                axios.delete("fileupload/"+id).then(
                    response=>{
                        if(response.data.code == 200 && response.data.status==true){
                             this.getReplyFileById();
                             this.loadingProof=false;
                        }else{
                             this.getReplyFileById();
                             this.loadingProof=false;
                             console.log("error");
                        }
                         this.loadingProof=false;

                        
                    }
                    
                )
            }else{
                console.log('Error', 'File cannot be delete');
            }
        },
        getUserDetail(id){
             this.loadingWoda = true;
            axios.get("userbyservice/"+id).then(response=>{
                if(response.data.code == 200 && response.data.status==true){
                    this.userDetail = response.data.data[0];
               
                    this.loadingWoda = false;
                }else{
                    this.loadingWoda = false;
                }
            }).catch(error=>{
                 this.loadingWoda = false;
                console.log(error);
                
            })
        }
      
    }
   

}
</script>


<style scoped>
    .applicantDetail hr{
        margin-top: 0rem;
        border-top: 1px solid #0000000d;
    }
    .applicantDetail label{
        font-weight:bold;
    }
    .fileuploadImage{
        width:100%;
        height:80px;
    }
    .filedelete{
        position:absolute;
        right: 0;
    }
</style>