<template>

            <div class="container-fluid">
         <form class="form-material"  id="serviceform" method="post"
            @submit.prevent="addForm">
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title"> एकै व्यक्ति प्रमाणित (नयाँ ) </h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link :to="{name:'Nameage'}"  class="btn btn-success"> सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">

                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">  
                            <div class="row">
                               <div class="col-md-12">
                                   <h4> हालको नागरिकता विवरण </h4>
                               </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label class="formlabel"> ना.प्र.नं  *</label>
                                        <input type="text" required v-model="curent_citizenship_id" class="form-control form__input" name="name"/>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label> जारी मिति * </label>
                                        <input type="text" required v-model="current_issue_date" class="form-control nepaliDatePicker" name="email"/>
                                    </div>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>सम्पर्क नम्बर *</label>
                                        <input type="text" v-model="contact_number" required="" class="form-control" name="postal" autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <hr>
                                </div>

                                 <div class="col-md-12">
                                     <br>
                                   <h4> परिवर्तन  हुन आवश्यक  विवरण </h4>
                                   <p>तल दिईएका विवरण सबै बैकल्पिक हुन कृपया आवश्यक विवरण प्रविष्ट गर्नुहोला</p>
                               </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>पूरा नाम (Eng) </label>
                                        <input type="text"  v-model="full_name_eng" class="form-control" name="contactnumber"/>
                                    </div>
                                    
                                </div>
                               
                                 <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>पूरा नाम (Nepali)</label>
                                        <input  type="text" v-model="full_name_nep" class="form-control" name="street"/>
                                    </div>
                                </div>

                                 <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>जन्म मिति</label>
                                        <input type="text" v-model="date_of_birth" class="form-control nepaliDatePicker" name="postal"/>
                                    </div>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>जारी मिति</label>
                                        <input type="text" v-model="issue_date" class="form-control nepaliDatePicker" name="postal"/>
                                    </div>
                                </div>


                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>बुबा / आमाको नाम</label>
                                        <input type="text" v-model="father_mother_name" class="form-control" name="postal"/>
                                    </div>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>जन्म स्थान</label>
                                        <input type="text" v-model="birth_place" class="form-control" name="postal"/>
                                    </div>
                                </div>
                            
                                

       
                                <div class="col-sm-12 ">
                                <div class="form-group">
                                    <br>
                                    <button type="submit"  class="btn btn-success">पेश गर्नुहोस्   </button>
                                </div>
                            </div>

                            </div>   
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

               

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                           <h6>आवश्यक कागजातहरु</h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                            <h6>नामथर </h6> 
                            <ul>
                                <li>नागरिकता प्रमाणपत्र र विवरण फरक परेको कागजात ।</li>
                                <li>एस।एल।सी।रएस।इ।इ।वा सो सरहको उमेर खुलेको प्रमाण–पत्र</li>
                                <li>शिक्षा विकास तथा समन्वय इकाई तथा सम्बन्धित शैक्षिक संस्थाको सिफारिस पत्र</li>
                                <li>सम्बन्धित वडा कार्यलयको सीफारीस</li>
                            </ul>


                            <h6>उमेर </h6>
                            <ul>
                                <li>नागरिकता प्रमाण–पत्र र विवरण फरक परेको कागजात ।</li>
                                <li>एस।एल।सी।रएस।इ।इ।को वा अन्य उमेर खुलेको प्रमाण–पत्र</li>
                                <li>शिक्षा विकास तथा समन्वय इकाई तथा सम्बन्धित शैक्षिक संस्थाको सिफारिस पत्र ९उमेर खुलेको प्रमाण–पत्र लिएको ६ महिना भित्र निवेदन दिई सक्नु पर्नेछ ।</li>
                                <li>सम्बन्धित वडा कार्यलयको सीफारीस</li>
                            </ul>

                                
                        </div>
                    </div>
                 </div>

                  
                  
                
            </div>
        </div>

        </form>

    </div>

</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"
export default {
    name:"Nameageadd",
    data(){
        return {
            curent_citizenship_id:null,
            current_issue_date:null,
            full_name_eng:null,
            full_name_nep:null,
            date_of_birth:null,
            issue_date:null,
            father_mother_name:null,
            birth_place:null,
            contact_number:null,
            loading:false
        }
    },
    components:{
        Loader    
    },
    mounted(){
        
       
    },
    methods:{
        addForm(){
            this.loading=true;
            axios.post("changecitizenship",{
                curent_citizenship_id:this.curent_citizenship_id,
                current_issue_date:this.current_issue_date,
                full_name_eng:this.full_name_eng,
                full_name_nep:this.full_name_nep,
                date_of_birth:this.date_of_birth,
                issue_date:this.issue_date,
                father_mother_name:this.father_mother_name,
                birth_place:this.birth_place,
                contact_number:this.contact_number
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){

                        this.loading=false;
                        this.$router.push({name:"Fileuploadlist",params:{id:response.data.data.id,type:'Nameage'}});
                    }else{
                        this.loading=false;
                    }
                    
                     this.loading=false;
                }
            )
        }
    }
}
</script>