<template>

   <div class="container-fluid">
        
        
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"> <Loader/> </div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">एकै व्यक्ति प्रमाणित</h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link :to="{name:'Nameageadd'}" class="btn btn-success">नयाँ थप्नुहोस् </router-link>
                                </div>
                            </div>
                        </div>
                        <!-- title -->
                    </div>
                    <div class="table-responsive">
                        <table class="table v-middle">
                            <thead>
                                <tr class="bg-light">
                                    <th class="border-top-0">ना.प्र.नं </th>
                                    <th>जारी मिति </th>
                                    <th>अद्यावधिक मिति</th>
                                    <th colspan="3">स्थिति </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr v-for="branch in branchLists" :key="branch.id">
                                    <td>{{branch.curent_citizenship_id}}</td>
                                     <td>{{branch.current_issue_date}}</td>
                                     <td>{{branch.updated_at}}</td>
                                      <td>
                                       <span class="badge badge-primary" v-if="branch.status=='pending'">{{branch.status}}</span>
                                       <span class="badge badge-success" v-if="branch.status=='verified'">{{branch.status}}</span>
                                       <span class="badge badge-danger" v-if="branch.status=='rejected'">{{branch.status}}</span>
                                   </td>

                                    <td v-if="branch.status !== 'verified'">
                                    <!-- <router-link class="btn btn-info btn-xs" :to="{name: 'BranchDetail',params:{id:branch.id}}">Detail </router-link> |  -->
                                    <router-link class="btn btn-primary btn-xs" :to="{ name:'Nameageedit', params:{ id: branch.id }}">अद्यावधिक </router-link> |
                                     <a href="JavaScript:void(0)" @click="deletecategory(branch.id)" class="btn btn-danger btn-xs">मेट्नुहोस्</a>
                                    </td>
                                    <td v-else></td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
   
    </div>



</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"
export default {
  name: 'Nameagelist',
  data () {
       return {
            branchLists:null,
            loading:false,
            id : 0
       }
  },
  components:{
      Loader
  },
  mounted(){ 
      this.branchList();
  },
  methods:{
      branchList(){
        this.loading = true;
          axios.get("changecitizenship").then(response=>{
            
              if(response.data.code == 200 && response.data.status==true){
               
                this.branchLists = response.data.data;
                 this.loading =false;
               }else{
                 
                 this.loading =false;
               }  
            })

           
      },

      deletecategory(id){
           var x = confirm("Are you sure you want to delete?");
            if (x){
                this.loading =true;
                axios.delete("changecitizenship/"+id).then(
                    response=>{
                        if(response.data.code==200 && response.data.status==true){
                            this.branchList();
                            this.loading =false;
                        }else{
                            this.loading =false;
                        }
                    }
                )
            }
      }
  }
  
}
</script>