<template>
  <div class="Service">
     <Navbar></Navbar>
      <Sidenavbar></Sidenavbar>

        <div class="page-wrapper">

            <div class="container-fluid">
       
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">User</h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link to="/userlist" class="btn btn-success"> सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-header">
                        <h5>User Detail </h5>
                    </div>
                    <div class="card-body"> 
                       <div class="row">
                           <div class="col-md-3">
                               <label>Name</label>
                               <p>{{userData.name}}</p>
                           </div>
                            <div class="col-md-3">
                               <label>Email</label>
                               <p>{{userData.email}}</p>
                           </div>

                           <div class="col-md-3">
                               <label>Role</label>
                               <p>{{assignUser.user_type}}</p>
                           </div>
                       </div>
                    </div>
                  
                </div>


                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-header">
                        <h5>Permission </h5>
                    </div>
                    <div class="card-body"> 
                       
                      
                        <form   method="post"  @submit.prevent="addPermission()"> 
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <tr>
                                            <th colspan="2">Menu</th>
                                            
                                            <!-- <td>Add</td>
                                            <td>Edit</td>
                                            <td>View</td>
                                            <td>Delete</td> -->
                                        </tr>
                                        <tr v-for="(cat, index) in categoryList" :key="cat.id">
                                            <td>{{index}}</td>
                                            <td> {{cat.name}}</td>
                                          
                                            <td>  <input :checked="checked"  :name="permission.index" :value="cat.id" v-model="permission" type="checkbox"/></td>
                                            <!-- <td><input type="checkbox"/></td>
                                            <td><input type="checkbox"/></td>
                                            <td><input type="checkbox"/></td>
                                            <td><input type="checkbox"/></td> -->
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">Assign</button>
                                </div>

                            </div>
                        </form>
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                         <h6>छोटो जानकारी</h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                          
                        </div>
                    </div>
                 </div>
                
            </div>
        </div>

       

    </div>

        </div>

  </div>
</template>

<script>
import axios from 'axios'
import Navbar from '@/components/Navbar.vue'
import Sidenavbar from '@/components/Sidenavbar.vue'
import Loader from "../Loader"

export default {
    name: 'Userdetail',
    components:{
        Navbar,
        Sidenavbar,
        Loader
    },
   
    data(){
        return {
            categoryList:null,
            userData:[],
            userId:null,
            assignUser:[],
            permission:[],
            id:null,
            assignedRoles:null,
            loading:false
        }
    },
     mounted(){
        this.userId = this.$route.params.id;
        this.getCategory();
        this.userDetails();
    },
    methods: {
        getCategory(){
            this.loading=true;
            axios.get("category").then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                        this.categoryList = response.data.data;
                        this.loading=false;
                    }else{
                        this.loading=false;
                    }
                }
            )
        },
        userDetails(){
            this.loading=true;
            axios.get("getuser").then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                        this.userData = response.data.data;
                        this.assignUser = response.data.data.assign_users;
                        this.id = this.assignUser.id;
                        this.assignedRoles= this.assignUser.permission;

                        this.loading=false;
                    }else{
                        this.loading=false;
                    }
                }
            )
        },

        addPermission(){
            this.loading=true;
            axios.post("assign",{
                permission:this.permission,
                id:this.id
            }).then(
                response=>{
                    if(response.data.code==200 & response.data.status==true){
                       
                        this.userDetails();
                        this.loading=false;
                    }else{
                        this.loading=false;
                    }
                }
            )
        }

        

       

      
    }
   

}
</script>