<template>

            <div class="container-fluid">
         <form class="form-material"  id="serviceform" method="post"
            @submit.prevent="newUseraddForm">
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title"> नयाँ प्रयोगकर्ता</h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link to="/userlist" class="btn btn-success">नयाँ प्रयोगकर्ता काे सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">

                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">  
                            <div class="row">
                                <div class="col-md-12">
                                   
                                    <h6 class="mb-3">नाम, थर</h6>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">पहिलो नाम *</label>
                                        <input type="text" v-model="fname_nep" class="form-control form__input" name="fname_nep"/>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बीचको नाम</label>
                                        <input type="text" v-model="mname_nep" class="form-control" name="mname_nep"/>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>थर *</label>
                                        <input type="text" v-model="lname_nep" class="form-control" name="lname_nep"/>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>पहिलो नाम  (English) *</label>
                                        <input type="text" v-model="fname_eng" class="form-control" name="fname_eng"/>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बीचको नाम (English)</label>
                                        <input type="text" v-model="mname_eng" class="form-control" name="mname_eng"/>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>थर (English) *</label>
                                        <input type="text" v-model="lname_eng" class="form-control" name="lname_eng"/>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>लिङ्ग</label>
                                        <select v-model="gender" class="form-control" name="gender">
                                            <option selected value="0">पुरूष </option>
                                            <option value="1">महिला </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>जन्म स्थान</label>
                                        <input type="text" v-model="birth_place" class="form-control" name="birth_place"/>
                                    </div>
                                </div>

                            
                                

       
                                <div class="col-sm-6 ">
                                <div class="form-group">
                                    <br>
                                    <button type="submit"  class="btn btn-success"> कागजपत्र अपलोड गर्नुहोस  </button>
                                </div>
                            </div>

                            </div>   
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

               

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                           <h6>संरक्षकको नाम, थर र ठेगाना </h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                           
                            <div class="col-md-12 ">
                                    <div class="form-group">  
                                        <label>संरक्षकको नाम,थर</label>
                                        <input type="text" v-model="protector_name" class="form-control" name="protector_name"/>
                                    </div>
                                </div>

                                <div class="col-md-12 ">
                                    <div class="form-group">  
                                        <label>नगरिकता</label>
                                        <input type="text" v-model="protector_citizeship" class="form-control" name="protector_citizeship"/>
                                    </div>
                                </div>

                                <div class="col-md-12 ">
                                    <div class="form-group">  
                                        <label>ठेगाना</label>
                                        <input type="text" v-model="protector_address" class="form-control" name="protector_address"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                 </div>

                  
                  
                
            </div>
        </div>

        </form>

    </div>

</template>

<script>
import Loader from '../Loader'
export default {
    name:"Useradd",
    components:{
        Loader    
    },
    mounted(){

    },
    methods:{
        newUseraddForm(){
            axios.post("",{
                
            }).then(
                response=>{
                    console.log(response.data.data);
                }
            )
        }
    }
}
</script>