<template>
   <div>
   <Navbar></Navbar>
   <Sidenavbar></Sidenavbar>
         <div class="page-wrapper">
   <div class="container-fluid">
        
        
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"> <Loader/> </div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">प्रयोगकर्ता काे सूची</h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link to="/admin/user/add" class="btn btn-success">नयाँ थप्नुहोस् </router-link>
                                </div>
                            </div>
                        </div>
                        <!-- title -->
                    </div>
                    <div class="table-responsive">
                        <table class="table v-middle">
                            <thead>
                                <tr class="bg-light">
                                    <th class="border-top-0">नाम</th>
                                    <th class="border-top-0">कार्य</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr v-for="user in userLists" :key="user.id">
                                    <td>{{user.name}}</td>
                                    <!-- <td>
                                        <label v-if="category.active==1" class="label label-info">Yes</label>
                                        <label v-if="category.active==0" class="label label-danger">No</label>
                                    </td> -->
                                    <td>
                                    <router-link class="btn btn-primary btn-xs" :to="'/userdetail/'+user.id">अद्यावधिक </router-link> |
                                     <a href="JavaScript:void(0)" @click="deletecategory(user.id)" class="btn btn-danger btn-xs">मेट्नुहोस्</a>
                                    </td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
   
    </div>

    </div>
   
    </div>

</template>

<script>
import axios from 'axios'
import Loader from "../Loader"
import Navbar from '@/components/Navbar.vue'
import Sidenavbar from '@/components/Sidenavbar.vue'
export default {
  name: 'Userlist',
  data () {
       return {
            userLists:null,
            loading:false,
            id : 0
       }
  },
  components:{
      Loader,
      Navbar,
      Sidenavbar
  },
  mounted(){ 
      this.userList();
  },
  methods:{
      userList(){
        this.loading = true;
          axios.get("userlist").then(response=>{
            
              if(response.data.code == 200 && response.data.status==true){
               
                this.userLists = response.data.data;
                 this.loading =false;
               }else{
                 
                 this.loading =false;
               }  
            })

           
      },

      deletecategory(id){
           var x = confirm("Are you sure you want to delete?");
            if (x){
                this.loading =true;
                axios.delete("category/"+id).then(
                    response=>{
                        if(response.data.code==200 && response.data.status==true){
                            this.userList()
                            this.loading =false;
                        }else{
                            this.loading =false;
                        }
                    }
                )
            }
      }
  }
  
}
</script>