<template>
      <table class="table v-middle">
          <div v-if="loading"><Loader></Loader></div>
                            <thead>
                                <tr class="bg-light">
                                    <th class="border-top-0">आवेदकको नाम  </th>
                                    <th>सम्पर्क नम्बर</th>
                                    <th>परिचय पत्र नं</th>
                                    <th>भुपु सैनिक को नाम</th>
                                    <th>अद्यावधिक मिति</th>
                                     <th  class="border-top-o">स्थिति</th>
                                    <th class="border-top-0">कार्य</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr v-for="branch in branchLists" :key="branch.id">
                                    <td>{{branch.name}}</td>
                                     <td>{{branch.contact_number}}</td>
                                      <td>{{branch.citizenship_id}}</td>
                                       <td>{{branch.ex_army_name}}</td>
                                     <td>{{branch.updated_at}}</td>

                                      <td><span class="badge badge-primary" v-if="branch.status=='pending'">{{branch.status}}</span>
                                            <span class="badge badge-success" v-if="branch.status=='verified'">{{branch.status}}</span>
                                            <span class="badge badge-danger" v-if="branch.status=='rejected'">{{branch.status}}</span>
                                        </td>
                                    <td>
                                   
                                    <router-link class="btn btn-primary btn-xs" :to="{ name:'Exarmydetail', params:{ id: branch.id }}"> विवरण हेर्नुहोस्  </router-link>
                                     
                                    </td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>


</template>

<script>
import axios from "axios"
import Loader from "../../Loader"
export default {
  name: 'Exarmylist',
  component:{
      Loader
  },
  data(){
      return{
          branchLists:{},
          limit:10,
          loading:false
      }
  },
  mounted(){
      this.getCitizenship();
  },  
  methods:{
      getCitizenship(){
          this.loading=true;
          axios.get("exarmy").then(
              response=>{
                  if(response.data.code == 200 && response.data.status==true){
                      this.branchLists = response.data.data
                      this.loading=false;
                  }else{
                      this.loading=false;
                  }
                  
              }
          )
      }
  }
}
</script>