<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>सेवा प्रवाह तथा ब्यबस्थापन प्रणली :: जिल्ला प्रशासन कार्यालय, इलाम</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="Service Delivery Management System"
        content="Service Delivery Management System">
    <meta name="robots" content="noindex,nofollow">
    <link rel="canonical" href="" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon.ico">
    <!-- Custom CSS -->
    <link  href="./assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet">
    <link href="./assets/libs/nepalidate/nepali.datepicker.v3.4.min.css"></link>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
    <style>

.file-list{
  border-bottom:1px solid #dedede80;
  padding:2%;
  margin-bottom:0.5px;
}
.file-list:last{
  border-bottom:none;
}

.navCard .card .card-header{
  padding: 5px !important;
}

.navCard .card {
  margin-bottom: 0px;
  border-bottom: 1px solid #fff;
}

.navCard .card .card-body{
  padding: 0px;
}
.navCard .card .card-body li{
    list-style: none;
    padding-top: 4.5%;
}

.navCard .card .card-header .mdi{
    font-size: 20px;
}

.navCard .card .card-body ul{
  margin-left: -14px;
}
.fileuploadImage{
  width: 100%;
}
body{
  font-family: 'Baloo 2', cursive;
}
</style>


  </head>
  <body>

  

    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
     <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  
    <div id="app"></div>
    </div>
    <!-- built files will be auto injected -->
  </body>

     <script
     src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
     integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
     crossorigin="anonymous"></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="http://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/js/nepali.datepicker.v3.4.min.js" type="text/javascript"></script>
    <link href="http://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/css/nepali.datepicker.v3.4.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
      //window.onload = function() {
        var mainInput = $(".nepaliDatePicker");
        mainInput.nepaliDatePicker({
          unicodeDate:true,
          ndpYear: true,
          ndpMonth: true,
          ndpYearCount: 20
        });


        $("#birthbs").change(function(){
        
          if($("#birthbs").val() !== 'null'){
            var bsParsevalue = $("#birthbs").val();
          }else{
            var bsParsevalue = NepaliFunctions.GetCurrentBsDate();
          }
          var bsdateValue = NepaliFunctions.ParseDate(bsParsevalue).parsedDate ;
          var convertDate = NepaliFunctions.BS2AD(bsdateValue);
          var adDateValue = NepaliFunctions.ConvertDateFormat(
              {
                year:convertDate.year,
                month:convertDate.month,
                day:convertDate.day
              },
              "YYYY-MM-DD"
            ) ;
          $("#birthad").val(adDateValue)
				});

     // };
  </script>


    
    
</html>
