<template>
<div>
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-5">
                <h4 class="page-title">ड्यासबोर्ड</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          
                            <li class="breadcrumb-item active" aria-current="page">ड्यासबोर्ड</li>
                        </ol>
                    </nav>
                </div>
            </div>
            
        </div>
    </div>


    <div class="container-fluid">
        <DashboardIcons></DashboardIcons>
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">भर्खरै प्राप्त भयका निबेदन हरु </h4>
                                <h5 class="card-subtitle">नया निबेदन हरु को जानकारी </h5>
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                    <select @change="changeTable($event)" class="custom-select">
                                        <option value="Citizenshiplist" selected>नागरिकता</option>
                                        <option value="Nameagelistadmin">एकै व्यक्ति प्रमाणित</option>
                                        <option value="Exforigenlist">वैदेशिक रोजगारीमा मृत्यु /घाइते  भएका</option>
                                        <option value="Prooflist"> अन्य व्यहोरा प्रमाणित गर्ने </option>
                                        <option value="Exarmylist"> विवरण प्रमाणित (भू.पू. भा. सैनिक)</option>
                                         <option value="Relieflist"> पूर्ण र आंशिक क्षति (प्राकृतिक प्रकोप) </option>
                                    </select>

                                    
                                </div>
                            </div>
                        </div>
                        <!-- title -->
                    </div>
                    <div class="table-responsive">
                        <component :is="activeTab"/>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
 </div>
</template>

<script>
import axios from "axios"
import Citizenshiplist from "@/components/admin/citizenship/Citizenshiplist.vue"
import Nameagelistadmin from '@/components/admin/citizenchange/Nameagelistadmin'
import DashboardIcons from "../admin/dashboard/DashboardIcons"
import Exforigenlist from "../admin/exforigen/Exforigenlist"
import Prooflist from "../admin/proof/Prooflist"
import Exarmylist from "../admin/exarmy/Exarmylist"
import Relieflist from "../admin/relief/Relieflist"

import Loader from '../Loader'
export default {
  name: 'AdminDashboard',
  components: {
    Citizenshiplist,
    Loader,
    Nameagelistadmin,
    DashboardIcons,
    Exforigenlist,
    Prooflist,
    Exarmylist,
    Relieflist
  },
  data(){
      return{
          userType:null,
          activeTab:'Citizenshiplist'
      }
  },
  mounted(){
      this.getuser();
  },
  methods:{
      getuser(){
          this.loading=true;
      axios.get("getuser").then(
        response=>{
          this.userType   = response.data.data.assign_users.user_type;
          localStorage.setItem("user_type",this.userType);
          this.loading=false;
        }
      )
    },

    changeTable(event){
        this.loading = true;
        this.activeTab = event.target.value;
         this.loading = false;
    }
  }
}
</script>

