<template>

   <div class="container-fluid">
        
        
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"> <Loader></Loader> </div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">नावालक परिचय पत्र</h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link :to="{name:'MinorAdd'}" class="btn btn-success">नयाँ थप्नुहोस् </router-link>
                                </div>
                            </div>
                        </div>
                        <!-- title -->
                    </div>
                    <div class="table-responsive">
                       <table class="table v-middle">
                            <thead>
                                <tr class="bg-light">
                                    <th class="border-top-0">नाम</th>
                                     <th class="border-top-0">जन्म मिति</th>
                                    <th class="border-top-0">बाबुको नाम,थर</th>
                                    <th>जन्म स्थान </th>
                                    <th>लिङ्ग</th>
                                     <th>अद्यावधिक मिति</th>
                                    <th colspan="3">स्थिति </th>
                                   
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr v-for="citizenship in citizenshipList" :key="citizenship.id">
                                    <td>{{citizenship.fname_nep +" "+ citizenship.mname_nep +" "+ citizenship.lname_nep}}</td>
                                   <td>{{citizenship.dob_nep}}</td>
                                   <td>{{citizenship.father_name_nep}}</td>
                                    <td>{{citizenship.birth_place_nep}}</td>
                                  
                                   <td>
                                       <span v-if="citizenship.sex_nep==0">पुरूष</span>
                                       <span v-if="citizenship.sex_nep==1">महिला</span>
                                   </td>

                                    <td>{{citizenship.updated_at}}</td>

                                   <td>
                                       <span class="badge badge-primary" v-if="citizenship.status=='pending'">{{citizenship.status}}</span>
                                       <span class="badge badge-success" v-if="citizenship.status=='verified'">{{citizenship.status}}</span>
                                       <span class="badge badge-danger" v-if="citizenship.status=='rejected'">{{citizenship.status}}</span>
                                   </td>

                                  

                                    <td v-if="citizenship.status !== 'verified'">
                                        <router-link class="btn btn-info btn-xs" :to="{ name:'Fileuploadlist', params:{ id: citizenship.id,type:'MinorList' }}">फायल  </router-link>  |
                                    <router-link class="btn btn-primary btn-xs" :to="{ name:'MinorEdit', params:{ id: citizenship.id }}">अद्यावधिक </router-link> |
                                     <a href="JavaScript:void(0)" @click="deleteCitizenship(citizenship.id)" class="btn btn-danger btn-xs">मेट्नुहोस्</a>
                                    </td>
                                    <td v-else></td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
   
    </div>



</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"
export default {
  name: 'MinorList',
  data () {
       return {
            citizenshipList:{},
            loading:false,
            id : 0
       }
  },
  components:{
      Loader
  },

  mounted(){ 
      this.branchList();
  },
  methods:{
      branchList(){
        this.loading = true;
          axios.get("minor").then(response=>{
            
              if(response.data.code == 200 && response.data.status==true){
               
                this.citizenshipList = response.data.data;
                 this.loading =false;
               }else{
                 
                 this.loading =false;
               }  
            }).catch(error=>{
                 this.loading =false;
                console.log(error);
            })

           
      },

      deletecategory(id){
           var x = confirm("Are you sure you want to delete?");
            if (x){
                this.loading =true;
                axios.delete("minor/"+id).then(
                    response=>{
                        if(response.data.code==200 && response.data.status==true){
                            this.branchList();
                            this.loading =false;
                        }else{
                            this.loading =false;
                        }
                    }
                )
            }
      }
  }
  
}
</script>