<template>

            <div class="container-fluid">
         <form class="form-material"  id="serviceform" method="post"
            @submit.prevent="addForm">
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title"> नावालक परिचय पत्र </h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link :to="{name:'MinorList'}"  class="btn btn-success"> सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-6">

                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">  
                            <div class="row">
                              
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">पहिलो नाम *</label>
                                        <input type="text" required v-model="fname_nep" class="form-control form__input" name="fname_nep"/>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बीचको नाम</label>
                                        <input type="text" v-model="mname_nep" class="form-control" name="mname_nep"/>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>थर *</label>
                                        <input type="text" required v-model="lname_nep" class="form-control" name="lname_nep"/>
                                    </div>
                                </div>
                                

                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>लिङ्ग * </label>
                                        <select v-model="sex_nep" required class="form-control" name="gender">
                                            <option :value="null">लिङ्ग छान्नुहोस्</option>
                                            <option selected :value="0">पुरूष </option>
                                            <option :value="1">महिला </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-8 ">
                                    <div class="form-group">  
                                        <label>जन्म स्थान * </label>
                                        <input type="text" required v-model="birth_place_nep" class="form-control" name="birth_place"/>
                                    </div>
                                </div>

                            
                                <div class="cleafix"></div>
                                     <hr>
                                <div class="col-md-12 mt-3">
                                    <h6>स्थायी बासस्थान</h6>
                                </div>
                                

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>जिल्ला * </label>
                                        <select v-model="per_district_id" required @change="changeItem($event)" class="form-control" name="addr_district">
                                            <option selected v-bind:value="null">तपाईको जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-5">
                                    <div class="form-group">  
                                        <label>स्थानीय तह *</label>
                                        <select v-model="per_local_level_id" required class="form-control" name="addr_municipility">
                                            <option selected :value="null">स्थानीय तह छान्नुहोस् </option>
                                            <option v-for="local in locallevelList" :key="local.id" v-bind:value="local.id">{{local.name}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>वार्ड नं * </label>
                                        <input type="text" required v-model="woda_nep" class="form-control" name="addr_wodano"/>
                                    </div>
                                </div>


                                <div class="cleafix"></div>
                                     <hr>
                                <div class="col-md-12 mt-3">
                                    <h6>अस्थायी बासस्थान</h6>
                                </div>
                                

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>जिल्ला * </label>
                                        <select v-model="temp_district_id" required @change="changeItem($event)" class="form-control" name="addr_district">
                                            <option selected v-bind:value="null">तपाईको जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-5">
                                    <div class="form-group">  
                                        <label>स्थानीय तह *</label>
                                        <select v-model="temp_local_level_id" required class="form-control" name="addr_municipility">
                                            <option selected :value="null">स्थानीय तह छान्नुहोस् </option>
                                            <option v-for="local in locallevelList" :key="local.id" v-bind:value="local.id">{{local.name}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>वार्ड नं * </label>
                                        <input type="text" required v-model="woda_nep" class="form-control" name="addr_wodano"/>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                               
                                <br>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>जन्म मिति (BS) * </label>
                                        <input type="text" required v-model="dob_nep" class="form-control" placeholder="YYYY-MM-DD" name="dobin_nep"/>
                                    </div>
                                </div>

                               

                                <div class="col-md-12 mt-3">
                                    <h6>बाबुको नाम,थर, ठेगाना , नगरिकता</h6>
                                </div>

                                  <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बाबुको नाम,थर * </label>
                                        <input type="text" required v-model="father_name_nep" class="form-control" name="father_f_name"/>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>नगरिकता * </label>
                                        <input type="text" required v-model="father_citizenship_nep" class="form-control" name="father_citizenship_id"/>
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>ठेगाना *</label>
                                        <input type="text" required v-model="father_addr_nep" class="form-control" name="father_address"/>
                                    </div>
                                </div>


                                <div class="col-md-12 mt-3">
                                    <h6>आमाकाे नाम,थर, ठेगाना , नगरिकता</h6>
                                </div>

                                  <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>आमाकाे नाम,थर</label>
                                        <input type="text" v-model="mother_name_nep" class="form-control" name="mother_name"/>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>नगरिकता</label>
                                        <input type="text" v-model="mother_citizenship_nep" class="form-control" name="mother_citizenship_id"/>
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>ठेगाना</label>
                                        <input type="text" v-model="mother_addr_nep" class="form-control" name="mother_address"/>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>संरक्षकको नाम,थर</label>
                                        <input type="text"  v-model="protect_name_nep" class="form-control" name="protector_name"/>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>नगरिकता</label>
                                        <input type="text" v-model="protect_citizenship_nep" class="form-control" name="protector_citizeship"/>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>ठेगाना</label>
                                        <input type="text" v-model="protect_addr_nep" class="form-control" name="protector_address"/>
                                    </div>
                                </div>

                                
                                

                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>सम्पर्क नम्बर *</label>
                                        <input type="text" required v-model="mobile_number" class="form-control" name="postal"/>
                                    </div>
                                </div>

                                <div class="col-sm-12 ">
                                <div class="form-group">
                                    <br>
                                    <button type="submit"  class="btn btn-success">पेश गर्नुहोस्  र आवश्यक कागजात अपलोड गर्नुहोस  </button>
                                </div>
                            </div>

                            </div>   
                    </div>
                  
                </div>
            </div>

              <div class="col-6">

                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">  
                            <div class="row">
                              
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel"> First Name *</label>
                                        <input type="text" required v-model="fname_eng" class="form-control form__input" name="fname_nep"/>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>Middle Name</label>
                                        <input type="text" v-model="mname_eng" class="form-control" name="mname_nep"/>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>Last Name *</label>
                                        <input type="text" required v-model="lname_eng" class="form-control" name="lname_nep"/>
                                    </div>
                                </div>
                                

                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>Gender * </label>
                                        <select v-model="sex_eng" required class="form-control" name="gender">
                                            <option :value="null">Select Gender</option>
                                            <option selected :value="0">Male </option>
                                            <option :value="1">Female </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-8 ">
                                    <div class="form-group">  
                                        <label>Birth Place * </label>
                                        <input type="text" required v-model="birth_place_eng" class="form-control" name="birth_place"/>
                                    </div>
                                </div>

                            
                                <div class="cleafix"></div>
                                     <hr>
                                <div class="col-md-12 mt-3">
                                    <h6>Parmanent Address</h6>
                                </div>
                                

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>District * </label>
                                        <select v-model="per_district_id" required @change="changeItem($event)" class="form-control" name="addr_district">
                                            <option selected v-bind:value="null">Select your district </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_eng}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-5">
                                    <div class="form-group">  
                                        <label>Local Level * </label>
                                        <select v-model="per_local_level_id" required class="form-control" name="addr_municipility">
                                            <option selected :value="null">Select your local level </option>
                                            <option v-for="local in locallevelList" :key="local.id" v-bind:value="local.id">{{local.name_eng}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>Woda No * </label>
                                        <input type="text" required v-model="woda_eng" class="form-control" name="addr_wodano"/>
                                    </div>
                                </div>


                                <div class="cleafix"></div>
                                     <hr>
                                <div class="col-md-12 mt-3">
                                    <h6>Temporary Address</h6>
                                </div>
                                

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>District * </label>
                                        <select  v-model="temp_district_id" required @change="changeItem($event)" class="form-control" name="addr_district">
                                            <option selected v-bind:value="null">Select your district </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_eng}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-5">
                                    <div class="form-group">  
                                        <label>Local Level * </label>
                                        <select v-model="temp_local_level_id" required class="form-control" name="addr_municipility">
                                            <option selected :value="null">Select your local level </option>
                                            <option v-for="local in locallevelList" :key="local.id" v-bind:value="local.id">{{local.name_eng}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>Woda No* </label>
                                        <input type="text" required v-model="woda_eng" class="form-control" name="addr_wodano"/>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                               
                                <br>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>Date of Birth (AD) * </label>
                                        <input type="text" required v-model="dob_eng" class="form-control" placeholder="YYYY-MM-DD" name="dobin_nep"/>
                                    </div>
                                </div>


                                 <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>Birth Certificate Number * </label>
                                        <input type="text"   class="form-control" placeholder="YYYY-MM-DD" name="dobin_nep"/>
                                    </div>
                                </div>

                               

                                <div class="col-md-12 mt-3">
                                    <h6>Father name address and citizenship </h6>
                                </div>

                                  <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>Father Full Name * </label>
                                        <input type="text" required v-model="father_name_eng" class="form-control" name="father_f_name"/>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>Citizenship * </label>
                                        <input type="text" required v-model="father_acitizenship_eng " class="form-control" name="father_citizenship_id"/>
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>Address *</label>
                                        <input type="text" required v-model="father_addr_eng" class="form-control" name="father_address"/>
                                    </div>
                                </div>


                                <div class="col-md-12 mt-3">
                                    <h6>Mother full name , address and citizenship </h6>
                                </div>

                                  <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>Mother Full Name</label>
                                        <input type="text" v-model="mother_name_eng" class="form-control" name="mother_name"/>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>Citizenship</label>
                                        <input type="text" v-model="mother_citizenship_eng" class="form-control" name="mother_citizenship_id"/>
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>Address</label>
                                        <input type="text" v-model="mother_addr_eng" class="form-control" name="mother_address"/>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>Guardian Full Name</label>
                                        <input type="text"  v-model="protect_name_eng" class="form-control" name="protector_name"/>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>Citizenship</label>
                                        <input type="text" v-model="protect_citizenship_eng" class="form-control" name="protector_citizeship"/>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>Address</label>
                                        <input type="text" v-model="protect_addr_eng" class="form-control" name="protector_address"/>
                                    </div>
                                </div>

                            </div>   
                    </div>
                  
                </div>
            </div>
        </div>

        </form>

    </div>

</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"
export default {
    name:"MinorAdd",
    data(){
        return {
            districtList:{},
            locallevelList:{},

            fname_nep:null,
            mname_nep:null,
            lname_nep:null,
            fname_eng:null,
            mname_eng:null,
            lname_eng:null,
            sex_eng:null,
            sex_nep:null,
            birth_place_eng:null,
            birth_place_nep:null,
            temp_district_id:null,
            temp_local_level_id:null,
            per_district_id:null,
            per_local_level_id:null,
            woda_eng:null,
            woda_nep:null,
            dob_eng:null,
            dob_nep:null,
            father_name_eng:null,
            father_name_nep:null,
            father_addr_eng:null,
            father_addr_nep:null,
            father_citizenship_eng:null,
            father_citizenship_nep:null,
            mother_name_eng:null,
            mother_name_nep:null,
            mother_addr_eng:null,
            mother_addr_nep:null,
            mother_citizenship_eng:null,
            mother_citizenship_nep:null,
            protect_name_nep:null,
            protect_name_eng:null,
            protect_addr_eng:null,
            protect_addr_nep:null,
            protect_citizenship_eng:null,
            protect_citizenship_nep:null,

            loading:false
        }
    },
    components:{
        Loader    
    },
    mounted(){
        this.getDistrict();
    },
    methods:{
        addForm(){
            this.loading=true;
            axios.post("minor",{
                fname_nep:this.fname_nep,
                mname_nep:this.mname_nep,
                lname_nep:this.lname_nep,
                fname_eng:this.fname_eng,
                mname_eng:this.mname_eng,
                lname_eng:this.lname_eng,
                sex_eng:this.sex_eng,
                sex_nep:this.sex_nep,
                birth_place_eng:this.birth_place_eng,
                birth_place_nep:this.birth_place_nep,
                temp_district_id:this.temp_district_id,
                temp_local_level_id:this.temp_local_level_id,
                per_district_id:this.per_district_id,
                per_local_level_id:this.per_local_level_id,
                woda_eng:this.woda_eng,
                woda_nep:this.woda_nep,
                dob_eng:this.dob_eng,
                dob_nep:this.dob_nep,
                father_name_eng:this.father_name_eng,
                father_name_nep:this.father_name_nep,
                father_addr_eng:this.father_addr_eng,
                father_addr_nep:this.father_addr_nep,
                father_citizenship_eng:this.father_citizenship_eng,
                father_citizenship_nep:this.father_acitizenship_nep,
                mother_name_eng:this.mother_name_eng,
                mother_name_nep:this.mother_name_nep,
                mother_addr_eng:this.mother_addr_eng,
                mother_addr_nep:this.mother_addr_nep,
                mother_citizenship_eng:this.mother_citizenship_eng,
                mother_citizenship_nep:this.mother_acitizenship_nep,
                protect_name_nep:this.protect_name_nep,
                protect_name_eng:this.protect_name_eng,
                protect_addr_eng:this.protect_addr_eng,
                protect_addr_nep:this.protect_addr_nep,
                protect_citizenship_eng:this.protect_citizenship_eng,
                protect_citizenship_nep:this.protect_citizenship_nep,
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){

                        this.loading=false;
                        this.$router.push({name:"Fileuploadlist",params:{id:response.data.data.id,type:'MinorList'}});
                    }else{
                        this.loading=false;
                    }
                    
                     this.loading=false;
                }
            )
        },

        getDistrict(){
            this.loading=true;
            axios.get("district").then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                         this.districtList = response.data.data;
                         this.loading=false;
                    }
                   
                }
            )
        },
        getLocalLevel(){
            this.loading=true;
            axios.get("getLocalByDistrict/"+this.districtId).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.locallevelList = response.data.data;
                        this.loading=false;
                    }
                }
            )
        },
        changeItem(event) {
            this.districtId = event.target.value;
            this.getLocalLevel();
        },
    }
}
</script>