<template>
  <div class="Service">
     <Navbar></Navbar>
      <Sidenavbar></Sidenavbar>

        <div class="page-wrapper">
           
            <div class="container-fluid">
               
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 v-if="actionType=='Newcitizenshiplist'" class="card-title">नयाँ नागरिकता (अपलोड )</h4>
                                <h4 v-if="actionType=='Nameage'" class="card-title">नामथर , उमेर फरक परेको (अपलोड )</h4>
                                <h4 v-if="actionType=='Prooflist'" class="card-title">कुनै व्यहोरा प्रमाणित गर्ने सन्दर्भमा (अपलोड )</h4>
                                <h4 v-if="actionType=='Exarmylist'" class="card-title">पारिवारिक विवरण प्रमाणित (भू.पू. भारतीय सैनिक) (अपलोड )</h4>
                                <h4 v-if="actionType=='Relieflist'" class="card-title">प्राकृतिक प्रकोप पीडित परिवारका लागि राहत  (अपलोड )</h4>
                                <h4 v-if="actionType=='Exforigenlist'" class="card-title">वैदेशिक रोजगारीमा मृत्यु भएका व्यक्तिले पाउने राहत   (अपलोड )</h4>
                                 <h4 v-if="actionType=='MinorList'" class="card-title">नावालक परिचय पत्र (अपलोड )</h4>

                                
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link v-if="actionType=='Newcitizenshiplist'" :to="{name:actionType}" class="btn btn-success">नयाँ नागरिकता सूची </router-link>
                                   <router-link v-if="actionType=='Nameage'" :to="{name:actionType}" class="btn btn-success">नामथर , उमेर फरक परेको सूची </router-link>
                                   <router-link v-if="actionType=='Prooflist'" :to="{name:actionType}" class="btn btn-success">व्यहोरा प्रमाणित गर्नेसूची </router-link>
                                   <router-link v-if="actionType=='Exarmylist'" :to="{name:actionType}" class="btn btn-success">विवरण प्रमाणित (भू.पू. भारतीय सैनिक) सूची </router-link>
                                   <router-link v-if="actionType=='Relieflist'" :to="{name:actionType}" class="btn btn-success">प्रकोप पीडित परिवारका लागि राहत सूची </router-link>
                                   <router-link v-if="actionType=='Exforigenlist'" :to="{name:actionType}" class="btn btn-success">वैदेशिक रोजगारीमा मृत्यु भएका सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">
                 
                <div class="card">
                    <div v-if="fileloader"><Loader></Loader></div>
                    <div class="card-header">
                        <h6 class="float-left"> आवश्यक कागज</h6>
                        <button @click="addNewDocument()" class="btn btn-success btn-sm float-right">नया फाइल थप्नुहोस </button>

                    </div>
                    <div class="card-body"> 
                       
                        <div v-for="document in fileList" v-bind:key="document.id" class="row">
                           
                            <div class="col-md-3 mb-1">
                                <router-link target="_blank" :to="{ name:'Showimage', params:{ querystring:document.file_path}}" traget="_blank"><img :src="'data:image/png;base64,'+document.file_path" class="fileuploadImage"/> </router-link>
                                 
                            </div>
                            <div class="col-md-5  file-list mb-1">
                                <b>{{document.file_name}} </b> <br>
                                <small v-if="!document.file_description">{{document.file_description}}</small>  
                            </div>
                            <div class="col-md-4  file-list mb-1">
                                <button @click="deleteDocument(document.id)" class="btn btn-danger btn-xs float-right">हटाउनुहोस </button>
                            </div>

                        </div>
                            <br>
                        <form v-if="addnewDoc"  method="post"  @submit.prevent="uploadFile()"> 

                            <div class="row">

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>फाइल को नाम  </label>
                                        <input type="text" required v-model="file_name" class="form-control"/>
                                    </div>

                                    <div class="form-group">
                                        <label>फाइल को विवरण  </label>
                                    <textarea cols="10" rows="5" class="form-control" v-model='file_description'></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" name="submit" class="form-control btn-primary"> फाइल अपलोड गर्नुहोस  </button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <input type="file" required id="file" ref="file" class="mt-4" name="file"/>
                                </div>
                            </div>
                        </form>
                        <h4 v-if="fileList.length==0 && addnewClick" class="text-center nofiletext">
                            यहाँ कुनै आवश्यक कागजात अपलोड गरिएको छैन <br>
                            कृपया आवश्यक कागजात अपलोड गर्नुहोस्
                        </h4>
                        <br>
                        <hr>
                        <router-link v-if="fileList.length>0" :to="{name:actionType}" class="btn btn-success">पेश गर्नुहोस् </router-link>
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

                 <div class="card">
                       <div v-if="loader"><Loader></Loader></div>
                     <div class="card-header">
                         <h6>आवश्यक कागजात</h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row shortInfo">
                            <div v-if="actionType=='Newcitizenshiplist'">
                               <h6>बंशजको नाताले नयाँ नागरिकता </h6>
                                <ul>
                                    <li>जन्म दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                    <li>शैक्षिक प्रमाणपत्रको प्रतिलिपी (प्राप्त गरेको भएमा)</li>
                                    <li>बसाई सराई गरी आएको भए बसाई सराई दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                    <b>नोटः नागिरकता प्रमाणापत्र नलिँदै विवाह भएकी नेपाली महिलाले नागरिकताको प्रमाणपत्र लिनको लागि उल्लेखित कागजातहरूको अतिरिक्त निम्न कागजातहरू समेत समावेश गर्नु पर्नेछः</b>
                                    <li>विवाह दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                    <li>पतिको नागरिकताको प्रमाणपत्रको प्रतिलिपि</li>
                                    <li>सनाखत गर्ने प्रयोजनार्थ पति उपस्थित हुन नसक्ने भएमा ससुरा वा सासु वा जेठाजु वा देवर मध्ये पतिसँग नाता खुलेको एकजनाको नागरिकताको प्रतिलिपि</li>
                                    <li>माईती पट्टिको बाबु वा दाजु वा भाइ वा पतिको नाम उल्लेख भएको आमाको नागरिकताको प्रतिलिपी</li>
                                    <li>बाबुको नागरीकताको प्रतीलीपी</li>
                                    <li>अनुसुची (१) वडा कार्यलयको सीफारीस पत्र</li>
                                    <li>सनाखत गर्ने बाबु बाहेक तीन पुस्ता भित्रको व्यत्ति भए निजको  नागरिकता  पनि अपलोड गर्ने </li>
                                     <li>किटानि सिफारिस </li>
                                    <li>जन्म,बिवाह प्रमाणित </li>
                                    <li>प्रहरि तथा  अन्य मुचुल्का </li>
                                     <li>फरक नाम थर भयमा एकै व्यक्ति  सिफारिश </li>
                                </ul>
                                 <h6>अङ्गिकृत नागिकता  </h6>
                                 <ul>
                                    <li>विवाह दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                    <li>विदेशी  नागरिकता त्याग्ने कारवाही चलाएको निवेदन र सम्बन्धित निकाय District Magistrate Office of INDIA,गृह मन्त्रालय सिंहदरबार, काठमाण्डौ, भारतीय राजदुतवास लैनचौर काठमाण्डौ, जिल्ला प्रशासन कार्यालय,इलाम) मा  रजिष्ट्रि गरी पठाएको हुलाक रसिद</li>
                                    <li>पतिको नागरिकताको प्रमाणपत्रको प्रतिलिपि</li>
                                    <li>वैवाहिक अङ्गिकृत नागरिकता प्राप्त गर्नु अगावै पतिको मृत्यु भईसकेको अवस्थामा पतिको मृत्यु दर्ता प्रमाणपत्र </li>
                                    <li>पतिसँग नाता खुल्ने तीन पुस्ता भित्रको सनाखत गर्ने नातेदारको नागरिकताको प्रतिलिपि </li>
                                    <li>निजको जन्मस्थान र जन्ममिति खुल्ने आधारकार्ड वा सो देशको आधिकारीक परिचयपत्रको प्रतिलिपि</li>
                                    <li>अनुसुची (७) वडा कार्यलयको सीफारीस पत्र</li>
                                    <li>सनाखत गर्ने बाबु बाहेक तीन पुस्ता भित्रको व्यत्ति भए निजको  नागरिकता  पनि अपलोड गर्ने </li>
                                    <li>किटानि सिफारिस </li>
                                    <li>जन्म,बिवाह प्रमाणित </li>
                                    <li>प्रहरि तथा  अन्य मुचुल्का </li>
                                     <li>फरक नाम थर भयमा एकै व्यक्ति  सिफारिश </li>
                                </ul>
                                 <h6>नागरिकताको प्रमाण–पत्रको प्रतिलिपि </h6>
                                 <ul>
                                    <li>वडा कार्यालयको सिफारिस पत्र</li>
                                    <li>झुत्रो भएको नागरिकता वा फोटोकपी</li>
                                    <li>नागरिकता वा फोटोकपी नभएमा निजको परिचय खुल्ने अन्य कुनै सरकारी कागजात</li>
                                    <li>पतिको नामथर, वतन हटाई माईती तर्फको थर र वतन कायम गरी प्रतिलिपी नागरिकता लिनको लागि अदालतको सम्बन्ध विच्छेदको फैसला र सम्बन्धित स्थानीय तहको सम्बन्ध विच्छेद दर्ता प्रमाणपत्र साथै सनाखत गर्ने प्रयोजनार्थ बाबु वा आमा वा दाजु वा भाइको नागरिकताको प्रतिलिपि</li>
                                    <li>बसाँई सरेर आएको भए बसाँइसरेको प्रमाण पत्र</li>
                                    <li>सनाखत गर्ने बाबु बाहेक तीन पुस्ता भित्रको व्यत्ति भए निजको  नागरिकता  पनि अपलोड गर्ने </li>
                                    <li>किटानि सिफारिस </li>
                                    <li>जन्म,बिवाह प्रमाणित </li>
                                    <li>प्रहरि तथा  अन्य मुचुल्का </li>
                                    <li>फरक नाम थर भयमा एकै व्यक्ति  सिफारिश </li>
                                </ul> 


                            </div>

                            <div v-if="actionType=='Nameage'">
                                <h6>नामथर </h6> 
                                    <ul>
                                        <li>नागरिकता प्रमाणपत्र र विवरण फरक परेको कागजात ।</li>
                                        <li>एस।एल।सी।रएस।इ।इ।वा सो सरहको उमेर खुलेको प्रमाण–पत्र</li>
                                        <li>शिक्षा विकास तथा समन्वय इकाई तथा सम्बन्धित शैक्षिक संस्थाको सिफारिस पत्र</li>
                                        <li>सम्बन्धित वडा कार्यलयको सीफारीस</li>
                                    </ul>


                                    <h6>उमेर </h6>
                                    <ul>
                                        <li>नागरिकता प्रमाण–पत्र र विवरण फरक परेको कागजात ।</li>
                                        <li>एस।एल।सी।रएस।इ।इ।को वा अन्य उमेर खुलेको प्रमाण–पत्र</li>
                                        <li>शिक्षा विकास तथा समन्वय इकाई तथा सम्बन्धित शैक्षिक संस्थाको सिफारिस पत्र ९उमेर खुलेको प्रमाण–पत्र लिएको ६ महिना भित्र निवेदन दिई सक्नु पर्नेछ ।</li>
                                        <li>सम्बन्धित वडा कार्यलयको सीफारीस</li>
                                    </ul>
                            </div>

                            <div v-if="actionType=='Prooflist'">
                                <h6>अन्य व्यहोरा प्रमाणित गर्ने सन्दर्भमा</h6>
                                <ul>
                                    <li>मनासिव व्यहोरा खुलेको निवेदन</li>
                                    <li>स्थानीय तहको सिफारिस तथा प्रहरी सर्जमिन मुचुल्का</li>
                                </ul>
                                <h6>आदिवासी जनजाती , दलित, मधेसी लगायतका प्रमाणितको लागि </h6>
                               <ul>
                                    <li>निवेदककाे निवेदन </li>
                                    <li>सम्बन्धित वडा कार्यालयकाे सिफारिस </li>
                                    <li> नेपाली नागरिकताको  प्रतिलिपि</li>
                                </ul>
                            </div>

                            <div v-if="actionType=='Exarmylist'">
                                <h6>पेन्सन नामसारी सिफारिसका लागि</h6>
                                    <ul>
                                        <li>सम्पूर्ण व्यहोरा खुलेको प्र. जि. अ. समक्ष पेश गर्ने निवेदन </li>
                                        <li>सम्बन्धित वडा कार्यलयको फोटो टाँस सहितको पारिवारिक विवरण सहितको सिफारिस पत्र र नाता प्रमाणित सिफारिस</li>
                                        <li>नाम थर , जन्ममिति लगायत फरक परि एकै व्यक्ति भएको भनि प्रमाणित गर्नु पर्ने भए सो कुरा खुलेको वडाको सिफारिस पत्र ।</li>
                                        <li>मृत्यु दर्ता प्रमाण–पत्र ( पेन्सनर वा परीवारका अन्य सदस्य जीवत नरह्को अवस्थामा)</li>
                                        <li>बिवाह दर्ता प्रमाण पत्र/बिवाह प्रमाणीत पत्र  </li>
                                        <li>नाता प्रमाणित सिफारिस</li>
                                        <li>पारिवारका सबै सदस्यहरुको नागरिकता (निवेदक, छोरारछोरीहरुको)</li>
                                        <li>नाम थर फरक परि एकै व्यक्ति भएको भनि प्रमाणित गर्नु पर्ने भए सो कुरा खुलेको वडाको सिफारिस पत्र ।</li>
                                        <li>पेन्सन पट्टाको प्रतीलीपी</li>


                                    </ul>
                                    <h6>पेन्सन रहल पहल लिनका लागि </h6>
                                    <ul>
                                        <li>सम्पूर्ण व्यहोरा खुलेको निवेदन ।</li>
                                        <li>पेन्सन पट्टाको प्रतिलिपी ।</li>
                                        <li>सम्बन्धित वडाको पारिवारिक विवरण सहितको सिफारिस पत्र ।</li>
                                        <li>मृत्यू दर्ता प्रमाणपत्र (बुबा, आमा लगायत मृत्यू भएका परिवारका सदस्यहरुको) ।</li>
                                        <li>सबै हकवाला मध्ये एक जनाकाे नाममा मात्र रहलपहल सिफारसको गर्नको  लागि जिवित सबै हकवालाले मन्जुरी दिएको मन्जुरी नामा कागज सम्बन्धीत वडाध्यक्षले प्रमाणित गरेको ।</li>
                                        <li>पारिवारका सबै सदस्यहरुको नागरिकताको प्रतिलिपी (निवेदक, छोरारछोरीहरुको)</li>
                                        <li>नाम थर , जन्ममिति लगायत फरक परि एकै व्यक्ति भएको भनि प्रमाणित गर्नु पर्ने भए सो कुरा खुलेको वडाको सिफारिस पत्र ।</li>
                                        <li>रहल पहल प्राप्त गर्ने पारिवारका सबै हकवला सदस्यहरुको नागरिकताको प्रतिलिपी ।
                                        </li>
                                    </ul>
                            </div>

                            <div v-if="actionType=='Relieflist'">
                                <h6>विपद् मा परी व्यक्तिको मृत्यु भएका व्यक्तिका हकमा</h6>
                                    <ul>
                                        <li>कानूनी हकदारको निवेदन ।</li>
                                        <li>मृतकको लास जाँच मुचुल्का</li>
                                        <li>मृतकको कानूनी हकदार सँगको नाता प्रमाणित</li>
                                        <li>मृत्यु दर्ता प्रमाणपत्र</li>
                                        <li>सम्बन्धित निवेदकको नागरिकताको प्रमाणपत्र </li>
                                        <li>सम्बन्धित स्थानीय तहले फोटो सहित प्रमाणित गरेको सिफारिस पत्र</li>
                                    </ul>
                                    <h6>विपद् मा परी घर पूर्णरआंशिक रुपमा नष्ट भएमा</h6>
                                    <ul>
                                        <li>प्रहरी सर्जमिन मुचुल्का ।</li>
                                        <li>सम्बन्धित निवेदकको नागरिकताको प्रमाण–पत्र </li>
                                        <li>सम्बन्धित स्थानीय तहको वडाको सिफारिस पत्र ।</li>
                                        <li>सम्बन्धित निवेदकको क्षति सम्बन्धी व्यहोरा उल्लेखित निवेदन ।</li>
                                    </ul>
                            </div>

                            <div v-if="actionType=='Exforigenlist'">
                                 <ul>
                                        <li>मृतकको मृत्यु दर्ता </li>
                                        <li>मृतकको राहदानीको प्रतिलिपि</li>
                                        <li>मृतकको नागरिकताको प्रमाण पत्र प्रतिलिपी</li>
                                        <li>मृतकको नजिकको हकदार खुलेको सम्बन्धित वडा कार्यालयको फोटो समेत प्रमाणित भएको सिफारिस </li>
                                        <li>नाता प्रमाणित (मृतक र नजिकको हकदारको)</li>
                                    </ul>
                            </div>

                            <div v-if="actionType=='MinorList'">
                                <ul>
                                    <li>वडा कार्यालयको सिफारिस पत्र</li>
                                    <li>नाबालकको जन्मदर्ता प्रमाण–पत्रको प्रतिलिपि</li>
                                    <li>बाबु र आमाको नागरिकताको प्रमाण पत्रको प्रतिलिपि</li>
                                    <li>बच्चाको शैक्षिक योग्यताको प्रमाण–पत्रको प्रतिलिपि (प्राप्त गरेको भएमा)</li>
                                    <li>कर्मचारी परिवार भए कर्मचारी कार्यरत कार्यालयको सिफारिस पत्र</li>
                                    <li>बसाई सराई गरी आएको भए बसाई सराई दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                 </div>
                
            </div>
        </div>

       

    </div>

        </div>

  </div>
</template>

<script>
import axios from 'axios'
import Navbar from '@/components/Navbar.vue'
import Sidenavbar from '@/components/Sidenavbar.vue'
import Loader from '../Loader.vue'
export default {
    name: 'Fileuploadlist',
    components:{
        Navbar,
        Sidenavbar,
        Loader
    },
   
    data(){
        return {
            file:null,
            file_name:null,
            file_description:null,
            categoryId:0,
            fileList:[],
            addnewDoc:false,
            summarycitizen:{},
            assetUrl:null,
            loader:false,
            actionType:null,
            fileloader:false,
            addnewClick : true
        }
    },
     mounted(){
        this.actionType = this.$route.params.type;
        this.categoryId = this.$route.params.id;
        this.getFileById();
        this.assetUrl = process.env.VUE_APP_API_ASSETS
    },
    methods: {

        addNewDocument(){
            this.addnewDoc = true;
            this.addnewClick = false;
        },
        getFileById(){
            this.fileloader = true;
            axios.post("filewithtype",{
                catid:this.categoryId,
                type:this.actionType
            }).then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                        this.fileList = response.data.data;
                        this.fileloader=false;
                    }else{
                         this.fileloader=false;
                    }
                }
            ).catch(error=>{
                console.log(error);
                this.fileloader = false;
            })
        },
        uploadFile(){
            this.fileloader=true;
            this.file = this.$refs.file.files[0];
            let formData = new FormData();
            formData.append('file', this.file);
            formData.append("category_id",this.categoryId);
            formData.append("file_name",this.file_name);
            formData.append("file_description",this.file_description);
            formData.append("type",this.actionType);

            axios.post('fileupload', formData,
            {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then( 
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                    //console.log(response.data);

                    this.getFileById();  

                    this.file_name = "";
                    this.file_description="";
                    this.addnewDoc=false;
                    this.fileloader=false;
                    }else{
                        this.fileloader  = false;
                        console.log("file error");
                    }
                }
            )
            
        },
        deleteDocument(id){
            
            var x = confirm("Are you sure you want to delete?");
            if (x){
                this.fileloader=true;
                axios.delete("fileupload/"+id).then(
                    response=>{
                        if(response.data.code == 200 && response.data.status==true){
                             this.getFileById();
                             this.fileloader=false;
                        }else{
                             this.getFileById();
                             this.fileloader=false;
                             console.log("error");
                        }
                         this.fileloader=false;

                    }
                    
                )
            }else{
                console.log('Error', 'File cannot be delete');
            }
        },

        
    }
   

}
</script>

<style scoped>
    .fileuploadImage{
        max-height: 150px;
        width: 100%;
    }
    .shortInfo label{
        font-weight: bold;
    }
    .shortInfo div{
        border-bottom: 1px soldi #dedede;
        padding: 1%;
    }
    .nofiletext{
        line-height: 30px;
        color:#a7a2a2f7;
    }
</style>