<template>

            <div class="container-fluid">
         <form class="form-material"  id="serviceform" method="post"
            @submit.prevent="addForm">
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title"> पारिवारिक विवरण प्रमाणित (भू.पू. भारतीय सैनिक)  </h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link :to="{name:'Exarmylist'}"  class="btn btn-success"> सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">

                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">  
                            <div class="row">
                              
                                <div class="col-md-8 ">
                                    <div class="form-group">  
                                        <label class="formlabel">आवेदकको नाम *</label>
                                        <input type="text" required v-model="name" class="form-control form__input" name="name"/>
                                    </div>
                                    
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">परिचय पत्र नं *</label>
                                        <input type="text" required v-model="citizenship_id" class="form-control form__input" name="name"/>
                                    </div>
                                    
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>सम्बन्ध </label>
                                        <input type="text" required  v-model="relation" class="form-control" name="contactnumber"/>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <hr>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>जिल्ला * </label>
                                        <select v-model="district_id" @change="changeItem($event)" class="form-control" required name="district_id">
                                            <option selected v-bind:value="0">तपाईको जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>स्थानीय तह * </label>
                                        <select v-model="local_level_id" required class="form-control" name="local_level_id">
                                            <option selected :value="0">स्थानीय तह छान्नुहोस् </option>
                                            <option v-for="local in locallevelList" :key="local.id" v-bind:value="local.id">{{local.name}} </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label> वार्ड नं * </label>
                                        <input type="text" required v-model="woda" class="form-control" name="text"/>
                                    </div>
                                </div>

                                <div class="col-md-8 ">
                                    <div class="form-group">  
                                        <label> सडक ठेगाना </label>
                                        <input type="text" required v-model="street" class="form-control" name="text"/>
                                    </div>
                                </div>

                                


                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>भुपु सैनिक को नाम * </label>
                                        <input type="text" required  v-model="ex_army_name" class="form-control" name="contactnumber"/>
                                    </div>
                                </div>
                               
                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>पट्टा नं * </label>
                                        <input  type="text" required v-model="patta_id" class="form-control" name="street"/>
                                    </div>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>मृत्यु भएको मिति</label>
                                        <input type="text"  v-model="pass_away_date" class="form-control nepaliDatePicker" placeholder="YYYY-MM-DD" name="postal"/>
                                        <small>(यदि मृत्यु भएको हो भने)</small>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>परिवार संख्या</label>
                                        <input type="text" v-model="famaily_mamber" class="form-control" name="postal"/>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>सम्पर्क नम्बर *</label>
                                        <input type="text" required v-model="contact_number" class="form-control" name="postal"/>
                                    </div>
                                </div>

                                <div class="col-sm-12 ">
                                <div class="form-group">
                                    <br>
                                    <button type="submit"  class="btn btn-success">पेश गर्नुहोस्  र आवश्यक कागजात अपलोड गर्नुहोस  </button>
                                </div>
                            </div>

                            </div>   
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

               

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                           <h6>पारिवारिक विवरण प्रमाणित (भू.पू. भा सैनिक) </h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                           
                            <div class="col-md-12">
                                 
                                    <h6>पेन्सन नामसारी सिफारिसका लागि</h6>
                                    <ul>
                                        <li>सम्पूर्ण व्यहोरा खुलेको प्र. जि. अ. समक्ष पेश गर्ने निवेदन </li>
                                        <li>सम्बन्धित वडा कार्यलयको फोटो टाँस सहितको पारिवारिक विवरण सहितको सिफारिस पत्र र नाता प्रमाणित सिफारिस</li>
                                        <li>नाम थर , जन्ममिति लगायत फरक परि एकै व्यक्ति भएको भनि प्रमाणित गर्नु पर्ने भए सो कुरा खुलेको वडाको सिफारिस पत्र ।</li>
                                        <li>मृत्यु दर्ता प्रमाण–पत्र ( पेन्सनर वा परीवारका अन्य सदस्य जीवत नरह्को अवस्थामा)</li>
                                        <li>बिवाह दर्ता प्रमाण पत्र/बिवाह प्रमाणीत पत्र  </li>
                                        <li>नाता प्रमाणित सिफारिस</li>
                                        <li>पारिवारका सबै सदस्यहरुको नागरिकता (निवेदक, छोरारछोरीहरुको)</li>
                                        <li>नाम थर फरक परि एकै व्यक्ति भएको भनि प्रमाणित गर्नु पर्ने भए सो कुरा खुलेको वडाको सिफारिस पत्र ।</li>
                                        <li>पेन्सन पट्टाको प्रतीलीपी</li>


                                    </ul>
                                    <h6>पेन्सन रहल पहल लिनका लागि </h6>
                                    <ul>
                                        <li>सम्पूर्ण व्यहोरा खुलेको निवेदन ।</li>
                                        <li>पेन्सन पट्टाको प्रतिलिपी ।</li>
                                        <li>सम्बन्धित वडाको पारिवारिक विवरण सहितको सिफारिस पत्र ।</li>
                                        <li>मृत्यू दर्ता प्रमाणपत्र (बुबा, आमा लगायत मृत्यू भएका परिवारका सदस्यहरुको) ।</li>
                                        <li>सबै हकवाला मध्ये एक जनाकाे नाममा मात्र रहलपहल सिफारसको गर्नको  लागि जिवित सबै हकवालाले मन्जुरी दिएको मन्जुरी नामा कागज सम्बन्धीत वडाध्यक्षले प्रमाणित गरेको ।</li>
                                        <li>पारिवारका सबै सदस्यहरुको नागरिकताको प्रतिलिपी (निवेदक, छोरारछोरीहरुको)</li>
                                        <li>नाम थर , जन्ममिति लगायत फरक परि एकै व्यक्ति भएको भनि प्रमाणित गर्नु पर्ने भए सो कुरा खुलेको वडाको सिफारिस पत्र ।</li>
                                        <li>रहल पहल प्राप्त गर्ने पारिवारका सबै हकवला सदस्यहरुको नागरिकताको प्रतिलिपी ।
</li>
                                    </ul>

                                
                            </div>

                                
                        </div>
                    </div>
                 </div>

                  
                  
                
            </div>
        </div>

        </form>

    </div>

</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"
export default {
    name:"Exarmyadd",
    data(){
        return {
            districtList:{},
            locallevelList:{},

            district_id:0,
            local_level_id:0,
            name:null,
            citizenship_id:null,
            woda:null,
            relation:null,
            street:null,
            patta_id:null,
            ex_army_name:null,
            pass_away_date:null,
            famaily_mamber:null,
            contact_number:null,

            loading:false
        }
    },
    components:{
        Loader    
    },
    mounted(){
        this.getDistrict();
       
    },
    methods:{
        addForm(){
            this.loading=true;
            axios.post("exarmy",{
                district_id:this.district_id,
                local_level_id:this.local_level_id,
                name:this.name,
                citizenship_id:this.citizenship_id,
                woda:this.woda,
                relation:this.relation,
                street:this.street,
                patta_id:this.patta_id,
                ex_army_name:this.ex_army_name,
                pass_away_date:this.pass_away_date,
                famaily_mamber:this.famaily_mamber,
                contact_number:this.contact_number,
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){

                        this.loading=false;
                        this.$router.push({name:"Fileuploadlist",params:{id:response.data.data.id,type:'Exarmylist'}});
                    }else{
                        this.loading=false;
                    }
                    
                     this.loading=false;
                }
            )
        },

        getDistrict(){
            this.loading=true;
            axios.get("district").then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                         this.districtList = response.data.data;
                         this.loading=false;
                    }
                   
                }
            )
        },
        getLocalLevel(){
            this.loading=true;
            axios.get("getLocalByDistrict/"+this.districtId).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.locallevelList = response.data.data;
                        this.loading=false;
                    }
                }
            )
        },
        changeItem(event) {
            this.districtId = event.target.value;
            this.getLocalLevel();
        },
    }
}



</script>