<template>

   <div class="container-fluid">
        
        
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"> <Loader/> </div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">अन्य व्यहोरा प्रमाणित गर्ने </h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link :to="{name:'Proofadd'}" class="btn btn-success">नयाँ थप्नुहोस् </router-link>
                                </div>
                            </div>
                        </div>
                        <!-- title -->
                    </div>
                    <div class="table-responsive">
                        <table class="table v-middle">
                            <thead>
                                <tr class="bg-light">
                                    <th class="border-top-0">आवेदकको नाम  </th>
                                    <th>सम्पर्क नम्बर</th>
                                    <th>परिचय पत्र नं</th>
                                    <th>बुवाको नाम</th>
                                    <th>अद्यावधिक मिति</th>
                                     <th colspan="3">स्थिति </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr v-for="branch in branchLists" :key="branch.id">
                                    <td>{{branch.name}}</td>
                                     <td>{{branch.contact_number}}</td>
                                      <td>{{branch.citizenship_id}}</td>
                                       <td>{{branch.father_name}}</td>
                                     <td>{{branch.updated_at}}</td>
                                    <td>
                                        
                                        <router-link v-if="branch.status=='verified' && branch.type !==1 "  target="_blank" :to="{ name:'Showimage', params:{ querystring:branch.proof_file[0]}}" traget="_blank"><i style="font-size:20px;" class="mdi mdi-file-check text-success"></i> </router-link>
                                        </td>
                                     <td>
                                       <span class="badge badge-primary" v-if="branch.status=='pending'">{{branch.status}}</span>
                                       <span class="badge badge-success" v-if="branch.status=='verified'">{{branch.status}}</span>
                                       <span class="badge badge-danger" v-if="branch.status=='rejected'">{{branch.status}}</span>
                                   </td>


                                    <td v-if="branch.status !== 'verified'">
                                    <router-link  class="btn btn-primary btn-xs" :to="{ name:'Proofedit', params:{ id: branch.id }}">अद्यावधिक </router-link> |
                                     <a href="JavaScript:void(0)" @click="deletecategory(branch.id)" class="btn btn-danger btn-xs">मेट्नुहोस्</a>
                                    </td>
                                    <td v-else></td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
   
    </div>



</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"
export default {
  name: 'Prooflist',
  data () {
       return {
            branchLists:null,
            loading:false,
            id : 0,
            lockData:true
       }
  },
  components:{
      Loader
  },
  mounted(){ 
      this.branchList();
  },
  methods:{
      branchList(){
        this.loading = true;
          axios.get("proof").then(response=>{
            
              if(response.data.code == 200 && response.data.status==true){
               
                this.branchLists = response.data.data;

               
                
                 this.loading =false;
               }else{
                 
                 this.loading =false;
               }  
            })

           
      },

      deletecategory(id){
           var x = confirm("Are you sure you want to delete?");
            if (x){
                this.loading =true;
                axios.delete("proof/"+id).then(
                    response=>{
                        if(response.data.code==200 && response.data.status==true){
                            this.branchList();
                            this.loading =false;
                        }else{
                            this.loading =false;
                        }
                    }
                )
            }
      }
  }
  
}
</script>