<template>

            <div class="container-fluid">
         <form class="form-material"  id="serviceform" method="post"
            @submit.prevent="addForm">
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title"> अन्य व्यहोरा प्रमाणित गर्ने </h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link :to="{name:'Prooflist'}"  class="btn btn-success"> सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">
                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body"> 
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">  
                                        <select  required  class="form-control" v-model="type" name="type">
                                            <option selected :value="null">प्रमाणित को प्राकर रोजुनहोस  </option>
                                            <option  :value="1">अन्य  व्यहोरा    </option>
                                            <option  :value="2">आदिबासी जनजाति    </option>
                                            <option  :value="3">अल्पसंख्यक,दलित   </option>
                                        </select>
                                </div>
                                </div>
                        </div>
                    </div>
                 </div>
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">  
                            <div class="row">
                              
                                <div class="col-md-8 ">
                                    <div class="form-group">  
                                        <label class="formlabel">आवेदकको नाम *</label>
                                        <input type="text" required v-model="name" class="form-control form__input" name="name"/>
                                    </div>
                                    
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">परिचय पत्र नं *</label>
                                        <input type="text" required v-model="citizenship_id" class="form-control form__input" name="name"/>
                                    </div>
                                    
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>पति / पत्निको नाम,थर</label>
                                        <input type="text" v-model="husband_or_wife_name" class="form-control" name="husband_or_wife_name"/>
                                        <small>बिबाहित भएमा</small>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <hr>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>जिल्ला * </label>
                                        <select v-model="district_id" @change="changeItem($event)" class="form-control" required name="district_id">
                                            <option selected v-bind:value="0">तपाईको जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>स्थानीय तह * </label>
                                        <select v-model="local_level_id" required class="form-control" name="local_level_id">
                                            <option selected :value="0">स्थानीय तह छान्नुहोस् </option>
                                            <option v-for="local in locallevelList" :key="local.id" v-bind:value="local.id">{{local.name}} </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label> वार्ड नं * </label>
                                        <input type="text" required v-model="woda" class="form-control" name="email"/>
                                    </div>
                                </div>

                               <div class="col-md-12">
                                   <br>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बुवाको नाम * </label>
                                        <input type="text" required  v-model="father_name" class="form-control" name="contactnumber"/>
                                    </div>
                                    
                                </div>
                               
                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>आमाको नाम * </label>
                                        <input  type="text" required v-model="mother_name" class="form-control" name="street"/>
                                    </div>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>हजुरबुवाको नाम</label>
                                        <input type="text" v-model="grand_father_name" class="form-control" name="postal"/>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>सम्पर्क नम्बर *</label>
                                        <input type="text" required v-model="contact_number" class="form-control" name="postal"/>
                                    </div>
                                </div>

                                <div class="col-sm-12 ">
                                <div class="form-group">
                                    <br>
                                    <button type="submit"  class="btn btn-success">पेश गर्नुहोस्  र आवश्यक कागजात अपलोड गर्नुहोस  </button>
                                </div>
                            </div>

                            </div>   
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

               

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                           <h6>आवश्यक कागजात</h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                           
                            <div class="col-md-12">
                                 <h6>अन्य व्यहोरा प्रमाणितको लागि</h6>
                                <ul>
                                    <li>मनासिव व्यहोरा खुलेको निवेदन</li>
                                    <li>स्थानीय तहको सिफारिस तथा प्रहरी सर्जमिन मुचुल्का</li>
                                </ul>
                                <h6>आदिवासी जनजाती , दलित, मधेसी लगायतका प्रमाणितको लागि  </h6>
                                <ul>
                                    <li>निवेदककाे निवेदन </li>
                                    <li>सम्बन्धित वडा कार्यालयकाे सिफारिस </li>
                                    <li> नेपाली नागरिकताको  प्रतिलिपि</li>
                                </ul>
                                
                            </div>

                                
                        </div>
                    </div>
                 </div>

                  
                  
                
            </div>
        </div>

        </form>

    </div>

</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"
export default {
    name:"Proofedit",
    data(){
        return {
            districtList:{},
            locallevelList:{},

            district_id:0,
            local_level_id:0,
            name:null,
            citizenship_id:null,
            woda:null,
            father_name:null,
            mother_name:null,
            grand_father_name:null,
            contact_number:null,
            type:null,
            husband_wife:null,
            loading:false
        }
    },
    components:{
        Loader    
    },
    mounted(){
        this.getDistrict();
        this.id = this.$route.params.id;
        this.getById(this.id);
    },
    methods:{
        addForm(){
            this.loading=true;
            axios.patch("proof/"+this.id,{
                name:this.name,
                district_id:this.district_id,
                local_level_id:this.local_level_id,
                woda:this.woda,
                citizenship_id:this.citizenship_id,
                father_name:this.father_name,
                mother_name:this.mother_name,
                grand_father_name:this.grand_father_name,
                contact_number:this.contact_number,
                type:this.type,
                husband_wife:this.husband_wife
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){

                        this.loading=false;
                        this.$router.push({name:"Fileuploadlist",params:{id:response.data.data.id,type:'Prooflist'}});
                    }else{
                        this.loading=false;
                    }
                    
                     this.loading=false;
                }
            )
        },
        getById(id){
            this.loading = true;
            axios.get("proof/"+id).then(
                response=>{
                    if(response.data.code ==200 && response.data.status==true){
                        this.name=response.data.data.name;
                        this.district_id=response.data.data.district_id;
                        this.local_level_id=response.data.data.local_level_id;
                        this.woda=response.data.data.woda;
                        this.citizenship_id=response.data.data.citizenship_id;
                        this.father_name=response.data.data.father_name;
                        this.mother_name=response.data.data.mother_name;
                        this.grand_father_name=response.data.data.grand_father_name;
                        this.contact_number=response.data.data.contact_number;
                        this.type=response.data.data.type;
                        this.husband_wife = response.data.data.type;

                        this.getLocalLevel(response.data.data.district_id);
                         this.loading = false;
                    }else{
                         this.loading = false;
                    }
                }
            )
        },

        getDistrict(){
            this.loading=true;
            axios.get("district").then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                         this.districtList = response.data.data;
                         this.loading=false;
                    }
                   
                }
            )
        },
        getLocalLevel(id){
            this.loading=true;
            axios.get("getLocalByDistrict/"+id).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.locallevelList = response.data.data;
                        this.loading=false;
                    }
                }
            )
        },
        changeItem(event) {
            this.districtId = event.target.value;
            this.getLocalLevel(this.districtId);
        },
    }
}
</script>