<template>
  <div class="Service">

        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">निवेदक </h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link to="/admin" class="btn btn-success"> सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
           
            <div class="col-md-8">

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-header">
                       <h5 class="float-left"> <span v-if="citizenshipData.type==1">वंशज</span>
                                       <span v-if="citizenshipData.type==2">अङ्गिकृत</span>
                                       <span v-if="citizenshipData.type==3">प्रतिलिपि</span> काे नागरिकता  निवेदक को बिबरण  </h5>
                        <span class="float-right">
                              <span class="badge badge-primary" v-if="citizenshipData.status=='pending'">{{citizenshipData.status}}</span>
                    <span class="badge badge-success" v-if="citizenshipData.status=='verified'">{{citizenshipData.status}}</span>
                    <span class="badge badge-danger" v-if="citizenshipData.status=='rejected'">{{citizenshipData.status}}</span>
                
                        </span>
                    </div>
                    <div class="card-body applicantDetail"> 
                       <div class="row">
                           <div class="col-md-4">
                               <label>नाम थर </label>
                               <p>{{citizenshipData.fname_nep}} <span v-if="citizenshipData.mname_nep !== 'null'">{{ citizenshipData.mname_nep}}</span> {{citizenshipData.lname_nep}}</p>
                           </div>
                            <div class="col-md-4">
                               <label>नाम थर  (English)</label>
                               <p>{{citizenshipData.fname_eng}} <span v-if="citizenshipData.mname_eng !== 'null'">{{citizenshipData.mname_eng }}</span> {{ citizenshipData.lname_eng}}</p>
                           </div>

                           <div class="col-md-4">
                               <label>जन्म स्थान</label>
                               <p>{{citizenshipData.birth_place}}</p>
                           </div>
                           <div class="col-md-12">
                               <label>लिङ्ग</label>

                                    <p><span v-if="citizenshipData.gender=='0'">पुरूष</span> 
                                    <span v-if="citizenshipData.gender=='1'">महिला</span> 
                                    <span v-if="citizenshipData.gender=='2'">तेस्रो</span> 
                                </p>
                           </div>

                           <div class="col-md-12">
                               <hr>
                           </div>

                            <div class="col-md-4">
                               <label>जिल्ला</label>
                                <p>{{addr_district}}</p>
                           </div>

                           <div class="col-md-4">
                               <label>स्थानीय तह</label>
                                <p>{{addr_municipility}}</p>
                           </div>

                           <div class="col-md-4">
                               <label>वार्ड नं</label>
                                <p>{{citizenshipData.addr_wodano}}</p>
                           </div>

                           <div class="col-md-12">
                               <hr>
                               <small>जन्म मिति</small>
                           </div>

                            <div class="col-md-4">
                               <label>बर्ष</label>
                                <p>{{citizenshipData.dobin_nep}}</p>
                           </div>
                           

                           <div class="col-md-12">
                               <hr>
                           </div>

                           <div class="col-md-4">
                               <label> बाबुको नाम,थर </label>
                                <p>{{citizenshipData.father_f_name}}</p>
                           </div>

                           <div class="col-md-3">
                               <label> नगरिकता </label>
                                <p>{{citizenshipData.father_citizenship_id}}</p>
                           </div>
                            <div class="col-md-5">
                               <label> ठेगाना </label>
                                <p>{{citizenshipData.father_address}}</p>
                           </div>

                           <div class="col-md-12">
                               <hr>
                           </div>

                           <div class="col-md-4">
                               <label> आमाकाे नाम,थर </label>
                                <p>{{citizenshipData.mother_name}}</p>
                           </div>

                           <div class="col-md-3">
                               <label> नगरिकता </label>
                                <p>{{citizenshipData.mother_citizenship_id}}</p>
                           </div>
                            <div class="col-md-5">
                               <label> ठेगाना </label>
                                <p>{{citizenshipData.mother_address}}</p>
                           </div>

                           <div class="col-md-12">
                               <hr>
                           </div>

                           <div class="col-md-4">
                               <label> पति / पत्निको नाम थर </label>
                               <p>{{citizenshipData.husband_or_wife_name}}</p>
                           </div>

                           <div class="col-md-3">
                               <label> नगरिकता </label>
                                 <p>{{citizenshipData.husband_or_wife_citizenship_id}}</p>
                           </div>
                            <div class="col-md-5">
                               <label> ठेगाना </label>
                                <p>{{citizenshipData.husband_or_wife_address}}</p>
                           </div>

                            <div class="col-md-12 mt-3">
                                    <h6>सनाखत गर्नेको विवरण</h6>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>सनाखत गर्ने काे नाम,थर </label>
                                          <p>{{citizenshipData.proof_name}}</p>
                                       
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">  
                                        <label>सनाखत गर्ने काे नगरिकता </label>
                                         <p>{{citizenshipData.proof_citizen_id}}</p>
                                       
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group">  
                                        <label>सनाखत गर्ने काे नाता </label>
                                        <p>{{citizenshipData.proof_relation}}</p>
                                    </div>
                                </div>


                               

                           <div class="col-md-12">
                               <hr>
                           </div>
                        <div v-if="citizenshipData.type=1" class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <label> संरक्षकको नाम,थर </label>
                                        <p>{{citizenshipData.protector_name}}</p>
                                </div>

                                <div class="col-md-3">
                                    <label> नगरिकता </label>
                                        <p>{{citizenshipData.protector_citizeship}}</p>
                                </div>
                                <div class="col-md-5">
                                    <label> ठेगाना </label>
                                        <p>{{citizenshipData.protector_address}}</p>
                                </div>

                                <br>

                                <div class="col-md-4 ">
                                <div class="form-group">  
                                    <label>जन्म दर्ता नं</label>
                                     <p>{{citizenshipData.birth_id_no}}</p>
                                    
                                </div>
                            </div>

                                <div class="col-md-4 ">
                                <div class="form-group">  
                                    <label>जन्म दर्ता जारी मिति</label>
                                     <p>{{citizenshipData.birth_issue_date}}</p>
                                    
                                </div>
                            </div>

                                <div class="col-md-4 ">
                                <div class="form-group">  
                                    <label>नाम थर </label>
                                    <p>{{citizenshipData.certificate_name}}</p>
                                   
                                    <small>शैक्षीक प्रमाण पत्र अनुसारकाे </small>
                                </div>
                            </div>

                            <div class="col-md-4 ">
                                <div class="form-group">  
                                    <label>जन्म मिति </label>
                                     <p>{{citizenshipData.certificate_dob}}</p>
                                   
                                    <small>शैक्षीक प्रमाण पत्र अनुसारकाे </small>
                                </div>
                            </div>


                                <div class="col-md-4 ">
                                <div class="form-group">  
                                    <label>बसाँइसराई दर्ता नं </label>
                                     <p>{{citizenshipData.migration_issue_number}}</p>
                                    
                                    <small>बसाँइसरेकाे अवस्थामा </small>
                                </div>
                            </div>

                            <div class="col-md-4 ">
                                <div class="form-group">  
                                    <label>बसाँइसराई दर्ता नं जारी मिति </label>
                                     <p>{{citizenshipData.migration_issue_date}}</p>
                                    
                                    <small>बसाँइसरेकाे अवस्थामा</small>
                                </div>
                            </div>

                            
                            </div>
                        </div>
                        
                        <div v-if="citizenshipData.type==2" class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>पुरा गरेको उमेर</label>
                                        <p>{{citizenshipData.completed_age}}</p>
                                        
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>धर्म</label>
                                        <p>{{citizenshipData.religion}}</p>
                                        
                                    </div>
                                </div>


                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>हुलाक रसीदको नं.</label>
                                         <p>{{citizenshipData.postal_ticket_no}}</p>
                                        
                                    </div>
                                </div>

                                    <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>परीचय पत्रको नं.</label>
                                        <p>{{citizenshipData.forigen_id_no}}</p>
                                        
                                        <span>बीदेशी नागरीक भएको परीचय पत्रको नं. (आधार कार्ड)</span>
                                    </div>
                                </div>

                                    <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label> अवधी (बर्ष / महीना)</label>
                                        <p>{{citizenshipData.lived_date}}</p>
                                       
                                        <small>नेपालमा बसोबास गरेको अवधी </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="citizenshipData.type==3" class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>ना. प्र. नं</label>
                                         <p>{{citizenshipData.citizenship_no}}</p>
                                        
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>ना. प्र. नं जारी मिति</label>
                                        <p>{{citizenshipData.citizenship_grant_date}}</p>
                                       
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>किसिम</label>
                                        <p>{{citizenshipData.citizenship_type}}</p>
                                       
                                    </div>
                                </div>


                                    <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बसाँइसराई दर्ता नं </label>
                                         <p>{{citizenshipData.migration_issue_number}}</p>
                                        
                                        <small>बसाँइसरेकाे अवस्थामा </small>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बसाँइसराई दर्ता नं जारी मिति </label>
                                         <p>{{citizenshipData.migration_issue_date}}</p>
                                       
                                        <small>बसाँइसरेकाे अवस्थामा</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                       </div>
                    </div>
                  
                </div>

                <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-header">
                        <h5>फाईलहरू  </h5>
                    </div>
                    <div class="card-body"> 

                        <div v-for="file in fileList" :key="file.id" class="row">
                            <div class="col-md-8">
                                <span>{{file.file_name}}</span> <br>
                                <small v-if="! file.file_description">{{file.file_description}}</small>
                            </div>
                            <div class="col-md-4">
                                <router-link target="_blank" :to="{ name:'Showimage', params:{ querystring:file.file_path}}" traget="_blank"><img :src="'data:image/png;base64,'+file.file_path" class="fileuploadImage"/> </router-link>
                               
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                       
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

                <div class="card">
                        <div v-if="loadingWoda"><Loader></Loader></div>
                     <div class="card-header">
                         <h6>सम्बन्धित  सेवा केन्द्रकाे विवरण</h6>
                     </div>
                    <div class="card-body">
                      
                        <div class="row">
                            <div class="col-md-6">
                                {{userDetail.name}}<br>
                                <small>सेवा केन्द्र</small>
                                 <hr>
                            </div>
                            <div class="col-md-6">
                                 {{userDetail.municipility}}<br>
                                <small>न.पा / गा.पा</small>
                                <hr>
                            </div>

                             <div class="col-md-12">
                                 {{userDetail.ilaka}}<br>
                                <small>इलाका</small>
                            </div>
                        </div>
                    </div>
                </div>


                 <div v-if="userType !=='user' && citizenshipData.status !=='verified'" class="card">
                     <div v-if="loadingPass"><Loader></Loader></div>
                     <div class="card-header">
                         <h6>कार्य</h6>
                     </div>
                    <div class="card-body">
                       <form  method="post" @submit.prevent="addForm">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>कार्य छनौट गर्नुहोस्</label>
                                    <select class="form-control" v-model="status" name="types_citizenship">
                                         <option :value="0">कार्य छनौट गर्नुहोस्</option>
                                        <option value="verified">स्वीकृत </option>
                                        <option value="rejected">अस्वीकृत </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>कारण</label>
                                    <textarea v-model="description" class="form-control" rows="5"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-primary" type="submit">पेश गर्नुहोस् </button>
                                </div>
                            </div>
                        </form>
                    </div>
                 </div>

                <div class="card">
                        <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                         <h6>ईतिहास</h6>
                     </div>
                    <div class="card-body">
                        <div class="row">
                            <table class="table">
                                <tr>
                                    <th>स्थिति</th>
                                    <th>मिति</th>
                                </tr>

                                  <tr v-for="history in historyList" :key="history.id">
                                    <td>
                                        <span class="badge badge-primary" v-if="history.status=='pending'">{{history.status}}</span>
                                        <span class="badge badge-success" v-if="history.status=='verified'">{{history.status}}</span>
                                        <span class="badge badge-danger" v-if="history.status=='rejected'">{{history.status}}</span>
                                        
                                    </td>
                                    <td>{{history.created_at}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

       

    </div>


</template>

<script>
import axios from 'axios'
import Loader from '../../Loader'
export default {
  components: { Loader },
    name: 'Citizenshipview',
   
    data(){
        return {
            citizenshipData:{},
            id:null,
            addr_district:null,
            fileList:{},
            assetUrl:null,
            addr_municipility:null,
            loading:false,
            loadingPass:false,
            loadingWoda:false,

            // history propoties
            status:0,
            description:null,
            typeaction:"citizenship",
            historyList:{},
            actionType:"Newcitizenshiplist",
            userType:null,

            userDetail:{}
        }
    },
     mounted(){
        this.id = this.$route.params.id;
        this.citizenshipDtl(this.id);
        this.getFileById();
        this.assetUrl = process.env.VUE_APP_API_ASSETS,
        this.getByCatId();
        this.userType = localStorage.getItem("user_type");
    },
    methods: {  
        citizenshipDtl(id){
            this.loading=true;
            axios.get("new-citizenship/"+id).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.citizenshipData = response.data.data;
                        
                        this.getDistrict(response.data.data.addr_district);
                        this.getlocalLevel(response.data.data.addr_municipility);
                        this.getUserDetail(response.data.data.user_id);
                         this.loading=false;
                    }else{
                        this.loading=false;
                    }
                }
            )
        },
        getDistrict(id){
             this.loading=true;
            axios.get("district/"+id).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.addr_district= response.data.data.name_nep;
                         this.loading=false;
                    }else{
                         this.loading=false;
                    }
                }
            )
        },

         getlocalLevel(id){
              this.loading=true;
            axios.get("local-level/"+id).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.addr_municipility= response.data.data.name;
                         this.loading=false;
                    }else{
                         this.loading=false;
                    }
                }
            )
        },
        getFileById(){
            this.loading = true;
            axios.post("filewithtype",{
                catid:this.id,
                type:this.actionType
            }).then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                        this.fileList = response.data.data;
                        this.loading=false;
                    }else{
                         this.loading=false;
                    }
                }
            ).catch(error=>{
                console.log(error);
                this.loading = false;
            })
        },
        addForm(){
            this.loadingPass=  true;
            axios.post("history",{
                status:this.status,
                description:this.description,
                type:this.typeaction,
                category_id:this.id
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                      
                        this.status = 0;
                        this.description="";
                        this.loadingPass=  false;
                        this.getByCatId();
                    }else{
                         this.loadingPass=  false;
                    }
                }
            ).catch(
                error=>{
                    console.log('Erorr', error);
                     this.loadingPass=  false;
                }
            )
        },
        getByCatId(){
            this.loading = true;
            axios.post("historyBycatId",{
                catid:this.id,
                type:this.typeaction
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status ==true){
                        this.historyList = response.data.data;
                        this.loading = false;
                    }else{
                        this.loading = false;
                    }
                }
            ).catch(
                error=>{
                    console.log('Error', error);
                     this.loading = false;
                }
            )
        },
        getUserDetail(id){
             this.loadingWoda = true;
            axios.get("userbyservice/"+id).then(response=>{
                if(response.data.code == 200 && response.data.status==true){
                    this.userDetail = response.data.data[0];
                    console.log(response.data.data);
                    this.loadingWoda = false;
                }else{
                    this.loadingWoda = false;
                }
            }).catch(error=>{
                 this.loadingWoda = false;
                console.log(error);
                
            })
        }
      
    }
   

}
</script>


<style scoped>
    .applicantDetail hr{
        margin-top: 0rem;
        border-top: 1px solid #0000000d;
    }
    .applicantDetail label{
        font-weight:bold;
    }
    .fileuploadImage{
        width:100%;
        max-height:150px;
    }
</style>