<template>
    <table class="table v-middle">
        <div v-if="loading"><Loader></Loader></div>
        <thead>
            <tr class="bg-light">
                <th class="border-top-0">नाम थर  </th>
                <th class="border-top-0">जन्म मिति</th>
                <th class="border-top-0">बाबुको नाम,थर</th>
                <th class="border-top-0">प्रकार</th>
                <th class="border-top-0">लिङ्ग</th>
                <th class="border-top-0">सनाखत गर्ने</th>
                <th  class="border-top-o">स्थिति</th>
                <th colspan="2" class="border-top-0">बिस्तृत् विवरण</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="citi in citizenshipList" :key="citi.id">
                <td>
                    <b>{{citi.fname_nep }} {{citi.mname_nep}} {{citi.lname_nep}}</b>
                </td>
                <td>{{citi.dobin_nep}}</td>
                <td>{{citi.father_f_name}}</td>
                <td>
                    <span v-if="citi.type=='1'">वंशज</span> 
                    <span v-if="citi.type=='2'">अङ्गिकृत</span> 
                    <span v-if="citi.type=='3'">प्रतिलिपि</span> 
                </td>
                <td>
                    <span v-if="citi.gender=='0'">पुरूष</span> 
                    <span v-if="citi.gender=='1'">महिला</span> 
                    <span v-if="citi.gender=='2'">तेस्रो</span> 
                </td>

                <td>{{citi.proof_relation}}</td>
                
                <td><span class="badge badge-primary" v-if="citi.status=='pending'">{{citi.status}}</span>
                    <span class="badge badge-success" v-if="citi.status=='verified'">{{citi.status}}</span>
                    <span class="badge badge-danger" v-if="citi.status=='rejected'">{{citi.status}}</span>
                </td>
                 
                <td>
                    <router-link :to="'/admin/citizenship/'+citi.id" class="btn btn-success btn-xs"><i class="mdi mid-eye"> </i>विवरण हेर्नुहोस् </router-link>
                </td>
            </tr>
        </tbody>
    </table>

</template>

<script>
import axios from "axios"
import Loader from '../../Loader'
export default {
  name: 'Citizenshiplist',
  component:{
      Loader
  },
  data(){
      return{
          citizenshipList:{},
          limit:10,
          loading:false
      }
  },
  mounted(){
      this.getCitizenship(this.limit);
  },  
  methods:{
      getCitizenship(limit){
          this.loading=true;
          axios.get("citizenshiplimit/"+limit).then(
              response=>{
                  if(response.data.code == 200 && response.data.status==true){
                      this.citizenshipList = response.data.data
                      this.loading=false;
                  }else{
                      this.loading=false;
                  }
                  
              }
          )
      },
      getDistrict(id){
          this.loading=true;
            axios.get("district/"+id).then(
                response=>{
                   
                    if(response.data.code==200 && response.data.status==true){
                        this.loading=false;
                       return response.data.data.name_nep;

                    }else{
                        this.loading=false;
                        return "";
                    }
                }
            )
      }
  }
}
</script>