<template>
  <div class="Service">
     <Navbar></Navbar>
      <Sidenavbar></Sidenavbar>

        <div class="page-wrapper">
            <div class="container-fluid">
            <router-view/>
            <!-- <Servicelist></Servicelist> -->
            </div>

        </div>

  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from '@/components/Navbar.vue'
import Sidenavbar from '@/components/Sidenavbar.vue'
//import Servicelist from '@/components/servicelist/Servicelist.vue'
import axios from 'axios'
export default {
  name: 'AdminPage',
  components: {
    Navbar,
    Sidenavbar,
   // Servicelist
  },
   mounted(){
      this.getuser();
  },
  methods:{
      getuser(){
      axios.get("getuser").then(
        response=>{
          this.userType   = response.data.data.assign_users.user_type;
          localStorage.setItem("user_type",this.userType);
        }
      )
    }
  }
}
</script>
