<template>
  <div class="home">
     <Navbar></Navbar>
      <Sidenavbar></Sidenavbar>

        <div class="page-wrapper">
            <AdminDashboard></AdminDashboard>

            <footer class="footer text-center">
                &copy; सर्वाधिकार सुरक्षित जिल्ला प्रशासन कार्यालय, इलाम
            </footer>


        </div>

  </div>
</template>

<script>
// @ is an alias to /src
//import Dashboard from '@/components/Dashboard.vue'
import Navbar from '@/components/Navbar.vue'
import Sidenavbar from '@/components/Sidenavbar.vue'
import AdminDashboard from "../components/admin/AdminDashboard"

export default {
  name: 'Home',
  components: {
    //Dashboard,
    Navbar,
    Sidenavbar,
    AdminDashboard
  }
}
</script>
