<template> 
  
   <div id="user" class="row">
      <div class="col-md-4 com-sm-4 col-xs-12 mx-auto loginbox mt-5">
          <Userlogin></Userlogin>
      </div>
    </div>

                
            

</template>

<script>
// @ is an alias to /src
import Userlogin from "@/components/auth/Userlogin.vue"
export default {
  name: 'Loginpage',
  components: {
   Userlogin
  }
}
</script>
