<template>
  <div class="Newcetizen">
     <Navbar></Navbar>
      <Sidenavbar></Sidenavbar>

        <div class="page-wrapper">

            <NewcetizenStep1></NewcetizenStep1>

        </div>

  </div>
</template>

<script>
// @ is an alias to /src
import NewcetizenStep1 from '@/components/NewcetizenStep1.vue'
import Navbar from '@/components/Navbar.vue'
import Sidenavbar from '@/components/Sidenavbar.vue'

export default {
  name: 'Newcetizen',
  components: {
    NewcetizenStep1,
    Navbar,
    Sidenavbar
  }
}
</script>
