<template>
  <div class="Service">
     <Navbar></Navbar>
      <Sidenavbar></Sidenavbar>

        <div class="page-wrapper">

            <Servicelist></Servicelist>

        </div>

  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from '@/components/Navbar.vue'
import Sidenavbar from '@/components/Sidenavbar.vue'
import Servicelist from '@/components/servicelist/Servicelist.vue'
export default {
  name: 'Service',
  components: {
    Navbar,
    Sidenavbar,
    Servicelist
  }
}
</script>
