<template>
    <img :src="'data:image/png;base64,'+imagefile"/>
</template>

<script>
export default {
    name:'Showimage',
    data(){
       return {
           imagefile:this.$route.params.querystring
       }
    },
    watch:{
        '$route.params.querystring': function (querystring) {
            this.imagefile = querystring;
            console.log(this.imagefile);
        }
    }
    
}
</script>