<template>

            <div class="container-fluid">
         <form class="form-material"  id="serviceform" method="post"
            @submit.prevent="addForm">
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title"> प्राकृतिक प्रकोप पीडित परिवारका लागि राहत </h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link :to="{name:'Relieflist'}"  class="btn btn-success"> सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">

                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">  
                            <div class="row">
                              
                                <div class="col-md-8 ">
                                    <div class="form-group">  
                                        <label class="formlabel"> पीडितको नाम *</label>
                                        <input type="text" required v-model="full_name" class="form-control form__input" name="name"/>
                                    </div>
                                    
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">विपदको किसिम *</label>
                                        <input type="text" required v-model="accident_case" class="form-control form__input" name="name"/>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">विपद् घटेको मिति *</label>
                                        <input type="text" required v-model="accident_date" class="form-control form__input nepaliDatePicker" id="from-picker" name="name"/>
                                       
                                    </div>
                                    
                                </div>


                                <div class="col-md-12">
                                    <hr>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>जिल्ला * </label>
                                        <select v-model="district_id" @change="changeItem($event)" class="form-control" required name="district_id">
                                            <option selected v-bind:value="0">तपाईको जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>स्थानीय तह * </label>
                                        <select v-model="locallevel_id" required class="form-control" name="local_level_id">
                                            <option selected :value="0">स्थानीय तह छान्नुहोस् </option>
                                            <option v-for="local in locallevelList" :key="local.id" v-bind:value="local.id">{{local.name}} </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label> वार्ड नं * </label>
                                        <input type="text" required v-model="ward_no" class="form-control" name="email"/>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">  
                                        <label>सडक ठेगाना* </label>
                                        <input type="text" required  v-model="street_address" class="form-control" name="contactnumber"/>
                                    </div>
                                    
                                </div>

                               <div class="col-md-12">
                                   <hr>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बैंक खाता  </label>
                                        <input type="text"   v-model="bank_acc" class="form-control" name="contactnumber"/>
                                    </div>
                                    
                                </div>
                               
                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>बैंक नाम  </label>
                                        <input  type="text"  v-model="bank_name" class="form-control" name="street"/>
                                    </div>
                                </div>

                                

                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>सम्पर्क नम्बर *</label>
                                        <input type="text" required v-model="mobile_number" class="form-control" name="postal"/>
                                    </div>
                                </div>

                                <div class="col-sm-12 ">
                                <div class="form-group">
                                    <br>
                                    <button type="submit"  class="btn btn-success">पेश गर्नुहोस्  र आवश्यक कागजात अपलोड गर्नुहोस  </button>
                                </div>
                            </div>

                            </div>   
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

                <VNepaliDatePicker calenderType="Nepali" />

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                           <h6>प्राकृतिक प्रकोप पीडित परिवारका लागि राहत</h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                           
                            <div class="col-md-12">
                               
                                    <h6>विपद् मा परी व्यक्तिको मृत्यु भएका व्यक्तिका हकमा</h6>
                                    <ul>
                                        <li>कानूनी हकदारको निवेदन ।</li>
                                        <li>मृतकको लास जाँच मुचुल्का</li>
                                        <li>मृतकको कानूनी हकदार सँगको नाता प्रमाणित</li>
                                        <li>मृत्यु दर्ता प्रमाणपत्र</li>
                                        <li>सम्बन्धित निवेदकको नागरिकताको प्रमाणपत्र </li>
                                        <li>सम्बन्धित स्थानीय तहले फोटो सहित प्रमाणित गरेको सिफारिस पत्र</li>
                                    </ul>
                                    <h6>विपद् मा परी घर पूर्णरआंशिक रुपमा नष्ट भएमा</h6>
                                    <ul>
                                        <li>प्रहरी सर्जमिन मुचुल्का ।</li>
                                        <li>सम्बन्धित निवेदकको नागरिकताको प्रमाण–पत्र </li>
                                        <li>सम्बन्धित स्थानीय तहको वडाको सिफारिस पत्र ।</li>
                                        <li>सम्बन्धित निवेदकको क्षति सम्बन्धी व्यहोरा उल्लेखित निवेदन ।</li>
                                    </ul>
                                
                            </div>

                                
                        </div>
                    </div>
                 </div>

                  
                  
                
            </div>
        </div>

        </form>

    </div>

</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"
export default {
    name:"Reliefadd",
    data(){
        return {
            districtList:{},
            locallevelList:{},

            full_name:null,
            accident_case:null,
            accident_date:null,
            district_id:0,
            locallevel_id:0,
            ward_no:null,
            street_address:null,
            mobile_number:null,
            bank_acc:null,
            bank_name:null,

            loading:false
        }
    },
    components:{
        Loader,   
    },
    mounted(){
        this.getDistrict();
    },
    methods:{
        addForm(){
            this.loading=true;
            axios.post("relief",{
                full_name:this.full_name,
                accident_case:this.accident_case,
                accident_date:this.accident_date,
                district_id:this.district_id,
                locallevel_id:this.locallevel_id,
                ward_no:this.ward_no,
                street_address:this.street_address,
                mobile_number:this.mobile_number,
                bank_acc:this.bank_acc,
                bank_name:this.bank_name,
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){

                        this.loading=false;
                        this.$router.push({name:"Fileuploadlist",params:{id:response.data.data.id,type:'Relieflist'}});
                    }else{
                        this.loading=false;
                    }
                    
                     this.loading=false;
                }
            )
        },

        getDistrict(){
            this.loading=true;
            axios.get("district").then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                         this.districtList = response.data.data;
                         this.loading=false;
                    }
                   
                }
            )
        },
        getLocalLevel(){
            this.loading=true;
            axios.get("getLocalByDistrict/"+this.districtId).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.locallevelList = response.data.data;
                        this.loading=false;
                    }
                }
            )
        },
        changeItem(event) {
            this.districtId = event.target.value;
            this.getLocalLevel();
        },
    }
}



</script>