<template>
<div>
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-5">
                <h4 class="page-title">ड्यासबोर्ड</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
            
        </div>
    </div>


    <div class="container-fluid">
        
        <DashboardIcons></DashboardIcons>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">भर्खरै प्राप्त भयका निबेदन हरु </h4>
                                <h5 class="card-subtitle">नया निबेदन हरु को जानकारी </h5>
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                    <select class="custom-select">
                                        <option value="citizenship" selected>नागरिकता</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- title -->
                    </div>
                    <div class="table-responsive">
                        <div v-if="citizenshipTable">
                            <Citizenshiplist></Citizenshiplist>
                        </div>
                        <div v-if="nameAge">
                            <Citizenshiplist></Citizenshiplist>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
 </div>
</template>

<script>


import Citizenshiplist from "../components/admin/citizenship/Citizenshiplist"
import DashboardIcons from "../components/admin/dashboard/DashboardIcons"
import Loader from "./Loader"
export default {
  name: 'Dashboard',
  components: {
    Citizenshiplist,
    Loader,
    DashboardIcons
  },
  data(){
      return{
          userType:null,
          citizenshipTable:true,
          nameAge:false,
          loading:false
      }
  },
  mounted(){
     // this.getuser();
  },
 
}
</script>

