<template>
<div>
    <div id="loaderouter">
        <div class="loader-control">
            <div class="loader"></div> 
        </div>
 </div>
 
 </div>


</template>

<script>
export default {
    name:"Loader"
}
</script>

<style scoped>
    
.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width:35px;
  height: 35px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
#loaderouter{
z-index: 2;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    background: #f7f7f7fa;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.loader-control{
    position: absolute;
    top: 50%;
    left: 50%;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


</style>