<template>      
    <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <router-link class="navbar-brand" to="/">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <!-- <router-link to="/">SDMS</router-link> -->
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                           <router-link style="color:#fff; font-size:20px;" to="/">SDMS</router-link>
                        </span>
                    </router-link>

                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                </div>

                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">

                    <ul class="navbar-nav float-left mr-auto">

                        <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark"
                                href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a
                                    class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>

                    <ul class="navbar-nav float-right">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="assets/images/users/1.jpg" alt="user" class="rounded-circle"
                                    width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                               
                                <li class="dropdown-item" href="javascript:void(0)">
                                  
                                    <small>Login As</small> <br>
                                    {{userName}}
                                </li>

                                <li><hr></li>

                                <a class="dropdown-item btn btn-danger text-danger" @click="logout()" href="javascript:void(0)">
                                    <i class="mdi mdi-logout-variant m-r-5 m-l-5"></i>
                                    Logout
                                </a>
                               
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </nav>
           
        </header>
            
</template>

<script>
import axios from 'axios'
export default {
  name: 'Navbar',
  props: {
    msg: String
  },
  data(){
      return{
          userType:null,
          userName:null
      }
  },
  mounted(){
    this.getToken();
    this.getUserType();
  },
  updated(){
    this.getToken();
    this.getUserType();
  },
  methods:{
      logout(){
          axios.post("logout").then(
              response=>{
                  if(response.data.code == 200 && response.data.status==true){
                    localStorage.removeItem('token');
                    localStorage.removeItem('user_name');
                    localStorage.removeItem('user_name');
                   
                    this.getToken();
                 }else{
                      this.getToken();
                 }
              }
          )
         
      },
      getToken(){
        let token = localStorage.getItem("token");
        if(!token){
            this.$router.push("/login");
            return false;
        }
      },
      getUserType(){
          this.userType =  localStorage.getItem("user_type");
          this.userName =  localStorage.getItem("user_name");
      }
  }
}
</script>

