<template>
<div>
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-5">
                <h4 class="page-title">नयाँ नागरिकता</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">ड्यासबोर्ड</a></li>
                            <li class="breadcrumb-item active" aria-current="page">नयाँ नागरिकता</li>
                        </ol>
                    </nav>
                </div>
            </div>
            
        </div>
    </div>


    <div class="container-fluid">
        
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>बंशजको नाताले नयाँ नागरिकता</h4>
                                <hr>
                                <ul>
                                    <li>नेपाल नागरिकता नियमावली २०६३ को अनुसूची १ बमजिमको वडा अध्यक्षबाट प्रमाणित सिफारिस</li>
                                   
                                   <li> बाबुको नागरिकताको प्रतिलिपि </li>
                                    (सनाखत गर्ने प्रयोजनार्थ बाबु उपस्थित हुन नसक्ने भएमा नागरिकतामा पतिको नाम उल्लेख भएको आमा वा तीन
                                    पुस्ता भित्रको नातेदार (हजुरवुवा, बडिबा, काका, दाजु, अबिवाहित दिदी० को नागरिकताको प्रतिलिपि)
                                    <li>जन्म दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                    <li>शैक्षिक प्रमाणपत्रको प्रतिलिपी ९प्राप्त गरेको भएमा</li>
                                    नोटः नागिरकता प्रमाणापत्र नलिँदै विवाह भएकी नेपाली महिलाले नागरिकताको प्रमाणपत्र लिनको
                                    लागि उल्लेखित कागजातहरूको अतिरिक्त निम्न कागजातहरू समेत समावेश गर्नु पर्नेछः
                                    <li>विवाह दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                    <li>पतिको नागरिकताको प्रमाणपत्रको प्रतिलिपि</li>
                                    सनाखत गर्ने प्रयोजनार्थ पति उपस्थित हुन नसक्ने भएमा ससुरा वा सासु वा जेठाजु वा देवर
                                    मध्ये पतिसँग नाता खुलेको एकजनाको नागरिकताको प्रतिलिपि
                                    <li>माईती पट्टिको बाबु वा दाजु वा भाइ वा पतिको नाम उल्लेख भएको आमाको नागरिकताको
                                    प्रतिलिपी </li>
                                </ul>
                                <hr>
                                <router-link to="/newcitizenship-add" class="btn btn-success btn-block">फारम मा जानुहोस </router-link>
                            </div>

                            <div class="col-md-6">
                                <h4>वैवाहिक अङ्गिकृत नागिकता</h4>
                                     <hr>
                                <ul>
                                
                                    <li>नेपाल नागरिकता नियमावली २०६३ को अनुसूची ७ बमेजिमको ढाँचामा सिफारिस पत्र</li>
                                    <li>विवाह दर्ता प्रमाणपत्रको प्रतिलिपि</li>
                                    <li>विदेशी नागरिकता त्याग्ने कारवाही चलाएको निवेदन र सम्बन्धित निकाय District Magistrate
                                    Office of INDIA,गृह मन्त्रालय सिंहदरबार, काठमाण्डौ, भारतीय राजदुतवास लैनचौर काठमाण्डौ,
                                    जिल्ला प्रशासन कार्यालय,इलाम) मा रजिष्ट्रि गरी पठाएको हुलाक रसिद</li>
                                    <li>पतिको नागरिकताको प्रमाणपत्रको प्रतिलिपि</li>
                                    <li>वैवाहिक अङ्गिकृत नागरिकता प्राप्त गर्नु अगावै पतिको मृत्यु भईसकेको अवस्थामा पतिको मृत्यु
                                    दर्ता प्रमाणपत्र</li>
                                    <li>पतिसँग नाता खुल्ने तीन पुस्ता भित्रको सनाखत गर्ने नातेदारको नागरिकताको प्रतिलिपि
                                    निजको जन्मस्थान र जन्ममिति खुल्ने आधारकार्ड वा सो देशको आधिकारीक परिचयपत्रको
                                    प्रतिलिपि </li>
                                
                                </ul>
                                <hr>

                                <router-link to="/newcitizenship-add" class="btn btn-success btn-block"> फारम मा जानुहोस </router-link>
                            </div>
                        </div>
                        

                    </div>
                    
                </div>
            </div>
        </div>

    </div>
 </div>
</template>

<script>
export default {
  name: 'NewcetizenStep1',
  props: {
    
  }
}
</script>

