<template>
 <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        
                      
                        <li class="sidebar-item"> 
                            <router-link :to="generateLink(this.userType)" class="sidebar-link waves-effect waves-dark sidebar-link"
                                  aria-expanded="false">
                                <i class="mdi mdi-view-dashboard"></i>
                                <span>ड्यासबोर्ड</span>
                            </router-link>
                        </li>

                        <li v-if="this.userType=='admin'" class="sidebar-item"> 
                            <router-link class="sidebar-link waves-effect waves-dark sidebar-link"
                                    :to="{name:'Branch'}" aria-expanded="false">
                                <i class="mdi mdi-account"></i>
                                <span>इलाका </span>
                            </router-link>
                        </li>

                        <li v-if="this.userType=='branch'" class="sidebar-item"> 
                            <router-link class="sidebar-link waves-effect waves-dark sidebar-link"
                                    :to="{name:'Servicecenter'}" aria-expanded="false">
                                <i class="mdi mdi-account"></i>
                                <span>सेवा केन्द्र  </span>
                            </router-link>
                        </li>

                        <li v-if="this.userType=='admin'" class="sidebar-item"> 
                            <router-link class="sidebar-link waves-effect waves-dark sidebar-link"
                                    to="/servicelist" aria-expanded="false">
                                <i class="mdi mdi-view-dashboard"></i>
                                <span>सेवा सूची</span>
                            </router-link>
                        </li>

                        <li class="sidebar-item"> 
                            <router-link to="/report" class="sidebar-link waves-effect waves-dark sidebar-link"
                                  aria-expanded="false">
                                <i class="mdi mdi-view-dashboard"></i>
                                <span>रिपोर्ट</span>
                            </router-link>
                        </li>

                        



                        
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->

   <div v-if="this.userType =='user'"  id="accordion" class="navCard">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="mdi mdi-account-network"></i>
                                <span class="hide-menu">नयाँ नागरिकता</span>
                            </button>
                        </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                           <ul class="sidebarListMenu">
                               
                                  <li><i class="mdi mdi-adjust"></i> <router-link :to="{name:'Newcitizenshipadd',query:{type:1}}" aria-expanded="false">  बंशजको नाताले नयाँ नागरिकता</router-link></li>
                                    <li><i class="mdi mdi-adjust"></i> <router-link :to="{name:'Newcitizenshipadd',query:{type:2}}" aria-expanded="false">  वैवाहिक अङ्गिकृत नागिकता </router-link></li>
                                      <li><i class="mdi mdi-adjust"></i> <router-link :to="{name:'Newcitizenshipadd',query:{type:3}}" aria-expanded="false">  प्रतिलिपि नागरीकता </router-link></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                     <div class="card">
                        <div class="card-header" id="">
                        <h5 class="mb-0">
                            <router-link :to="{name:'MinorAdd'}" class="btn btn-link text-left" data-toggle="collapse" data-target="#" aria-expanded="true" aria-controls="">
                            <i class="mdi mdi-account-network"></i>
                                <span class="hide-menu">नावालक परिचय पत्र</span>
                            </router-link>
                        </h5>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             <i class="mdi mdi-account-network"></i>
                                <span class="hide-menu">सिफारिस तथा प्रमाणित</span>
                            </button>
                        </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="sidebarListMenu">
                                <li><i class="mdi mdi-adjust"></i> <router-link :to="{name:'Nameageadd'}" aria-expanded="false">  एकै व्यक्ति प्रमाणित</router-link></li>
                                 <li></li>
                                  
                                  <li><i class="mdi mdi-adjust"></i> <router-link :to="{name:'Proofadd'}" aria-expanded="false">  आदिबासी जनजाति प्रमाणित </router-link></li>
                                  <li><i class="mdi mdi-adjust"></i> <router-link :to="{name:'Proofadd'}" aria-expanded="false">  अल्पसंख्यक,दलित प्रमाणित </router-link></li>
                                  <li><i class="mdi mdi-adjust"></i> <router-link :to="{name:'Proofadd'}" aria-expanded="false">  अन्य व्यहोरा प्रमाणित गर्ने </router-link></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                 <i class="mdi mdi-account-network"></i>
                                <span class="hide-menu">विवरण प्रमाणित (भू.पू. भा. सैनिक)</span>
                            </button>
                        </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                           <ul class="sidebarListMenu">
                                <li><i class="mdi mdi-adjust"></i> <router-link :to="{name:'Exarmyadd'}" aria-expanded="false">  पेन्सन नामसारी सिफारिस </router-link></li>
                                <li><i class="mdi mdi-adjust"></i> <router-link :to="{name:'Exarmyadd'}" aria-expanded="false">  पेन्सन रहल पहल लिन </router-link></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                     <div class="card">
                        <div class="card-header" id="headingFours">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#headingFour" >
                                 <i class="mdi mdi-account-network"></i>
                                <span class="hide-menu">राहत वितरण  </span>
                            </button>
                        </h5>
                        </div>
                        <div id="headingFour" class="collapse" aria-labelledby="headingFours" data-parent="#accordion">
                        <div class="card-body">
                           <ul class="sidebarListMenu">
                                <li><i class="mdi mdi-adjust"></i> <router-link :to="{name:'Reliefadd'}" aria-expanded="false"> पूर्ण र आंशिक क्षति (प्राकृतिक प्रकोप) </router-link></li>
                                <li><i class="mdi mdi-adjust"></i> <router-link :to="{name:'Exforigenadd'}" aria-expanded="false"> वैदेशिक रोजगारी काे क्षतिपुर्ति/राहत  </router-link></li>
                                
                            </ul>
                        </div>
                        </div>
                    </div>
                    </div>
             

             

            </div>
            <!-- End Sidebar scroll-->
          
        </aside>

</template>

<script>
import axios from "axios"
export default {
  name: 'Sidenavbar',
  props: {
    msg: String
  },
  data(){
      return{
          userType:null,
          user:null
      }
  },
  mounted(){
    this.getuser();
    this.userType = localStorage.getItem("user_type");
  },
 
  methods:{
       getuser(){
        axios.get("getuser").then(
            response=>{
            localStorage.setItem("user_type",response.data.data.assign_users.user_type);
            localStorage.setItem("user_name",response.data.data.email);
            }
        )
    },
      generateLink(userTypes){
          if(userTypes=='admin'){
              return this.genLink="/admin";
          }else if(userTypes=='branch'){
              return this.genLink="/admin";
          }else{
              return this.genLink = "/";
          }
      }
  }
}
</script>