<template>

            <div class="container-fluid">
         <form class="form-material"  id="serviceform" method="post"
            @submit.prevent="addForm">
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title"> वैदेशिक रोजगारीमा मृत्यु भएका व्यक्तिले पाउने राहत वा क्षतिपुर्ति  </h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link :to="{name:'Exforigenlist'}"  class="btn btn-success"> सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">
                <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body"> 
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">  
                                        <select @change="citizenshipType($event)" required   class="form-control" v-model="type" name="types_citizenship">
                                            <option selected :value="null">राहतकाे प्रकार  </option>
                                            <option  :value="1">घाइते/ अपाङ्ग क्षतिपुर्ति  </option>
                                            <option  :value="2">मृत्यु काे क्षतिपुर्ति</option>
                                        </select>
                                </div>
                                </div>
                        </div>
                    </div>
                 </div>

                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">  
                            <div class="row">
                              
                                <div class="col-md-8 ">
                                    <div class="form-group">  
                                        <label class="formlabel">  पीडित/आवेदकको  नाम *</label>
                                        <input type="text" required v-model="name" class="form-control form__input" name="name"/>
                                    </div>
                                    
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">परिचय पत्र नं *</label>
                                        <input type="text" required v-model="citizenship_id" class="form-control form__input" name="name"/>
                                    </div>
                                    
                                </div>

                                
                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label class="formlabel">परिचय पत्र  जारी मिति *</label>
                                        <input type="text" required v-model="citizenship_issue_date" class="nepaliDatePicker form-control form__input" name="name"/>
                                    </div>
                                    
                                </div>

                                


                                <div class="col-md-12">
                                    <hr>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>जिल्ला * </label>
                                        <select v-model="district_id" @change="changeItem($event)" class="form-control" required name="district_id">
                                            <option selected v-bind:value="0">तपाईको जिल्ला छान्नुहोस् </option>
                                            <option v-for="district in districtList" :key="district.id" v-bind:value="district.id">{{district.name_nep}} </option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>स्थानीय तह * </label>
                                        <select v-model="local_level_id" required class="form-control" name="local_level_id">
                                            <option selected :value="0">स्थानीय तह छान्नुहोस् </option>
                                            <option v-for="local in locallevelList" :key="local.id" v-bind:value="local.id">{{local.name}} </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label> वार्ड नं * </label>
                                        <input type="text" required v-model="woda" class="form-control" name="text"/>
                                    </div>
                                </div>

                                <div class="col-md-8 ">
                                    <div class="form-group">  
                                        <label> सडक ठेगाना * </label>
                                        <input type="text" required v-model="street" class="form-control" name="text"/>
                                    </div>
                                </div>

                                


                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>विदेशी कर्मचारीको नाम * </label>
                                        <input type="text" required  v-model="forigen_emp_name" class="form-control" name="contactnumber"/>
                                    </div>
                                </div>
                               
                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>गएको देश * </label>
                                        <input  type="text" required v-model="forigen_emp_country" class="form-control" name="street"/>
                                    </div>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>राहदानी नम्बर  * </label>
                                        <input  type="text" required v-model="passport_no" class="form-control" name="street"/>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>राहदानी जारी मिति  * </label>
                                        <input  type="text" required v-model="passport_issue_date" class="nepaliDatePicker form-control" name="street"/>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>कामको किसिम   </label>
                                        <input  type="text"  v-model="work_for" class="form-control" name="street"/>
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>मेनपावरको नाम   </label>
                                        <input  type="text"  v-model="main_power_name" class="form-control" name="street"/>
                                    </div>
                                </div>

                                 <div v-if="type==2" class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>मृत्यु दर्ता मिति</label>
                                        <input type="text" placeholder="YYYY-MM-DD" v-model="pass_away_date" class="nepaliDatePicker form-control" name="postal"/>
                                       
                                    </div>
                                </div>

                                 <div v-if="type==2" class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>मृत्यु दर्ता नं</label>
                                        <input type="text" v-model="death_report_id" class="form-control" name="postal"/>
                                       
                                    </div>
                                </div>

                                 <div v-if="type==2" class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>मृत्यु भएको कारण</label>
                                        <input type="text" v-model="pass_away_reason" class="form-control" name="postal"/>
                                       
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>नाजिक को हकदार *</label>
                                        <input type="text" required v-model="relative" class="form-control" name="postal"/>
                                       
                                    </div>
                                </div>

                                 <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label>हकदार परिचय पत्र नं *</label>
                                        <input type="text" required v-model="relative_citizenship" class="form-control" name="postal"/>
                                       
                                    </div>
                                </div>

                                <div class="col-md-4 ">
                                    <div class="form-group">  
                                        <label> हकदार को नाता * </label>
                                        <input type="text" required  v-model="relation" class="form-control" name="contactnumber"/>
                                    </div>
                                </div>

                               

                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>सम्पर्क नम्बर *</label>
                                        <input type="text" required v-model="contact_number" class="form-control" name="postal"/>
                                    </div>
                                </div>

                                <div class="col-sm-12 ">
                                <div class="form-group">
                                    <br>
                                    <button type="submit"  class="btn btn-success">पेश गर्नुहोस्  र आवश्यक कागजात अपलोड गर्नुहोस  </button>
                                </div>
                            </div>

                            </div>   
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

               

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                           <h6>आवश्यक कागजात</h6>
                     </div>
                    <div class="card-body"> 
                        <div class="row">
                           
                            <div class="col-md-12">
                               
                                <ul>
                                        <li>मृतकको मृत्यु दर्ता </li>
                                        <li>मृतकको राहदानीको प्रतिलिपि</li>
                                        <li>मृतकको नागरिकताको प्रमाण पत्र प्रतिलिपी</li>
                                        <li>मृतकको नजिकको हकदार खुलेको सम्बन्धित वडा कार्यालयको फोटो समेत प्रमाणित भएको सिफारिस </li>
                                        <li>नाता प्रमाणित (मृतक र नजिकको हकदारको)</li>
                                    </ul>
                               

                                
                            </div>

                                
                        </div>
                    </div>
                 </div>

                  
                  
                
            </div>
        </div>

        </form>

    </div>

</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"
export default {
    name:"Exforigenadd",
    data(){
        return {
            districtList:{},
            locallevelList:{},
            name:null,
            district_id:0,
            local_level_id:0,
            citizenship_id:null,
            woda:null,
            street:null,
            relation:null,
            forigen_emp_name:null,
            forigen_emp_country:null,
            passport_no:null,
            work_for:null,
            main_power_name:null,
            pass_away_reason:null,
            pass_away_date:null,
            contact_number:null,
            relative:null,
            relative_citizenship:null,
            type:null,
            citizenship_issue_date:null,
            death_report_id:null,
            passport_issue_date:null,
            loading:false
        }
    },
    components:{
        Loader    
    },
    mounted(){
        this.getDistrict();
       
    },
    methods:{
        addForm(){
            this.loading=true;
            axios.post("exforigen",{
                name:this.name,
                district_id:this.district_id,
                local_level_id:this.local_level_id,
                citizenship_id:this.citizenship_id,
                woda:this.woda,
                street:this.street,
                relation:this.relation,
                forigen_emp_name:this.forigen_emp_name,
                forigen_emp_country:this.forigen_emp_country,
                passport_no:this.passport_no,
                work_for:this.work_for,
                main_power_name:this.main_power_name,
                pass_away_reason:this.pass_away_reason,
                pass_away_date:this.pass_away_date,
                contact_number:this.contact_number,
                relative:this.relative,
                relative_citizenship:this.relative_citizenship,
                type:this.type,
                citizenship_issue_date:this.citizenship_id,
                death_report_id:this.death_report_id,
                passport_issue_date:this.passport_issue_date,
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){

                        this.loading=false;
                        this.$router.push({name:"Fileuploadlist",params:{id:response.data.data.id,type:'Exforigenlist'}});
                    }else{
                        this.loading=false;
                    }
                    
                     this.loading=false;
                }
            )
        },

        getDistrict(){
            this.loading=true;
            axios.get("district").then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                         this.districtList = response.data.data;
                         this.loading=false;
                    }
                   
                }
            )
        },
        getLocalLevel(){
            this.loading=true;
            axios.get("getLocalByDistrict/"+this.districtId).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.locallevelList = response.data.data;
                        this.loading=false;
                    }
                }
            )
        },
        changeItem(event) {
            this.districtId = event.target.value;
            this.getLocalLevel();
        },
         citizenshipType(event){
            this.loading=true;
            this.type = event.target.value;
            this.loading=false;
        }
    }
}
</script>