<template>
  <div class="Service">
     <Navbar></Navbar>
      <Sidenavbar></Sidenavbar>

        <div class="page-wrapper">

            <div class="container-fluid">
        
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">सेवा सूची अद्यावधिक गर्नुहोस्</h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link to="/servicelist" class="btn btn-success">सेवा सूची </router-link>
                                </div>
                            </div>
                        </div>
                      
                       </div>

                        <form class="form-material"  id="serviceform" method="post"
                            @submit="serviceForm"
                            >
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>Category Name *</label>
                                        <input type="text" v-model="name" class="form-control" name="name"/>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>Parent</label>
                                        <select v-model="parent_id"  name="parent_id" class="form-control">
                                            <option  v-bind:value="0">Self</option>
                                             <option v-for="cat in categoryParent" :key="cat.id" v-bind:value="cat.id">{{cat.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>Active</label>
                                        <select v-model="active" class="form-control" name="active">
                                            <option selected="selected" value="1">Yes </option>
                                            <option value="0">No </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">  
                                        <label>Slug *</label>
                                        <input type="text" v-model="slug" class="form-control" name="slug"/>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="form-group">  
                                        <label>Description *</label>
                                        <textarea v-model="description" name="description" class="form-control" rows="10" cols="10"></textarea>
                                    </div>
                                </div>

                                <div class="col-sm-6 ">
                                <div class="form-group">
                                    <button type="submit"  class="btn btn-success">पेश गर्नुहोस्  </button>
                                </div>
                            </div>

                            </div>
                            
                            
                            
                        </form>
                           
                    </div>
                  
                </div>
            </div>
        </div>

    </div>

 </div>

</template>

<script>
import axios from 'axios'
import Navbar from '@/components/Navbar.vue'
import Sidenavbar from '@/components/Sidenavbar.vue'
import Loader from '../Loader'
export default {
  name: 'Serviceupdate',
  data: function() {
        return {
            name: '', 
            parent_id: '0', 
            active: 1, 
            description: '',
            slug:"",

            categoryParent:null,
            id: null,

            loading:false
        }
    },
    mounted(){
        this.id = this.$route.params.id;
        this.parent_id = 0;
        this.getService();
        this.getCategorywithParent();
    },

    methods:{
        serviceForm:function (e) {
            e.preventDefault();
            this.sendForm();
        },

        getCategorywithParent(){
            this.loading=true;
            axios.get("categorywithparent").then(
                response=>{
                    this.categoryParent = response.data.data;
                    this.loading=false;
                }
            )
        },

        getService(){
           this.loading=true;
            axios.get("category/"+this.id).then(
                response=>{
                   // console.log(response.data);
                    if(response.data.code == 200 && response.data.status==true){
                        this.name = response.data.data.name;
                        this.parent_id = response.data.data.parent_id;
                        this.description = response.data.data.description;
                        this.active = response.data.data.active;
                        this.slug = response.data.data.slug;
                        this.loading=false;
                    }else{
                        this.loading=false;
                    }
                    console.log(response.data.data.parent_id);
                }
            )
        },

        sendForm:function () {
         this.loading=true;
        axios.patch("category/"+this.id,{
                name:this.name,
                parent_id:this.parent_id,
                active:this.active,
                description:this.description,
                slug:this.slug
        })
            .then(response=>{
              if(response.data.code == 200 && response.data.status==true){
                  this.loading=false;
                this.$router.push({path:'/servicelist'});
               }else{
   
                 this.loading=false;
               }  
            })
      }
    },
  components: {
    Navbar,
    Sidenavbar,
    Loader
  },
  props: {
    msg: String
  }
}
</script>