<template>

  <!-- <router-link to="/">Home</router-link> |
  <router-link to="/about">About</router-link>  -->

  <router-view/>


</template>

<script>
// @ is an alias to /src
 //import axios from 'axios'
export default {
  name: 'App',

}
</script>
<style>
  @import './assets/libs/nepalidate/nepali.datepicker.v3.4.min.css';
</style>