<template>

           <div class="Service">

        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div v-if="loading"><Loader></Loader></div>
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">नागरिकता सच्चाउने  निवेदक को बिबरण  </h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <router-link to="/admin" class="btn btn-success"> सूची </router-link>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-8">

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-header">
                        

                        <h5 class="float-left">हालको नागरिकता विवरण   </h5>
                        <span class="float-right">
                              <span class="badge badge-primary" v-if="citizenchData.status=='pending'">{{citizenchData.status}}</span>
                    <span class="badge badge-success" v-if="citizenchData.status=='verified'">{{citizenchData.status}}</span>
                    <span class="badge badge-danger" v-if="citizenchData.status=='rejected'">{{citizenchData.status}}</span>
                
                        </span>

                    </div>
                    <div class="card-body applicantDetail"> 
                      <div class="row">
                          
                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label class="formlabel"> ना.प्र.नं </label>
                                        <p>{{citizenchData.curent_citizenship_id}}</p>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">  
                                        <label> जारी मिति  </label>
                                        
                                          <p>{{citizenchData.current_issue_date}}</p>
                                    </div>
                                </div>
                      </div>
                    </div>
                  
                </div>

                 <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-header">
                        <h5>परिवर्तन  हुन आवश्यक  विवरण   </h5>
                    </div>
                    <div class="card-body"> 

                        <div class="row">

                            <div v-if="citizenchData.full_name_eng" class="col-md-6 ">
                                    <div  class="form-group">  
                                        <label>पूरा नाम (Eng) </label>                                        
                                        <p>{{citizenchData.full_name_eng}}</p>
                                    </div>
                                    
                                </div>
                               
                                 <div v-if="citizenchData.full_name_nep" class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>पूरा नाम (Nepali)</label>
                                         <p>{{citizenchData.full_name_nep}}</p>
                                        
                                    </div>
                                </div>

                                 <div  v-if="citizenchData.date_of_birth" class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>जन्म मिति</label>
                                         <p>{{citizenchData.date_of_birth}}</p>
                                        
                                    </div>
                                </div>

                                <div v-if="citizenchData.issue_date" class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>जारी मिति</label>
                                         <p>{{citizenchData.issue_date}}</p>
                                        
                                    </div>
                                </div>


                                <div v-if="citizenchData.father_mother_name" class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>बुबा / आमाको नाम</label>
                                         <p>{{citizenchData.father_mother_name}}</p>
                                        
                                    </div>
                                </div>

                                <div v-if="citizenchData.birth_place" class="col-md-6 ">
                                    <div class="form-group">  
                                        <label>जन्म स्थान</label>
                                        <p>{{citizenchData.birth_place}}</p>
                                        
                                    </div>
                                </div>
                        </div>
                       
                    </div>
                  
                </div>

                <div class="card">
                     <div v-if="loading"><Loader></Loader></div>
                    <div class="card-header">
                        <h5>फाईलहरू  </h5>
                    </div>
                    <div class="card-body"> 

                        <div v-for="file in fileList" :key="file.id" class="row">
                            <div class="col-md-8">
                                <span>{{file.file_name}}</span> <br>
                                <small v-if="! file.file_description">{{file.file_description}}</small>
                            </div>
                            <div class="col-md-4">
                                <router-link target="_blank" :to="{ name:'Showimage', params:{ querystring:file.file_path}}" traget="_blank"><img :src="'data:image/png;base64,'+file.file_path" class="fileuploadImage"/> </router-link>
                               
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                       
                    </div>
                  
                </div>
            </div>

            <div class="col-4">

                   <div  class="card">
                        <div v-if="loadingWoda"><Loader></Loader></div>
                          <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                         <h6>सम्बन्धित  सेवा केन्द्रकाे विवरण</h6>
                     </div>
                    <div class="card-body">
                      
                        <div class="row">
                            <div class="col-md-6">
                                {{userDetail.name}}<br>
                                <small>सेवा केन्द्र</small>
                                 <hr>
                            </div>
                            <div class="col-md-6">
                                 {{userDetail.municipility}}<br>
                                <small>न.पा / गा.पा</small>
                                <hr>
                            </div>

                             <div class="col-md-12">
                                 {{userDetail.ilaka}}<br>
                                <small>इलाका</small>
                            </div>
                        </div>
                    </div>
                </div>
                

                 <div v-if="userType !=='user' && citizenchData.status !=='verified'" class="card">
                     <div v-if="loadingPass"><Loader></Loader></div>
                     <div class="card-header">
                         <h6>कार्य</h6>
                     </div>
                    <div class="card-body">
                        
                        <form  method="post" @submit.prevent="addForm">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>कार्य छनौट गर्नुहोस्</label>
                                    <select class="form-control" v-model="status" name="types_citizenship">
                                         <option :value="0">कार्य छनौट गर्नुहोस्</option>
                                        <option value="verified">स्वीकृत </option>
                                        <option value="rejected">अस्वीकृत </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>कारण</label>
                                    <textarea v-model="description" class="form-control" rows="5"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-primary" type="submit">पेश गर्नुहोस् </button>
                                </div>
                            </div>
                        </form>
                    </div>
                 </div>

                   <div class="card">
                        <div v-if="loading"><Loader></Loader></div>
                     <div class="card-header">
                         <h6>ईतिहास</h6>
                     </div>
                    <div class="card-body">
                        <div class="row">
                            <table class="table">
                                <tr>
                                    <th>स्थिति</th>
                                    <th>मिति</th>
                                </tr>

                                 <tr v-for="history in historyList" :key="history.id">
                                    <td>{{history.status}}</td>
                                    <td>{{history.created_at}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                 </div>
                
            </div>
        </div>

       

    </div>


</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"

export default {
    name: 'Nameagedetailadmin',
    components:{
        Loader
    },
   
    data(){
        return {
            citizenchData:{},
            id:null,
            loading:false,
            loadingPass:false,
            loadingWoda:false,
            fileList:{},
            

            // history propoties
            status:0,
            description:null,
            type:"citizenshipchange",
            historyList:{},
            userDetail:[],

            //assets
            assetUrl:null,
            isUser:false,

            actionType:"Nameage",
            userType:null
        }
    },
     mounted(){
        this.id = this.$route.params.id;
        this.assetUrl = process.env.VUE_APP_API_ASSETS
        this.getById(this.id);
        this.getFileById(this.id);
        this.getByCatId();
        this.userType = localStorage.getItem("user_type");
    },
    methods: {
        showPassBox(){
            this.changePasssBox=true;
        },
        getById(id){
            this.loading=true;
            axios.get("changecitizenship/"+id).then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                        this.citizenchData = response.data.data;
                        this.getUserDetail(response.data.data.user_id);
                        this.loading=false;
                    }else{
                        this.loading=false;
                    }
                }
            )
        },
        getFileById(){
            this.loading = true;
            axios.post("filewithtype",{
                catid:this.id,
                type:this.actionType
            }).then(
                response=>{
                    if(response.data.code == 200 && response.data.status==true){
                        this.fileList = response.data.data;
                        this.loading=false;
                    }else{
                         this.loading=false;
                    }
                }
            ).catch(error=>{
                console.log(error);
                this.loading = false;
            })
        },
        addForm(){
            this.loadingPass=  true;
            axios.post("history",{
                status:this.status,
                description:this.description,
                type:this.type,
                category_id:this.id
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                      
                        this.status = 0;
                        this.description="";
                        this.loadingPass=  false;
                        this.getByCatId();
                    }else{
                         this.loadingPass=  false;
                    }
                }
            ).catch(
                error=>{
                    console.log('Erorr', error);
                     this.loadingPass=  false;
                }
            )
        },
        getByCatId(){
            this.loading = true;
            axios.post("historyBycatId",{
                catid:this.id,
                type:this.type
            }).then(
                response=>{
                    if(response.data.code==200 && response.data.status ==true){
                        this.historyList = response.data.data;
                        this.loading = false;
                    }else{
                        this.loading = false;
                    }
                }
            ).catch(
                error=>{
                    console.log('Error', error);
                     this.loading = false;
                }
            )
        },
        getUserDetail(id){
             this.loadingWoda = true;
            axios.get("userbyservice/"+id).then(response=>{
                if(response.data.code == 200 && response.data.status==true){
                    this.userDetail = response.data.data[0];
               
                    this.loadingWoda = false;
                }else{
                    this.loadingWoda = false;
                }
            }).catch(error=>{
                 this.loadingWoda = false;
                console.log(error);
                
            })
        }

      

      

        

       

      
    }
   

}
</script>



<style scoped>
    label{
        font-weight:bold;
    }
    .userloginDetail{
        border-right:1px solid #dedede;
    }
    .passwordbox p{
        cursor: pointer;
    }
</style>