<template>

    <table class="table v-middle">
         <div v-if="loading"><Loader></Loader></div>
        <thead>
            <tr class="bg-light">
                <th class="border-top-0">ना.प्र.नं </th>
                <th>जारी मिति </th>
                <th>अद्यावधिक मिति</th>
                 <th>स्थिति</th>
                <th class="border-top-0">कार्य</th>
            </tr>
        </thead>
        <tbody>
            
            <tr v-for="branch in branchLists" :key="branch.id">
                <td>{{branch.curent_citizenship_id}}</td>
                    <td>{{branch.current_issue_date}}</td>
                    <td>{{branch.updated_at}}</td>

                    <td>
                        <span class="badge badge-primary" v-if="branch.status=='pending'">{{branch.status}}</span>
                        <span class="badge badge-success" v-if="branch.status=='verified'">{{branch.status}}</span>
                        <span class="badge badge-danger" v-if="branch.status=='rejected'">{{branch.status}}</span>
                    </td>


                <td>
                <router-link class="btn btn-info btn-xs" :to="{name: 'Nameagedetailadmin',params:{id:branch.id}}">Detail </router-link> 
                </td>
                
            </tr>
            
        </tbody>
    </table>




</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"
export default {
  name: 'Nameagelistadmin',
  data () {
       return {
            branchLists:null,
            loading:false,
            id : 0
       }
  },
  components:{
      Loader
  },
  mounted(){ 
      this.branchList();
  },
  methods:{
      branchList(){
        this.loading = true;
          axios.get("changecitizenship").then(response=>{
            
              if(response.data.code == 200 && response.data.status==true){
               
                this.branchLists = response.data.data;
                 this.loading =false;
               }else{
                 
                 this.loading =false;
               }  
            })

           
      }
  }
  
}
</script>