<template>
    <div class="row">
        
        <div class="col-md-3">
            <div class="card border-primary">
                <div v-if="loading"><Loader></Loader></div>
                <h5 class="card-header">नागरिकता</h5>
                <div class="card-body">
                    <h2 class="card-title text-center">{{dashboardData.citizenship}}</h2>
                    <p class="card-text text-center">कुल नागरिकता</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-success">
                 <div v-if="loading"><Loader></Loader></div>
                <h5 class="card-header">सिफारिस तथा प्रमाणित</h5>
                <div class="card-body">
                   <h2 class="card-title text-center">{{dashboardData.proof}}</h2>
                    <p class="card-text text-center">कुल सिफारिस तथा प्रमाणित</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-info">
                 <div v-if="loading"><Loader></Loader></div>
                <h5 class="card-header" style="font-size:15px">विवरण प्रमाणित (भू.पू. भा. सैनिक)</h5>
                <div class="card-body">
                    <h2 class="card-title text-center">{{dashboardData.exarmy}}</h2>
                    <p class="card-text text-center">कुल विवरण प्रमाणित (भू.पू. भा. सैनिक)</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-warning">
                 <div v-if="loading"><Loader></Loader></div>
                <h5 class="card-header">राहत वितरण </h5>
                <div class="card-body">
                   <h2 class="card-title text-center">{{dashboardData.relief}}</h2>
                    <p class="card-text text-center">कुल राहत वितरण </p>
                   
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="card">
                 <div v-if="loadingNumber"><Loader></Loader></div>
                <div class="card-header">
                   <b> 
                    <span class="text-primary" v-if="status=='pending'">पेन्डिङ्ग</span> 
                    <span class="text-success" v-if="status=='verified'">स्वीकृत </span> 
                    <span class="text-danger" v-if="status=='rejected'">अस्वीकृत </span> 
                    भएका निबेदन हरु </b>  
                    <form class="form-inline float-right">
                        <select @change="changeStatus" v-model="status">
                            <option selected :value="'pending'">पेन्डिङ्ग</option>
                            <option :value="'verified'">स्वीकृत</option>
                            <option :value="'rejected'">अस्वीकृत</option>
                        </select>
                    </form>
                </div>
                 <div class="card-body">
                     <div class="row">
                         <div class="col-md-6">
                            
                             <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                   <b>नागरिकता</b>
                                    <span :class="statusClass" class="badge  badge-pill">{{dashbaordPending.citizenship}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                   <b>एकै व्यक्ति प्रमाणित</b>
                                    <span :class="statusClass" class="badge  badge-pill">{{dashbaordPending.nameage}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <b>अन्य व्यहोरा प्रमाणित गर्ने </b>
                                    <span :class="statusClass" class="badge  badge-pill">{{dashbaordPending.proof}}</span>
                                </li>
                            </ul>
                        </div>
                          <div class="col-md-6">
                             
                             <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                   <b>विवरण प्रमाणित (भू.पू. भा. सैनिक)</b>
                                    <span :class="statusClass" class="badge badge-pill">{{dashbaordPending.exarmy}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                   <b> पूर्ण र आंशिक क्षति (प्राकृतिक प्रकोप) राहत</b>
                                    <span :class="statusClass" class="badge badge-pill">{{dashbaordPending.relief}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <b>वैदेशिक रोजगारी काे क्षतिपुर्ति/राहत </b>
                                    <span :class="statusClass" class="badge  badge-pill">{{dashbaordPending.exforigen}}</span>
                                </li>
                            </ul>
                        </div>
                     </div>
                </div>
            </div>
        </div>

      
    </div>
</template>

<script>
import axios from 'axios'
import Loader from "../../Loader"
export default {
    name:"DashboardIcons",
    components:{
        Loader
    },
    data(){
        return {
            loading:false,
            loadingNumber:false,
            dashboardData:{},
            dashbaordPending:{},
            status:"pending",
            statusClass:'badge-primary'
        }
    },
    created(){
       
        this.getAllPending(this.status);
        setInterval(() => {
            this.getAllPending(this.status);
        }, 1800 * 1000);
        this.getAll();
        
    },
    methods:{
        getAll(){
            this.loading = true;
            axios.get("dashboard").then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.dashboardData = response.data.data;
                        this.loading = false;
                    }else{
                        this.loading = false;
                    }
                }
            ).catch(
                error=>{
                    this.loading = false;
                    console.log(error);
                }
            )
        },
        getAllPending(status){
            this.loadingNumber = true;
            axios.get("pending/"+status).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.dashbaordPending = response.data.data;
                        this.loadingNumber = false;
                    }else{
                        this.loadingNumber = false;
                    }
                }
            ).catch(
                error=>{
                    this.loadingNumber = false;
                    console.log(error);
                }
            )
        },
        changeStatus(event){
    
            this.status = event.target.value;
            if(this.status=='verified'){
                this.statusClass='badge-success';
            }else if(this.status=='rejected'){
                this.statusClass='badge-danger'
            }else{
                 this.statusClass='badge-primary'
            }
            this.getAllPending(this.status);
        }
    }
}
</script>
<style scoped>
    .badge-pill{
        font-size:12px;
    }
</style>