<template>
    <div class="container-fluid">
        
        
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">रिपोर्ट</h4>
                                
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                   <button @click="refresh()"  class="btn btn-success">Refresh </button>
                                </div>
                            </div>
                        </div>
                        <!-- title -->
                    </div>
                    <div class="table-responsive">
                        <div v-if="loading"> <Loader/> </div>
                        <table  class="table v-middle">
                           <thead>
                                <th>सूची</th>
                                <th>पेन्डिङ्ग</th>
                                <th>स्वीकृत</th>
                                <th>अस्वीकृत</th>
                           </thead>
                           <tbody>
                               <tr v-if="reportData.citizenship">
                                   <th>नागरिकता</th>
                                   <td>{{reportData.citizenship.pending}}</td>
                                   <td>{{reportData.citizenship.verified}}</td>
                                   <td>{{reportData.citizenship.rejected}}</td>
                               </tr>
                                <tr v-if="reportData.nameage">
                                   <th>एकै व्यक्ति प्रमाणित</th>
                                   <td>{{reportData.nameage.pending}}</td>
                                   <td>{{reportData.nameage.verified}}</td>
                                   <td>{{reportData.nameage.rejected}}</td>
                               </tr>
                                <tr v-if="reportData.proof">
                                   <th>आदिबासी जनजाति प्रमाणित</th>
                                    <td>{{reportData.proof.pending}}</td>
                                   <td>{{reportData.proof.verified}}</td>
                                   <td>{{reportData.proof.rejected}}</td>
                               </tr>

                                <tr v-if="reportData.exarmy">
                                   <th>पारिवारिक विवरण प्रमाणित (भू.पू. भारतीय सैनिक)</th>
                                   <td>{{reportData.exarmy.pending}}</td>
                                   <td>{{reportData.exarmy.verified}}</td>
                                   <td>{{reportData.exarmy.rejected}}</td>
                               </tr>

                               <tr v-if="reportData.relief">
                                   <th>पूर्ण र आंशिक क्षति (प्राकृतिक प्रकोप)</th>
                                   <td>{{reportData.relief.pending}}</td>
                                   <td>{{reportData.relief.verified}}</td>
                                   <td>{{reportData.relief.rejected}}</td>
                               </tr>

                               <tr v-if="reportData.exforigen">
                                   <th>वैदेशिक रोजगारी काे क्षतिपुर्ति/राहत</th>
                                    <td>{{reportData.exforigen.pending}}</td>
                                   <td>{{reportData.exforigen.verified}}</td>
                                   <td>{{reportData.exforigen.rejected}}</td>
                               </tr>
                               <tr>

                               </tr>

                               <!-- <tr>
                                   <th>जम्मा</th>
                                    <td>{{totalPending}}</td>
                                   <td>{{reportData.exforigen.verified}}</td>
                                   <td>{{reportData.exforigen.rejected}}</td>
                               </tr> -->
                           </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
   
    </div>
</template>



<script>
import axios from 'axios'
import Loader from "../../Loader"
export default {
    name:'Report',
    component:{
        Loader
    },
    data(){
        return{
            loading:false,
            reportData:{},
        }
    },
    computed:{
        
    },
    mounted(){
        this.getAllReport("pending");
    },
    methods:{
         getAllReport(status){
            this.loading = true;
            axios.get("report/"+status).then(
                response=>{
                    if(response.data.code==200 && response.data.status==true){
                        this.reportData = response.data.data;
                        this.loading = false;
                    }else{
                        this.loading = false;
                    }
                }
            ).catch(
                error=>{
                    this.loading = false;
                    console.log(error);
                }
            )
        },
        refresh(){
            this.loading = true;
            this.getAllReport("verified");
            this.loading = false;
        }
    }
}
</script>