<template>
    <div>
        <div class="col-md-12">
            <div align="center">
                <img src="https://daoilam.moha.gov.np/public/images/nepal-government.png"/>
            </div>
            
            <h4 class="text-center" style="line-height:37px;">सेवा प्रवाह तथा ब्यबस्थापन प्रणाली (SDMS) <br>
            <b style="font-size:14px;">जिल्ला प्रशासन कार्यालय, इलाम</b> </h4>
        </div>
      <div class="card">
          <div v-if="loading"><Loader></Loader></div>
                <h5 class="card-header text-center">कृपया तपाईको लगईन विवरण प्रविष्ट गर्नुहोस्</h5>
                <div class="card-body">
                
                <div v-if="errorShow" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong> त्रुटि ! </strong> <br>  तपाईले प्रविष्ट गर्नु भयको लगईन विवरण मिलेन 
                   
                </div>
                    
    <form @submit.prevent="loginForm" method="post" style="width:100%">
    <div  class="col-md-12 mb-2">
            <label for="empid">प्रयोगकर्ता नाम</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-id-badge"></i></span>
                </div>
                <input type="email" required name="empid" v-model="username" class="form-control input-block" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <label for="empid">पासवर्ड </label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-unlock-alt"></i></span>
                </div>
                <input type="password" required v-model="password" name="userpass" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>

        <div  class="col-md-12">
            <div class="input-group">
                <button type="submit" class="btn btn-primary mr-2 btn-md"> <i class="far fa-check-circle"></i> Login</button>
                <button type="reset" class="btn btn-danger btn-md"> <i class="far fa-times-circle"></i> Reset</button>
            </div>
        </div>

        </form>
                </div>
                <h5 class="card-footer text-center"><small>BETA v 1.0</small></h5>

</div>
    <p class="text-center"> &copy; सर्वाधिकार सुरक्षित जिल्ला प्रशासन कार्यालय, इलाम <br>
        <small>By: <a target="_blank" href="https://crystalsolution.com.np/">Crystal Host</a></small>
    </p>
</div>
</template>

<script>
import axios from 'axios'
import Loader from '../Loader'
export default {
  name: 'Userlogin',
  data: function() {
        return {
            username: '', 
            password: '',

            loading:false,
            errorShow:false,
            errors:null,

            styleObject: {
                color: 'red',
                fontSize: '13px'
            },
            userType:null
        }
    },
    mounted(){
    },

    methods:{
        loginForm:function () {

            if (this.usernsme && this.passsword) {
                return true;
            }

            this.errors = [];

            if (!this.username) {
                this.errors.push('Name required.');
                this.errorShow=true;

            }
            if (!this.passsword) {
                this.errors.push('Age required.');
                this.errorShow=true;
            }
          
        if(this.errors.length==1){
        this.loading = true;
        axios.post("login",{
           
            email: this.username,
            password: this.password
            
        }).then(response=>{
              if(response.data.code == 200 && response.data.status==true){
                 
                    localStorage.setItem('token',response.data.data.access_token);
                    
                    console.log(response.data.data);
                    this.loading = false;
                   this.$router.push('/');
                  
               }if(response.data.code == 400 && response.data.status==false){
                   //this.loading = false;
                   //this.errorShow=true;
                    this.loading = false;
                }else{
                 //this.loading = false;
                 //this.errorShow=true;
                  this.loading = false;
               }  
            }).catch(error=>{
                console.log('Error', error);
                this.loading=false;
                this.errorShow=true;
            }).then(function () {
                // always executed
                 this.loading = false;
            });

        }
      }

     
    },
  components: {
    Loader
  },
  props: {
    msg: String
  }
}
</script>

<style scoped>
.card-body{
    background: #f0f8ff70;
}
</style>